<template>
    <v-app :dark="darkTheme">
        <core-system></core-system>
        <core-toolbar></core-toolbar>
        <core-drawer></core-drawer>
        <core-right-drawer></core-right-drawer>
        <core-view></core-view>
        <core-footer></core-footer>
    </v-app>
</template>

<script>
    export default {
        name: "Dashboard",
    }
</script>

<style scoped>

</style>
