<template>
    <v-app>
        <landing-toolbar></landing-toolbar>

        <landing-drawer v-if="responsive"></landing-drawer>

        <v-content
          v-if="$route.name !== 'Landing'"
          id="pages"
          :class="$vuetify.theme.dark ? undefined : 'grey lighten-3'"
        >
            <v-img
              :class="{
        'v-image--sm': this.$vuetify.breakpoint.smAndDown,
        'v-image--md': this.$vuetify.breakpoint.mdAndDown
      }"
              :src="headerStyle"
              gradient="to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)"
              min-height="100%"
              aspect-ratio="16/9"
            >
                <router-view />
            </v-img>
        </v-content>

        <v-fade-transition v-else>
            <router-view />
        </v-fade-transition>

        <core-snackbar @on-close="onCloseNotification"></core-snackbar>
        <core-new-update-available></core-new-update-available>
        <landing-footer v-if="!$route.meta.hideFooter && $route.name === 'Landing'"></landing-footer>
    </v-app>
</template>

<script>
    export default {
        name: "Landing",
        metaInfo () {
            return {
                title: this.$t( `Toolbar.${this.$route.name}` ),
            }
        },
        data: () => ({
            imgs:  {
                'Login': require("@/assets/img/login.jpg"),
                'Register': require("@/assets/img/register.jpg"),
                'Pricing': require("@/assets/img/pricing.jpg"),
                'Lock': require("@/assets/img/lock.jpg"),

                'Vote': require("@/assets/img/bg.jpg"),
                'VoteCandidates': require("@/assets/img/bg.jpg"),
                'ThankYou': require("@/assets/img/bg.jpg"),
                'ThankYouSurvey': require("@/assets/img/bg.jpg"),

                'StartSurvey': require("@/assets/img/bg.jpg"),
            }
        }),
        computed: {
            headerStyle() {
                return this.imgs[ this.$route.name ]
            }
        },
    }
</script>

<style lang="sass">

</style>