<template>
  <v-row>
    <v-col cols="12"  sm="12" lg="12">
      <v-col
        cols="12"
        sm="6"
        class="mx-auto"
        lg="3"
      >
        <material-stats-card
          color="info"
          icon="mdi-vote-outline"
          :title="$t('Landing.RegisteredVotes')"
          :value="total"
          sub-icon="mdi-calendar"
          :sub-icon-func="getRecord"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
    </v-col>
    <template v-for="data in records">
      <v-col v-if="data.require_text && data.question_type_name !== 'boolean'" cols="12"  sm="12" lg="12">
        <v-card>
          <v-card-title>
            {{ data.question }}
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ attrs, on }">
                <v-btn
                  v-bind="attrs"
                  color="info"
                  icon
                  fab
                  @click="getRecord( $route.params.id )"
                  v-on="on"
                >
                  <v-icon>mdi-refresh</v-icon>
                </v-btn>
              </template>
    
              <span>{{ $t('Core.Refresh') }}</span>
            </v-tooltip>
          </v-card-title>
          <v-card-text>
            <p class="description">{{ data.answers[0].sub_question }}</p>
            <v-data-table
              :show-expand="responsive || data.question_type_name.includes('long')"
              :headers="responsive || data.question_type_name.includes('long') ? headerResponsive : headers"
              :items="data.answers[0].people_answers"
            >
              <template v-if="responsive || data.question_type_name.includes('long')" v-slot:expanded-item="items">
                <td :colspan="items.headers.length" class="is-left">
                  <ul>
                    <li> <p class="font-weight-bold">{{ $t('Input.Answer').capitalize() }}: </p>  <p>{{ items.item.answer }}</p> </li>
                  </ul>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col v-else  cols="12" class="mx-auto"  sm="12" lg="12">
        <v-card-title>{{ data.question }}</v-card-title>
        <material-chart-card
          :data="data.graphic_data.data"
          :options="data.graphic_data.options"
          :responsive-options="responsiveOptions"
          color="primary"
          hover-reveal
          ratio=""
          type="Bar"
        >
          <template v-slot:reveal-actions>
            <v-tooltip bottom>
              <template v-slot:activator="{ attrs, on }">
                <v-btn
                  v-bind="attrs"
                  color="info"
                  icon
                  @click="getRecord( $route.params.id )"
                  v-on="on"
                >
                  <v-icon>mdi-refresh</v-icon>
                </v-btn>
              </template>
          
              <span>{{ $t('Core.Refresh') }}</span>
            </v-tooltip>
          </template>
      
          <div class="text-center align-center justify-center mt-2">
            <v-simple-table class="align-center justify-center mt-6">
              <tbody>
              <tr v-for="item in  data.answers" :key="item.id">
                <td colspan=""></td>
                <td>{{ item.sub_question }}</td>
                <td>{{ item.count_answers }}</td>
              </tr>
              </tbody>
            </v-simple-table>
          </div>
      
          <template v-slot:actions>
            <v-icon
              class="mr-2"
              small
            >
              mdi-clock-outline
            </v-icon>
            <span class="caption grey--text font-weight-light">{{ `${ $t('Core.Updated') } ${right_now}` }}</span>
          </template>
        </material-chart-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
  import {PeopleAnswers} from "@/models/services/PeopleAnswers";

  export default {
    name: "AnswersGenerator",
    data: () => ({
      records: [],
      total: 0,
      responsiveOptions: [
        ['screen and (max-width: 640px)', {
          seriesBarDistance: 5,
          axisX: {
            labelInterpolationFnc: function (value) {
              return value[0]
            }
          }
        }]
      ]
    }),
    created: function () {
      this.getRecord();
    },
    methods: {
      getRecord: function () {
        this.total = 0;
        (new PeopleAnswers()).survey( this.$route.params.id )
          .then(response => {
            this.records = response.data;
            this.total = response.total;
          })
      }
    },
    computed: {
      headers: function () {
        let headers = [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('Input.Name').capitalize(), value: 'name', width: '126', align: 'center', sortable: true },
          { text: this.$t('Input.Answer').capitalize(), value: 'answer', width: '200', align: 'center', sortable: true },
          { text: this.$t('Input.CreatedAt').capitalize(), value: 'created_at', width: '300', align: 'center', sortable: true }
        ];
        
        let responsive = [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('Input.Name').capitalize(), value: 'name', width: '126', align: 'center', sortable: true },
          { text: this.$t('Input.CreatedAt').capitalize(), value: 'created_at', width: '300', align: 'center', sortable: true }
        ];
        
        return this.responsive ? responsive : headers;
      },
      headerResponsive: function () {
        return [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('Input.Name').capitalize(), value: 'name', width: '126', align: 'center', sortable: true },
          { text: this.$t('Input.CreatedAt').capitalize(), value: 'created_at', width: '300', align: 'center', sortable: true }
        ];
      }
    }
  }
</script>

<style scoped>

</style>