<template>
  <div>
    <!-- Text -->
      <v-text-field
        v-if="field.type === 'text'"
        :type="field.type"
        v-model="model"
        :hint="field.values[0].text"
        persistent-hint
        clearable
        v-validate="field.validations"
        :prepend-icon="field.icon"
        :error-messages="errors.collect( `survey.${field.name}` )"
        :error="errors.has( `survey.${field.name}` )"
        :label="field.label"
        :counter="field.counter"
        :maxlength="field.maxlength"
        :loading="isLoading"
        :readonly="isLoading"
        :name="field.name"
        :id="field.name"
        @input="onInput"
      />
    <!-- Email -->
      <v-text-field
        v-if="field.type === 'email'"
        :type="field.type"
        v-model="model"
        :hint="field.values[0].text"
        persistent-hint
        clearable
        v-validate="field.validations"
        :prepend-icon="field.icon"
        :error-messages="errors.collect( `survey.${field.name}` )"
        :error="errors.has( `survey.${field.name}` )"
        :label="field.label"
        :counter="field.counter"
        :maxlength="field.maxlength"
        :loading="isLoading"
        :readonly="isLoading"
        :name="field.name"
        :id="field.name"
        @input="onInput"
      />
    <!-- Number -->
      <v-text-field
        v-if="field.type === 'number'"
        :type="field.type"
        v-model="model"
        :hint="field.values[0].text"
        persistent-hint
        clearable
        v-validate="field.validations"
        :prepend-icon="field.icon"
        :error-messages="errors.collect( `survey.${field.name}` )"
        :error="errors.has( `survey.${field.name}` )"
        :label="field.label"
        :min="field.min"
        :loading="isLoading"
        :readonly="isLoading"
        :name="field.name"
        :id="field.name"
        @input="onInput"
      />
    <!-- Boolean -->
      <v-switch
        v-if="field.type === 'boolean'"
        v-model="model"
        @change="onChange"
        :hint="field.values[0].text"
        persistent-hint
        :true-value="1"
        v-validate="field.validations"
        :error-messages="errors.collect( `survey.${field.name}` )"
        :error="errors.has( `survey.${field.name}` )"
        :loading="isLoading"
        :readonly="isLoading"
        :name="field.name"
        :id="field.name"
        :label="field.label"
      ></v-switch>
    <!-- Options -->
      <v-radio-group v-validate="field.validations"
                     v-if="field.type === 'options'"
                     :error-messages="errors.collect( `survey.${field.name}` )"
                     :error="errors.has( `survey.${field.name}` )"
                     :loading="isLoading"
                     :readonly="isLoading"
                     :name="field.name"
                     :id="field.name"
                     :label="field.label"
                     @change="onChange"
                     v-model="model">
        <v-radio
          v-for="radio in field.values"
          :key="radio.id"
          :label="radio.text"
          :value="radio.id"
        ></v-radio>
      </v-radio-group>
    <!-- Options Multiple -->
      <v-select
      v-validate="field.validations"
      v-if="field.type === 'options_multiple'"
      multiple
      :error-messages="errors.collect( `survey.${field.name}` )"
      :error="errors.has( `survey.${field.name}` )"
      :loading="isLoading"
      :readonly="isLoading"
      :name="field.name"
      :id="field.name"
      :label="field.label"
      @change="onChange"
      v-model="model"
      :items="field.values"
      item-text="text"
      item-value="id"
      small-chips
      clearable
      deletable-chips
    ></v-select>
    <!-- Textarea -->
      <v-textarea
        v-if="field.type === 'textarea'"
        :type="field.type"
        v-model="model"
        :hint="field.values[0].text"
        persistent-hint
        clearable
        v-validate="field.validations"
        :prepend-icon="field.icon"
        :error-messages="errors.collect( `survey.${field.name}` )"
        :error="errors.has( `survey.${field.name}` )"
        :label="field.label"
        :counter="field.counter"
        :maxlength="field.maxlength"
        :loading="isLoading"
        :readonly="isLoading"
        :name="field.name"
        :id="field.name"
        @input="onInput"
      ></v-textarea>
    <!-- Rate -->
      <v-radio-group v-validate="field.validations"
                     v-if="field.type === 'rate'"
                     :error-messages="errors.collect( `survey.${field.name}` )"
                     :error="errors.has( `survey.${field.name}` )"
                     :loading="isLoading"
                     :readonly="isLoading"
                     :name="field.name"
                     :id="field.name"
                     :label="field.label"
                     @change="onChange"
                     v-model="model">
        <v-radio
          on-icon="mdi-star"
          off-icon="mdi-star-outline"
          v-for="radio in field.values"
          :key="radio.id"
          :label="radio.text"
          :value="radio.id"
        ></v-radio>
      </v-radio-group>
    <!-- List Generator -->
      <v-container v-if="field.type === 'images'">
        <v-select
          v-validate="field.validations"
          readonly
          disabled
          :error-messages="errors.collect( `survey.${field.name}` )"
          :error="errors.has( `survey.${field.name}` )"
          :loading="isLoading"
          :readonly="isLoading"
          :name="field.name"
          :id="field.name"
          :label="field.label"
          @change="onChange"
          v-model="model"
          :items="field.values"
          item-text="text"
          item-value="id"
          small-chips
          clearable
          deletable-chips
        ></v-select>
        <v-item-group
          v-model="model"
        >
          <v-row>
            <v-col
              v-for="value in field.values"
              :key="value.id"
              cols="12"
              md="12"
              sm="12"
            >
              <v-item :value="value.id" @click="model = value.id" v-slot:default="{ active, toggle }">
                <v-img
                  :src="value.src"
                  :lazy-src="value.src"
                  height="150"
                  class="text-right pa-2"
                  @click="toggle"
                >
                  {{ value.text }}
                  <v-btn
                    icon
                    dark
                  >
                    <v-icon>
                      {{ active ? 'mdi-star' : 'mdi-star-outline' }}
                    </v-icon>
                  </v-btn>
                </v-img>
              </v-item>
            </v-col>
          </v-row>
        </v-item-group>
      </v-container>
    <!-- List Generator Multiple -->
      <v-container style="max-height: 700px" v-if="field.type === 'images_multiple'">
        <v-select
          v-validate="field.validations"
          readonly
          disabled
          :error-messages="errors.collect( `survey.${field.name}` )"
          :error="errors.has( `survey.${field.name}` )"
          :loading="isLoading"
          :readonly="isLoading"
          :name="field.name"
          :id="field.name"
          :label="field.label"
          @change="onChange"
          v-model="model"
          :items="field.values"
          item-text="text"
          item-value="id"
          small-chips
          clearable
          deletable-chips
        ></v-select>
        <v-item-group
          v-model="model"
        >
          <v-row>
            <v-col
              v-for="value in field.values"
              :key="value.id"
              cols="12"
              md="12"
              sm="12"
            >
              <v-item :value="value.id" v-slot:default="{ active, toggle }">
                <v-img
                  :src="value.src"
                  :lazy-src="value.src"
                  height="150"
                  class="text-right pa-2"
                  @click="toggle"
                >
                  {{ value.text }}
                  <v-btn
                    icon
                    dark
                  >
                    <v-icon>
                      {{ active ? 'mdi-star' : 'mdi-star-outline' }}
                    </v-icon>
                  </v-btn>
                </v-img>
              </v-item>
            </v-col>
          </v-row>
        </v-item-group>
      </v-container>
  </div>
</template>

<script>
  export default {
    name: "FieldGenerator",
    props: {
      field: Object,
      value: {}
    },
    data: vm => ({
      model: vm.value.value,
      answer: {}
    }),
    methods: {
      onBlur: function(){
        this.$emit('blur', this.answer)
      },
      onChange: function(){
        if ( ['text', 'email', 'number', 'boolean', 'textarea'].indexOf(this.field.type) !== -1) {
          this.answer = {
            answer_id: this.field.values[0].id,
            value: this.model
          }
        } else {
          this.answer = {
            answer_id: this.model
          }
        }
        this.$emit('input', this.answer)
      },
      onFocus: function() {
        this.$emit('focus')
      },
      onInput: function(){
        if ( ['text', 'email', 'number', 'boolean', 'textarea'].indexOf(this.field.type) !== -1) {
          this.answer = {
            answer_id: this.field.values[0].id,
            value: this.model
          }
        } else {
          this.answer = {
            answer_id: this.model
          }
        }
        
        this.$emit('input', this.answer)
      },
      appendPasswordIconCheckbox(){
        return () => this.field.passwordVisible = !this.field.passwordVisible
      }
    },
    computed: {
      formErrors () {
        return this.$validator.errors.any('survey');
      },
      isRequired() {
        return !!(this.field.validations.required)
      }
    },
    watch: {
      'field.type': function (type) {
        if ( ['text', 'email', 'number', 'textarea'].indexOf(type) !== -1) {
          this.answer = {
            answer_id: this.field.values[0].id,
            value: this.model
          }
          this.$emit('input', this.answer)
        }
        if ( ['boolean'].indexOf(type) !== -1) {
          this.model = false;
          this.answer = {
            answer_id: this.field.values[0].id,
            value: this.model
          }
          this.$emit('input', this.answer)
        }
      },
      formErrors (value) {
        return this.$emit('has-errors', value)
      }
    }
  }
</script>

<style scoped>

</style>