<template>
  <v-container id="data-tables" tag="section">
    <v-row>
      <v-col cols="12">
        <material-card :color="accentColor" icon="mdi-ballot" inline>
          <v-card-text>

            <campaign-table @onEdit="onEdit">

              <template v-slot:header>
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary"
                           :loading="isLoading"
                           :disabled="isLoading"
                           @click="onShowFSD"
                           v-on="on"
                           fab
                           small>
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </template>
                  <span>{{$t('Core.Create')}}</span>
                </v-tooltip>

              </template>

            </campaign-table>

          </v-card-text>
        </material-card>
      </v-col>
    </v-row>

    <core-full-screen-dialog :title="$t( title )">
      <v-card-text class="mt-12">
        <v-container>
          <v-row>
            <v-col cols="12">
              <campaign-form :item="selected"></campaign-form>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </core-full-screen-dialog>

  </v-container>
</template>

<script>

  export default {
    name: "Campaigns",
    components: {
      CampaignForm: () => import( /*WebpackChunks "campaign" */ "./Forms/CampaignForm" ),
      CampaignTable: () => import( /*WebpackChunks "campaign" */ "./Tables/CampaignTable" )
    },
    data: () => ({
      selected: null,
      title: 'Core.Create'
    }),
    mounted: function () {
      this.$bus.$on('onCloseFullScreenWindow', this.onUpdated)
    },
    beforeDestroy: function () {
      this.$bus.$off('onCloseFullScreenWindow')
    },
    methods: {
      onEdit: function ( item ) {
        this.selected = item;
        this.title = 'Core.Edit';
        this.onShowFSD();
      },
      onUpdated: function () {
        this.selected = null;
        this.title = 'Core.Create';
      }
    }
  }
</script>

<style scoped>

</style>