<template>
  <v-container id="candidates" tag="section">
    <material-card :color="accentColor" icon="mdi-ballot" inline>
      <v-card-text>

        <candidates-table @onEdit="onEdit" @onTeam="onTeam">

          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="primary"
                       v-on="on"
                       @click="onShowFSD"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>

          </template>

        </candidates-table>
      </v-card-text>
    </material-card>

    <core-full-screen-dialog :title="$t( title )">
      <v-card-text class="mt-12">
        <v-container>
          <v-row>
            <v-col cols="12">
              <candidates-form :item="selected"></candidates-form>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </core-full-screen-dialog>

    <v-dialog v-model="team_modal" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="bg-primary">
          <v-btn icon dark @click="onCloseWindowTeam">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t(team_title) }}</v-toolbar-title>
        </v-toolbar>

        <v-card-text class="mt-12">
          <v-container>
            <v-row>
              <v-col cols="12">
                <team-form :candidate-id="candidate_id"></team-form>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  export default {
    name: "Candidates",
    components: {
      CandidatesForm: () => import( /*WebpackChunks "candidates" */ "./Forms/CandidatesForm" ),
      TeamForm: () => import( /*WebpackChunks "candidates" */ "./Forms/TeamForm" ),
      CandidatesTable: () => import( /*WebpackChunks "candidates" */ "./Tables/CandidatesTable" )
    },
    data: () => ({
      team_modal: false,
      selected: null,
      title: 'Core.Create',
      team_title: 'Core.Create',
      candidate_id: null
    }),
    mounted: function () {
      this.$bus.$on('onCloseFullScreenWindow', this.onUpdated)
    },
    beforeDestroy: function () {
      this.$bus.$off('onCloseFullScreenWindow')
    },
    methods: {
      onEdit: function ( item ) {
        this.selected = item;
        this.title = 'Core.Edit';
        this.onShowFSD();
      },
      onTeam: function ( item ) {
        this.candidate_id = item.id;
        this.team_title = 'Core.Create';
        this.team_modal = true;
      },
      onCloseWindowTeam: function () {
        this.candidate_id = null;
        this.team_title = 'Core.Create';
        this.team_modal = false;
      },
      onUpdated: function () {
        this.selected = null;
        this.title = 'Core.Create';
      }
    }
  }
</script>

<style scoped>

</style>