<template>
  <v-container id="data-tables" tag="section">
    <v-row>
      <v-col cols="12">
        <material-card :color="accentColor" icon="mdi-help-circle" inline>
          <v-card-text>
            <security-question-table @onEdit="onEdit">
              <template v-slot:header>
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary"
                           v-on="on"
                           @click="dialog = true"
                           :loading="isLoading"
                           :disabled="isLoading"
                           fab
                           small>
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </template>
                  <span>{{$t('Core.Create')}}</span>
                </v-tooltip>
              </template>
            </security-question-table>
          </v-card-text>
        </material-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t( title ) }}</span>
          <v-spacer></v-spacer>
          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <SecurityQuestionForm :item="selected">
            </SecurityQuestionForm>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>

  export default {
    name: "SecurityQuestion",
    components: {
      SecurityQuestionForm: () => import( /* WebpackChunks "security_question" */ "./Forms/SecurityQuestionForm" ),
      SecurityQuestionTable: () => import( /* WebpackChunks "security_question" */ "./Tables/SecurityQuestionTable" )
    },
    data: () => ({
      dialog: false,
      selected: null,
      title: 'Core.Create'
    }),
    mounted: function () {
      this.$bus.$on('onCloseFullScreenWindow', this.onUpdated)
    },
    beforeDestroy: function () {
      this.$bus.$off('onCloseFullScreenWindow')
    },
    methods: {
      onClose: function () {
        this.dialog = false;
        this.$bus.$emit('onCloseFullScreenWindow')
      },
      onEdit: function ( item ) {
        this.dialog =  true;
        this.selected = item;
        this.title = 'Core.Edit';
      },
      onUpdated: function () {
        this.dialog = false;
        this.selected = null;
        this.title = 'Core.Create';
      }
    }
  }
</script>

<style scoped>

</style>