<template>
  <v-container id="voters" tag="section">
    <material-card :color="accentColor" icon="mdi-vote-outline" inline>
      <v-card-text>
        <VotersTable @onEdit="onEdit">
          <template v-slot:header>

            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="primary"
                       class="mr-2 my-2"
                       :loading="isLoading"
                       :disabled="isLoading"
                       @click="onCreate"
                       v-on="on"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>

            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="primary"
                       class="mr-2 my-2"
                       @click="onMass"
                       :loading="isLoading"
                       :disabled="isLoading"
                       v-on="on"
                       fab
                       small>
                  <v-icon>mdi-file-document-outline</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.CreateMass')}}</span>
            </v-tooltip>

          </template>
        </VotersTable>

      </v-card-text>
    </material-card>


    <core-full-screen-dialog :title="$t( title )">
      <v-card-text class="mt-12">
        <v-container>
          <v-row>
            <v-col cols="12">
              <component v-bind:is="component" :item="selected"></component>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </core-full-screen-dialog>

  </v-container>
</template>

<script>
  export default {
    name: "Voters",
    components: {
      VotersFormExcel: () => import( /*WebpackChunks "voters" */ "./Forms/VotersFormExcel" ),
      VotersForm: () => import( /*WebpackChunks "voters" */ "./Forms/VotersForm" ),
      VotersTable: () => import( /*WebpackChunks "voters" */ "./Tables/VotersTable" ),
    },
    data: () => ({
      title: null,
      component: null,
      selected: null,
    }),
    mounted: function () {
      this.$bus.$on('onCloseFullScreenWindow', this.onClose)
    },
    beforeDestroy: function () {
      this.$bus.$off('onCloseFullScreenWindow')
    },
    methods: {
      onEdit: function ( item ) {
        this.selected = item;
        this.title = 'Core.Edit';
        this.component = 'VotersForm';
        this.onShowFSD();
      },
      onMass: function () {
        this.title = 'Core.CreateMass';
        this.component = 'VotersFormExcel';
        this.onShowFSD();
      },
      onCreate: function () {
        this.title = 'Core.Create';
        this.component = 'VotersForm';
        this.onShowFSD();
      },
      onClose: function () {
        this.component = null;
        this.title = null;
      }
    }
  }
</script>

<style scoped>

</style>