<template>
  <v-card
    v-bind="$attrs"
    :class="classes"
    class="v-card--material"
  >
    <div class="d-flex grow flex-wrap">
      <v-avatar
        v-if="avatar"
        size="128"
        class="mx-auto v-card--material__avatar elevation-12"
        color="grey"
      >
        <v-img v-if="avatar" :lazy-src="avatar" :src="avatar" />
        <v-icon v-else dark size="90">mdi-account</v-icon>
      </v-avatar>

      <v-avatar
        v-else-if="iconAvatar"
        size="128"
        class="mx-auto v-card--material__avatar"
        :color="iconAvatarColor"
      >
        <v-icon dark size="90">{{ iconAvatar }}</v-icon>
      </v-avatar>

      <v-sheet
        v-else
        :class="{
          'pa-5': !$slots.image,
          'elevation-12': $slots.image,
        }"
        :color="color"
        :max-height="icon ? 72 : undefined"
        :width="inline || icon ? 'auto' : '100%'"
        class="text-start v-card--material__heading mb-n6"
        dark
      >
        <slot
          v-if="$slots.heading"
          name="heading"
        />

        <slot
          v-else-if="$slots.image"
          name="image"
        />

        <div
          v-else-if="title && !icon"
          class="title font-weight-light"
          v-text="title"
        ></div>

        <v-icon
          v-else-if="icon"
          size="32"
          v-text="icon"
        />

        <div
          v-if="text"
          class="category font-weight-thin"
          v-text="text"
        ></div>
      </v-sheet>

      <div
        v-if="$slots['after-heading']"
        class="ml-6"
      >
        <slot name="after-heading" />
      </div>

      <v-col
        v-if="hoverReveal"
        cols="12"
        class="text-center py-0 mt-n12"
      >
        <slot name="reveal-actions" />
      </v-col>

      <div
        v-else-if="icon && title"
        class="ml-6"
      >
        <div
          class="title font-weight-light"
          v-text="title"
        ></div>
      </div>
    </div>


    <slot />

    <template v-if="$slots.actions">
      <v-card-actions class="pb-0">
        <slot name="actions" />
      </v-card-actions>
    </template>
  </v-card>
</template>

<script>
  export default {
    name: 'MaterialCard',

    props: {
      avatar: {
        type: String,
        default: ''
      },
      iconAvatar: {
        type: String,
        default: ''
      },
      iconAvatarColor: {
        type: String,
        default: 'info'
      },
      color: {
        type: String,
        default: 'primary'
      },
      backButton: {
        type: Boolean,
        default: true
      },
      backButtonTo: {
        type: [String, Object],
        default: '/'
      },
      hoverReveal: {
        type: Boolean,
        default: false
      },
      isPageProfile: {
        type: Boolean,
        default: false
      },
      icon: {
        type: String,
        default: undefined
      },
      image: {
        type: Boolean,
        default: false
      },
      inline: {
        type: Boolean,
        default: false
      },
      text: {
        type: String,
        default: ''
      },
      title: {
        type: String,
        default: ''
      }
    },

    computed: {
      classes () {
        return {
          'v-card--material--has-heading': this.hasHeading,
          'v-card--material--hover-reveal': this.hoverReveal,
          'mt-12 pa-3': !this.isPageProfile
        }
      },
      hasHeading () {
        return Boolean(this.$slots.heading || this.title || this.icon)
      },
      headingColor () {
        return `v-card-heading-${this.color}`
      },
      hasAltHeading () {
        return Boolean(this.$slots.heading || (this.title && this.icon))
      }
    }
  }
</script>

<style lang="sass">
  .v-card--material
    &__btn
      position: relative
      top: -64px
      margin-bottom: -32px
    &__avatar
      position: relative
      top: -64px
      margin-bottom: -32px

    &__heading
      position: relative
      top: -30px
      transition: .3s ease
      z-index: 1

    &.v-card--material--hover-reveal:hover
      .v-card--material__heading
        transform: translateY(-40px)
</style>
