<template>
  <material-card
    :icon="icon"
    class="v-card--material-stats"
    v-bind="$attrs"
    :color="color"
    v-on="$listeners"
  >
    <template v-slot:after-heading>
      <div :class="viewRTL ? 'text-xs-left' : 'text-xs-right'">
        <p
          class="category grey--text font-weight-light"
          v-text="title"
        ></p>
        <h3 class="title display-1 font-weight-light text-right" v-if="animate(value)">
          {{ prefixValue }} <animated-number :formatValue="formatToPrice" :duration="500" :round="roundDecimal" :delay="200" :value="value"></animated-number> <small>{{ smallValue }}</small>
        </h3>
        <h3 class="title display-1 font-weight-light text-right" v-else>
          {{ prefixValue }}  {{ value }} <small>{{ smallValue }}</small>
        </h3>
      </div>
    </template>

    <v-col
      cols="12"
      class="px-0"
    >
      <v-divider />
    </v-col>

    <v-icon
      @click="subIconFunc"
      :color="subIconColor"
      size="20"
      class="mx-2"
    >
      {{ subIcon }}
    </v-icon>

    <span
      :class="subTextColor"
      class="caption grey--text font-weight-light"
    > {{ subText }} </span>


  </material-card>
</template>

<script>
  import AnimatedNumber from "animated-number-vue";
  import Card from './Card'

  export default {
    name: 'MaterialStatsCard',
    components: {
      AnimatedNumber
    },
    inheritAttrs: false,
    props: {
      ...Card.props,
      icon: {
        type: String,
        required: true
      },
      subIcon: {
        type: String,
        default: undefined
      },
      subIconColor: {
        type: String,
        default: undefined
      },
      subTextColor: {
        type: String,
        default: undefined
      },
      subText: {
        type: String,
        default: undefined
      },
      title: {
        type: String,
        default: undefined
      },
      prefixValue: {
        type: String,
        default: undefined
      },
      toFormat: {
        type: String,
        default: undefined
      },
      value: {
        type: [String, Number],
        default: undefined
      },
      smallValue: {
        type: [String, Number],
        default: undefined
      },
      subIconFunc: {
        type: Function,
        default: () => ({}),
      },
      roundDecimal: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      animate: function ( data ) {
       return !isNaN( data )
      },
      formatToPrice(value) {
        if ( this.toFormat === 'money' ) {
          let formatter = new Intl.NumberFormat('es-CO', {
            style: 'currency',
            currency: 'COP',
          });
          return  formatter.format(value);
        }

        if ( this.toFormat === 'decimal' ) {
          return new Intl.NumberFormat().format(value)
        }

        return value;
      }
    }
  }
</script>

<style lang="sass">
  .v-card--material-stats
    display: flex
    flex-wrap: wrap
    position: relative

    > div:first-child
      justify-content: space-between

    .v-card
      border-radius: 4px
      flex: 0 1 auto

    .v-card__text
      display: inline-block
      flex: 1 0 calc(100% - 120px)
      position: absolute
      top: 0
      right: 0
      width: 100%

    .v-card__actions
      flex: 1 0 100%
</style>
