<template>
  <v-card v-bind="$attrs" class="text-center v-card--testimony">
    <div class="pt-6">
      <v-icon
        color="black"
        x-large
      >
        mdi-format-quote-close
      </v-icon>
    </div>

    <v-card-text
      class="description font-weight-light font-italic mb-3"
      v-text="blurb"
    />

    <div
      class="title font-weight-light mb-2"
      v-text="author"
    ></div>

    <div
      class="category font-weight-regular text-uppercase grey--text"
      v-text="handle"
    >
    </div>

    <div v-if="coauthor"
      class="caption font-weight-regular text-uppercase grey--text"
      v-text="coauthor"
    >
    </div>

    <v-avatar
      class="elevation-12"
      color="grey"
      size="128"
    >
      <v-img
        v-if="avatar"
        :alt="author"
        :src="avatar"
        :lazy-src="avatar"
      />
      <span v-else class="white--text headline">{{ initials( author ) }}</span>
    </v-avatar>

    <v-avatar
      v-if="coauthor"
      class="elevation-12 other"
      color="info"
      size="50"
    >
      <v-img
        v-if="coavatar"
        :alt="coauthor"
        :src="coavatar"
        :lazy-src="coavatar"
      />
      <v-icon v-else class="white--text">mdi-account</v-icon>
    </v-avatar>

    <v-badge
      color="red"
      class="other"
      bottom
    >
      <template v-slot:badge>
        <span v-if="badge > 1">{{ badge }}</span>
      </template>
    </v-badge>


    <div />
  </v-card>
</template>

<script>
  export default {
    name: 'Testimony',
    props: {
      author: {
        type: String,
        default: ''
      },
      coauthor: {
        type: String,
        default: ''
      },
      avatar: {
        type: String,
        default: 'https://demos.creative-tim.com/material-dashboard-pro/assets/img/faces/card-profile1-square.jpg'
      },
      coavatar: {
        type: String,
        default: 'https://demos.creative-tim.com/material-dashboard-pro/assets/img/faces/card-profile1-square.jpg'
      },
      badge: {
        type: Number,
        default: 0
      },
      blurb: {
        type: String,
        default: ''
      },
      handle: {
        type: [String, Number],
        default: ''
      }
    },
    methods: {
      initials ( text ) {
        if (!text) return ''
        let initials = '';
        text.split(' ').forEach(val => {
          initials += val.substring(0, 1)
        })
        return initials.toUpperCase()
      }
    }
  }
</script>

<style lang="sass">
  .v-card--testimony
    padding-bottom: 72px
    margin-bottom: 64px

    .v-avatar:not(.other)
      position: absolute
      left: calc(50% - 64px)
      top: calc(100% - 64px)

    .v-avatar.other
      position: absolute
      left: calc(50% + 24px)
      top: calc(100% + 24px)
    .v-badge.other
      position: absolute
      left: calc(50% + 64px)
      top: calc(100% + 64px)
</style>
