<template>
    <v-navigation-drawer
        id="core-navigation-drawer"
        v-model="showDrawer"
        :mini-variant.sync="miniDrawer"
        :right="viewRTL"
        :src="bg"
        mobile-break-point="991"
        width="260"
        app
        v-bind="$attrs"
        :dark="sideBarColor !== 'rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)'"
    >
        <template v-slot:img="props">
            <v-img
              :gradient="`to bottom, ${sideBarColor}`"
              v-bind="props"
            />
        </template>

        <v-list dense nav>
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title class="text-uppercase font-weight-regular title text-center">
                        <span  v-if="miniDrawer">{{ initials($t('Landing.Title')) }}</span> <span v-if="!miniDrawer">{{ $t('Landing.Title') }}</span>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider class="mb-1" />

            <v-list-item v-if="miniDrawer">
                <v-btn @click.stop="toggleMini" color="transparent" class="elevation-0" small>
                    <v-icon>{{ viewRTL ? 'mdi-chevron-left' : 'mdi-chevron-right' }}</v-icon>
                </v-btn>
            </v-list-item>

            <v-list-item>

                <v-list-item-avatar>
                    <v-avatar :color="accentColor">
                        <span class="white--text headline">{{ initials( username ) }}</span>
                    </v-avatar>
                </v-list-item-avatar>

                <v-list-item-title>{{ username }}</v-list-item-title>

                <v-btn icon v-if="!miniDrawer" @click.stop="toggleMini" small>
                    <v-icon>{{ viewRTL ? 'mdi-chevron-right' : 'mdi-chevron-left' }}</v-icon>
                </v-btn>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item v-if="responsive && !miniDrawer">
                <v-text-field class="search-input" label="Buscar..." color="success"></v-text-field>
            </v-list-item>

            <v-list-item
              to="/landing" :active-class="accentColor"
              link class="mt-2"
            >
                <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{ $t( `Toolbar.Landing` ) }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <template v-for="item in items">
                <v-list-group
                  v-if="item.children"
                  class="mt-2"
                  color="white"
                  :active-class="accentColor"
                  :prepend-icon="item.icon"
                >
                    <template v-slot:activator>
                        <v-list-item-title>{{ $t(`Dashboard.${item.name}`) }}</v-list-item-title>
                    </template>

                    <v-list-item
                      v-for="child in item.children"
                      :key="item.title"
                      link
                      class="mt-2 mr-4"
                      color="white"
                      :active-class="accentColor"
                      :to="`${item.path}/${child.path}`"
                    >
                        <v-list-item-icon v-text="initials($t(`Dashboard.${child.name}`))">
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>{{ $t(`Dashboard.${child.name}`) }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                </v-list-group>
                <v-list-item
                  v-else
                  :key="item.title"
                  :to="item.path"
                  color="white"
                  :active-class="accentColor"
                  link
                  class="mt-2"
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ $t(`Dashboard.${item.name}`) }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>

        </v-list>

    </v-navigation-drawer>
</template>

<script>
    import paths from '@/router/paths'
    export default {
        name: "Drawer",
        data: () => ({
            logo: require('@/assets/logo.png'),
            color: 'primary',
            colors: [
                'primary',
                'blue',
                'success',
                'red',
                'teal',
            ],
        }),
        methods: {
            initials ( text ) {
                if (!text) return ''
                let initials = '';
                text.split(' ').forEach(val => {
                    initials += val.substring(0, 1)
                })
                if ( initials.length > 2 ) {
                    initials = initials.substr(0, 1) + initials.substr(2, 1);
                }
                return initials.toUpperCase()
            }
        },
        computed: {
            username: function () {
                return this.$user.part_name
            },
            items: function () {
                return paths;
            },
            sidebarOverlayGradiant () {
                return `${this.$store.state.app.sidebarBackgroundColor}`
            },
            bg () {
                return this.$store.state.app.image;
            },
        }
    }
</script>

<style lang="scss">
    #core-navigation-drawer {
        .v-list-item--link.v-list-item--active:before {
            opacity: 0
        }
    }
</style>

