<template>
  <v-footer
    id="dashboard-core-footer"
    height="82"
    absolute
    class="font-weight-medium mt-12"
  >
    <v-row
        align="center"
        no-gutters
      >
        <v-col
          v-for="(link, i) in links"
          :key="i"
          class="text-center hidden-sm-and-down"
          cols="6"
          md="auto"
        >
          <a
            :href="link.href"
            class="mr-0 mr-md-6"
            rel="noopener"
            target="_blank"
            v-text="link.text"
          ></a>
        </v-col>

        <v-spacer class="hidden-sm-and-down" />

        <v-col
          cols="12"
          md="auto"
        >
          <div class="body-1 font-weight-light pt-6 pt-md-0 text-center">
            &copy; {{ (new Date()).getFullYear() }}
            <a href="javascript:;"> {{ text }} </a>, {{ $t('Footer.MadeWith') }} <v-icon  size="17">mdi-heart</v-icon> {{ $t('Footer.ForABetterWeb') }}
          </div>
        </v-col>
      </v-row>
  </v-footer>
</template>

<script>
  export default {
    name: 'DashboardCoreFooter',

    data: () => ({
      text: process.env.VUE_APP_FOOTER,
      links: [
        {
          href: 'javascript',
          text: process.env.VUE_APP_FOOTER
        }
      ]
    })
  }
</script>

<style lang="sass">

</style>
