<template>
  <v-snackbar
    v-model="snackWithButtons"
    :timeout="0"
    bottom
    left
  >
    {{ $t('Core.NewVersion') }}
    <v-spacer />
    <v-btn
      dark
      text
      color="info"
      @click.native="refreshApp"
    >
      {{ $t('Core.Refresh') }}
    </v-btn>
    <v-btn
      icon
      @click="snackWithButtons = false"
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
  export default {
    name: "NewUpdateAvailable",
    data: () => ({
      refreshing: false,
      registration: null,
      snackWithButtons: false,
    }),
    methods: {
      showRefreshUI(e) {
        // Display a snackbar inviting the user to refresh/reload the app due
        // to an app update being available.
        // The new service worker is installed, but not yet active.
        // Store the ServiceWorkerRegistration instance for later use.
        this.registration = e.detail;
        this.snackWithButtons = true;
      },
      refreshApp() {
        this.snackWithButtons = false;
        window.location.reload();
        // Protect against missing registration.waiting.
        if (!this.registration || !this.registration.waiting) { return; }
        this.registration.waiting.postMessage('skipWaiting');
      },
    },
    created() {
      if ( document ) {
        // Listen for swUpdated event and display refresh snackbar as required.
        document.addEventListener('swUpdated', this.showRefreshUI, { once: true });
      }

      if ( navigator.serviceWorker ) {
        // Refresh all open app tabs when a new service worker is installed.
        navigator.serviceWorker.addEventListener('controllerchange', () => {
          if (this.refreshing) return;
          this.refreshing = true;
          window.location.reload();
        });
      }

    },
  }
</script>

<style scoped>

</style>