<template>
    <v-app-bar extension-height="0"  dense  app>

        <v-app-bar-nav-icon @click.stop="onClickBtn"></v-app-bar-nav-icon>

        <v-toolbar-title>{{ $t(`Dashboard.${$route.name}`) }}</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-menu
          bottom
          left
          min-width="200"
          offset-y
          origin="top right"
          transition="scale-transition"
        >
            <template v-slot:activator="{ attrs, on }">
                <v-btn
                  icon
                  min-width="0"
                  v-on="on"
                  v-bind="attrs"
                >
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </template>

            <v-list
              :tile="false"
              flat
              nav
            >
                <app-bar-item>
                    <v-list-item-title @click="onLock">{{ $t('Core.Lock') }}</v-list-item-title>
                </app-bar-item>
                <app-bar-item>
                    <v-list-item-title @click="onLogout">{{ $t('Core.Logout') }}</v-list-item-title>
                </app-bar-item>
            </v-list>
        </v-menu>

        <v-menu bottom :right="viewRTL" :left="!viewRTL" content-class="dropdown-menu" offset-y transition="slide-y-transition">
            <template v-slot:activator="{ on }">
                <v-btn v-on="on" icon>
                    <v-icon v-if="appLanguage === 'es'">$vuetify.icons.es</v-icon>
                    <v-icon v-else>$vuetify.icons.en</v-icon>
                </v-btn>
            </template>
            <v-card>
                <v-list dense>
                    <v-list-item>
                        <v-list-item-title @click="onClickLang('es')"><v-icon>$vuetify.icons.es</v-icon> ES</v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-title @click="onClickLang('en')"><v-icon>$vuetify.icons.en</v-icon> EN</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-menu>

        <v-btn icon @click.stop="onClickRight">
            <v-icon>mdi-settings</v-icon>
        </v-btn>

        <core-page-progress-bar
          color="deep-purple accent-4"
          slot="extension"
        ></core-page-progress-bar>
    </v-app-bar>
</template>

<script>
    // Components
    import { VHover, VListItem } from 'vuetify/lib'
    export default {
        name: "Toolbar",
        components: {
            AppBarItem: {
                render (h) {
                    return h(VHover, {
                        scopedSlots: {
                            default: ({ hover }) => {
                                return h(VListItem, {
                                    attrs: this.$attrs,
                                    class: {
                                        'black--text': !hover,
                                        'white--text secondary elevation-12': hover
                                    },
                                    props: {
                                        activeClass: '',
                                        dark: hover,
                                        link: true,
                                        ...this.$attrs
                                    }
                                }, this.$slots.default)
                            }
                        }
                    })
                }
            }
        },
        methods: {
            onLogout: function () {
                this.$auth.logout()
                  .then((response) => {
                      this.notifyOnSuccess( response.data )
                  })
                  .catch( (error)  => {
                      this.notifyOnError( error.message )
                  })
                  .finally(() => {
                      window.location.reload();
                  })
            },
            onLock: function () {
                this.$auth.lock()
                  .then((response) => {
                      this.notifyOnSuccess( response.data )
                  })
                  .catch( (error)  => {
                      this.notifyOnError( error.message )
                  })
                  .finally(() => {
                      window.location.reload();
                  })
            }
        }
    }
</script>

<style >
    .v-toolbar__extension {
        padding: 0px !important;
    }
    .v-app-bar.v-app-bar--fixed {
        position: fixed;
        top: 0;
        z-index: 4;
    }
</style>
