<template>
  <div>
    <v-data-table class="mt-6" :headers="columns" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }" :items="records" show-expand item-key="id"
                  :loading="isLoading" :options.sync="pagination"  :server-items-length="total" :loading-text="$t('Core.Loading')" >

      <template v-slot:top>

        <v-toolbar class="elevation-0">

          <slot name="header"></slot>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="primary"
                     class="mr-2"
                     @click="getRecords"
                     :loading="isLoading"
                     :disabled="isLoading"
                     v-on="on"
                     fab
                     small>
                <v-icon>mdi-reload</v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Refresh')}}</span>
          </v-tooltip>

          <v-spacer></v-spacer>

          <v-text-field
            v-model="query"
            append-icon="mdi-magnify"
            class="ml-auto"
            :label="$t('Input.Search')"
            hide-details
            single-line
            style="max-width: 250px;"
          />
        </v-toolbar>

      </template>

      <template  v-slot:no-data>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>


      <template v-slot:item.action="{ item }">

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn color="warning" v-on="on" small fab class="mr-2" @click="onEdit(item)">
              <v-icon>
                mdi-pencil
              </v-icon>
            </v-btn>
          </template>
          <span>{{$t('Core.Edit')}}</span>
        </v-tooltip>


        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn color="danger" v-on="on" small fab class="mr-2" @click="onDelete(item.id)">
              <v-icon color="white">
                mdi-close
              </v-icon>
            </v-btn>
          </template>
          <span>{{$t('Core.Delete')}}</span>
        </v-tooltip>

      </template>

      <template v-slot:expanded-item="items">
        <td colspan="6" class="is-left">
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.CreatedAt').capitalize() }}: </p>  <p>{{ items.item.created_at }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.UpdatedAt').capitalize() }}: </p>  <p>{{ items.item.updated_at }}</p> </li>
          </ul>
        </td>
      </template>

    </v-data-table>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="dialog = false">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  import {SecurityQuestion} from "@/models/services/SecurityQuestion";

  export default {
    name: "SecurityQuestionTable",
    data: () => ({
      dialog: false,
      id: null,
      total: 0,
      pagination: {},
      expand: false,
      query: null,
      records: []
    }),
    created: function () {
      this.getRecords()
    },
    mounted: function() {
      let that = this;
      this.$bus.$on('onRefreshTable', that.getRecords );
    },
    methods: {
      getRecords: _.debounce( function () {
        const { sortBy, sortDesc, page, itemsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new SecurityQuestion()).index({ params: { per_page: itemsPerPage, order: sortDesc, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch((error) => this.notifyOnError( error.message ))
      }, 700),
      onEdit: function( item ) {
        this.$emit('onEdit', item);
      },
      onConfirm: function (  ) {
        if ( this.id ) {
          (new SecurityQuestion()).destroy( this.id )
            .then(response => this.notifyOnSuccess( response.data ))
            .then(() => this.getRecords())
            .then(() => this.dialog = false)
            .catch(error => this.notifyOnError( error.message ))
        }
      },
      onDelete: function( id ) {
        this.id = id;
        this.dialog = true;
      }
    },
    computed: {
      columns: function () {
        return [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('Input.Question').capitalize(), value: 'security_question', width: '126', align: 'center', sortable: true },
          { text: this.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false }
        ];
      },
    },
    watch: {
      query: function () {
        this.getRecords();
      },
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true
      }
    },
    beforeDestroy() {
      this.$bus.$off('onRefreshTable');
    }
  }
</script>

<style scoped>

</style>