<template>
  <div>
    <v-data-iterator
      :items="records"
      :items-per-page.sync="itemsPerPage"
      item-key="id"
      :loading="isLoading && !responsive"
      :footer-props="{ 'items-per-page-options': itemsPerPageArray }"
      :options.sync="pagination"
      :loading-text="$t('Core.Loading')"
      :server-items-length="total"
    >
      <template v-slot:header>
        <v-toolbar
          color="transparent"
          class="mb-1 elevation-0"
        >

          <v-row>
            <v-col cols="12" class="text-right" sm="12" lg="4">

              <slot name="header"></slot>

              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="primary"
                         class="mr-2 my-2"
                         :loading="isLoading"
                         :disabled="isLoading"
                         @click="getRecords"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>
            </v-col>

            <v-col cols="12" sm="12" lg="4">
              <v-text-field
                v-model="query"
                class="mr-auto my-2"
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                color="primary"
                hide-details
                prepend-inner-icon="mdi-magnify"
                :label="$t('Input.Search')"
              ></v-text-field>
            </v-col>

            <v-col class="hidden-sm-and-down text-center"  cols="12" sm="12" lg="4">
              <v-select
                v-model="sortBy"
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                hide-details
                class="mr-auto my-2"
                :items="filters"
                item-text="text"
                item-value="value"
                prepend-inner-icon="mdi-sort-variant"
                :label="$t('Core.SortBy')"
              ></v-select>

            </v-col>

          </v-row>

        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.id" cols="12" lg="6">
            <v-hover v-slot:default="{ hover }">
              <material-card  :elevation="hover ? 12 : 2" color="primary" icon="mdi-ballot" :title="`${item.id} - ${item.name}`" inline>

                <v-card-text class="pb-0">

                  <p class="caption hidden-md-and-up">{{$t('Input.AvailableFrom').capitalize() }} {{ item.available_from | chip_dates( $i18n.locale ) }}</p>
                  <p class="caption hidden-md-and-up">{{$t('Input.AvailableUntil').capitalize() }} {{ item.available_until | chip_dates( $i18n.locale ) }}</p>

                  <v-expansion-panels>

                    <v-expansion-panel>
                      <v-expansion-panel-header>  {{ $t('Input.Description').capitalize() }} </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <p class="description">{{ `${$t('Input.Pin').capitalize()}: ${item.pin}` }}</p>
                        <p class="description">{{ `${$t('Input.TimeBetweenQuestion').capitalize()}: ${item.time_between_questions}` }}</p>
                        <p class="description" v-text="item.description"></p>
                        <p>
                          <v-btn color="primary" text class="mr-2"
                                 :loading="isLoading"
                                 :disabled="isLoading"
                                 @click="onExcel(item.id)">
                            <v-icon left>
                              mdi-file
                            </v-icon>
                            Excel
                          </v-btn>
                        </p>
                        <p class="caption">{{ $t('Input.CreatedAt').capitalize() }}: {{ item.created_at }}</p>
                        <p class="caption">{{ $t('Input.UpdatedAt').capitalize() }}: {{ item.updated_at }}</p>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    
                    <v-expansion-panel>
                      <v-expansion-panel-header>  {{ $t('Input.Question').capitalize() }} </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <template v-if="item.questions.length > 0">
                          <v-menu
                            v-for="question in item.questions"
                            :key="question.id"
                            close-on-content-click
                            bottom
                            right
                            transition="scale-transition"
                            origin="top left"
                          >
                            <template v-slot:activator="{ on }">
                              <v-chip v-on="on" class="mr-4 my-3" close  pill @click:close="">
                                <v-avatar left color="grey">
                                  <v-icon color="white">mdi-help</v-icon>
                                </v-avatar>
                                {{ responsive ? question.question.substr(0, 3).concat('...') : question.question }}
                              </v-chip>
                            </template>
      
      
                            <v-card max-height="300" max-width="600">
                              <v-list dark>
                                <v-list-item>
                                  <v-avatar left color="grey">
                                    <v-icon color="white">mdi-help</v-icon>
                                  </v-avatar>
                                  <v-list-item-content class="ml-2">
                                    <v-list-item-title>{{ question.question }}</v-list-item-title>
                                    <v-list-item-subtitle>{{ question.question_type_description }}</v-list-item-subtitle>
                                  </v-list-item-content>
            
                                  <v-list-item-action>
                                    <v-btn icon @click="onCreateAnswer( question.id )">
                                      <v-icon>mdi-plus</v-icon>
                                    </v-btn>
                                  </v-list-item-action>
          
                                </v-list-item>
                              </v-list>
                              <v-list >
                                <v-list-item v-if="question.answers.length > 0" v-for="answer in question.answers" :key="answer.id" @click="() => {}" >
                                  <v-list-item-content >{{ answer.answer }}</v-list-item-content>
                                </v-list-item>
                                <v-list-item v-else>
                                  <v-list-item-content >
                                    <core-empty-state class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
                                      <v-btn color="primary" v-if="showBtn" @click="dialog_answers_create = true"> {{ `${$t('Core.Add')} ${ $t('Input.Answer') }` }} </v-btn>
                                    </core-empty-state>
                                  </v-list-item-content>
                                </v-list-item>
                              </v-list>
                            </v-card>
    
                          </v-menu>
                        </template>
  
                        <core-empty-state v-else class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
                          <v-btn color="primary" v-if="showBtn" @click="dialog_questions_create = true"> {{ `${$t('Core.Add')} ${ $t('Input.Question') }` }} </v-btn>
                        </core-empty-state>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    

                  </v-expansion-panels>


                </v-card-text>

                <v-card-actions>

                  <v-tooltip top v-if="showBtn">
                    <template v-slot:activator="{ on }">
                      <v-btn color="warning" v-on="on"
                             :loading="isLoading"
                             :disabled="isLoading"
                             small fab class="mr-2" @click="onEdit(item)">
                        <v-icon>
                          mdi-pencil
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Edit')}}</span>
                  </v-tooltip>



                  <v-tooltip top v-if="item.count_votes < 1 && showBtn">
                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" v-on="on"
                             :loading="isLoading"
                             :disabled="isLoading"
                             small fab class="mr-2" @click="dialog_questions_create = true">
                        <v-icon color="white">
                          mdi-plus
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{ `${$t('Core.Add')} ${$t('Input.Question').capitalize()}` }}</span>
                  </v-tooltip>

                  <v-tooltip top v-if="item.count_votes < 1 && showBtn">
                    <template v-slot:activator="{ on }">
                      <v-btn color="danger" v-on="on"
                             :loading="isLoading"
                             :disabled="isLoading"
                             small fab class="mr-2" @click="onDelete(item.id)">
                        <v-icon color="white">
                          mdi-close
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Delete')}}</span>
                  </v-tooltip>

                  <v-spacer v-if="item.count_votes < 1" class="hidden-sm-and-down"></v-spacer>

                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-chip
                        small
                        class="mr-2 caption hidden-sm-and-down"
                        v-on="on"
                      >
                        <v-icon left>mdi-clock</v-icon>
                        {{ item.available_from | chip_dates( $i18n.locale ) }}
                      </v-chip>
                    </template>
                    <span>{{ `${ $t('Input.AvailableFrom').capitalize() }: ${item.available_from}` }}</span>
                  </v-tooltip>


                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-chip
                        small
                        class="mr-2 caption hidden-sm-and-down"
                        v-on="on"
                      >
                        <v-icon left>mdi-clock</v-icon>
                        {{ item.available_until | chip_dates( $i18n.locale ) }}
                      </v-chip>
                    </template>
                    <span>{{ `${ $t('Input.AvailableUntil').capitalize() }: ${item.available_until}` }}</span>
                  </v-tooltip>

                </v-card-actions>

              </material-card>
            </v-hover>
          </v-col>
        </v-row>
      </template>

      <template  v-slot:no-data>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

    </v-data-iterator>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="dialog = false">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
    <v-dialog v-model="dialog_questions_create" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="bg-primary">
          <v-btn icon dark @click="dialog_questions_create = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t( 'Core.Create' ) }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text class="mt-12">
          <v-container>
            <v-row>
              <v-col cols="12">
                <QuestionsForm></QuestionsForm>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  
    <v-dialog v-model="dialog_answers_create" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="bg-primary">
          <v-btn icon dark @click="onCloseAnswerForm">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t( 'Core.Create' ) }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text class="mt-12">
          <v-container>
            <v-row>
              <v-col cols="12">
                <AnswerForm :item="answer_data"></AnswerForm>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
    
  </div>
</template>

<script>
  import {Survey} from "@/models/services/Survey";
  import {OfferedAnswer} from "@/models/services/OfferedAnswer";

  export default {
    name: "CampaignTable",
    props: {
      showBtn: {
        type: Boolean,
        default: true
      }
    },
    components: {
      QuestionsForm: () => import("@/views/dashboard/Forms/QuestionForm"),
      AnswerForm: () => import("@/views/dashboard/Forms/AnswerForm"),
    },
    data: () => ({
      dialog_questions_create: false,
      dialog_answers_create: false,
      answer_data: new OfferedAnswer().data(),
      
      dialog_candidate: false,
      
      dialog: false,
      id: null,
      total: 0,
      itemsPerPage: 4,
      itemsPerPageArray: [4, 8, 12],
      pagination: {},
      expand: false,
      query: null,
      records: [],
      sortBy: null,
    }),
    created: function () {
      this.getRecords()
    },
    mounted: function() {
      let that = this;
      this.$bus.$on('onRefreshTable', that.getRecords );
    },
    methods: {
      getRecords: _.debounce( function () {
        const { sortBy, sortDesc, page, rowsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Survey()).index({ params: { per_page: this.itemsPerPage, order: sortDesc, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch((error) => this.notifyOnError( error.message ))
      }, 300),
      onEdit: function( item ) {
        this.$emit('onEdit', item);
      },
      onConfirm: function (  ) {
        if ( this.id ) {
          (new Survey()).destroy( this.id )
            .then(response => this.notifyOnSuccess( response.data ))
            .then(() => this.dialog = false)
            .then(() => this.id = null)
            .then(() => this.getRecords())
            .catch(error => this.notifyOnError( error.message ))
        }
      },
      onDelete: function( id ) {
        this.id = id;
        this.dialog = true;
      },
      
      //Questions
      onCreateAnswer: function (question_id) {
        this.answer_data.question_id = question_id;
        this.dialog_answers_create = true;
      },
      onCloseAnswerForm: function () {
        this.answer_data = new OfferedAnswer().data();
        this.dialog_answers_create = false;
      },
      
      onExcel: function ( id ) {
        (new Survey()).excel( id, { responseType: 'blob' })
          .then((response) => {
            const url = window.URL.createObjectURL(new Blob([response]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'REPORTE_ENCUESTA.xlsx'); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
          .catch((error) => this.notifyOnError( error.message ));
      },
      initials ( text ) {
        if (!text) return ''
        let initials = '';
        text.split(' ').forEach(val => {
          initials += val.substring(0, 1)
        })
        return initials.toUpperCase()
      },
    },
    computed: {
      filters: function () {
        return this.columns.filter( data => data.sortable === true )
      },
      columns: function () {
        return [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('Input.Name').capitalize(), value: 'name', width: '126', align: 'center', sortable: true },
          { text: this.$t('Input.AvailableFrom').capitalize(), value: 'available_from', width: '200', align: 'center', sortable: true },
          { text: this.$t('Input.AvailableUntil').capitalize(), value: 'available_until', width: '300', align: 'center', sortable: true },
          { text: this.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false }
        ];
      },
    },
    watch: {
      sortBy: function (val) {
        if ( val ) {
          this.pagination.sortBy[0] = val;
          this.getRecords();
        } else {
          this.pagination.sortBy = [];
          this.getRecords();
        }
      },
      query: function () {
        this.getRecords();
      },
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true
      }
    },
    beforeDestroy() {
      this.$bus.$off('onRefreshTable');
    }
  }
</script>

<style scoped>

</style>