<template>
  <div>
    <v-data-iterator
      :items="records"
      :items-per-page.sync="itemsPerPage"
      item-key="id"
      :loading="isLoading && !responsive"
      :footer-props="{ 'items-per-page-options': itemsPerPageArray }"
      :options.sync="pagination"
      :loading-text="$t('Core.Loading')"
      :server-items-length="total"
    >
      <template v-slot:header>
        <v-toolbar
          color="transparent"
          class="mb-1 elevation-0"
        >

          <v-row>
            <v-col cols="12" class="text-right" sm="12" lg="8">

              <slot name="header"></slot>

              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="primary"
                         class="mr-2 my-2"
                         :loading="isLoading"
                :disabled="isLoading"
                         @click="getRecords"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>

              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                      fab
                      small
                      color="primary"
                      v-on="on"
                      class="mr-2 my-2 hidden-sm-and-down"
                      :loading="isLoading"
                      :disabled="isLoading"
                      @click="sortDesc = null"
                  >
                      <v-icon>mdi-arrow-up</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.OrderAsc')}}</span>
              </v-tooltip>

              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                      fab
                      small
                      color="primary"
                      v-on="on"
                      class="mr-2 my-2 hidden-sm-and-down"
                      :loading="isLoading"
                      :disabled="isLoading"
                      @click="sortDesc = true"
                    >
                      <v-icon>mdi-arrow-down</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.OrderDesc')}}</span>
              </v-tooltip>


            </v-col>

            <v-col cols="12" sm="12" lg="4">
              <v-text-field
                v-model="query"
                class="mr-auto my-2"
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                color="primary"
                hide-details
                prepend-inner-icon="mdi-magnify"
                :label="$t('Input.Search')"
              ></v-text-field>
            </v-col>

            <v-col class="hidden-sm-and-down text-center"  cols="12" sm="12" lg="6">
              <v-select
                v-model="sortBy"
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                hide-details
                class="mr-auto my-2"
                :items="filters"
                item-text="text"
                item-value="value"
                prepend-inner-icon="mdi-sort-variant"
                :label="$t('Core.SortBy')"
              ></v-select>

            </v-col>

            <v-col class="hidden-sm-and-down text-center"  cols="12" sm="12" lg="6">
              <v-select
                v-model="campaign_id"
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                hide-details
                class="mr-auto my-2"
                :items="campaigns"
                item-text="name"
                item-value="id"
                prepend-inner-icon="mdi-ballot"
                :label="$t('Input.Campaign').capitalize()"
              ></v-select>

            </v-col>

          </v-row>

        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row class="mt-sm-12">
          <v-col v-for="item in props.items" :key="item.id" cols="12" lg="6">
            <v-hover v-slot:default="{ hover }">
              <material-card  :elevation="hover ? 12 : 2" color="primary" icon="mdi-account" :title="`${item.id} - ${item.name}`" inline>

                <v-card-text class="pb-0">

                  <v-expansion-panels>

                    <v-expansion-panel>
                      <v-expansion-panel-header>  {{ $t('Input.Voter').capitalize() }} </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <p class="description"> {{ `${$t('Input.Name').capitalize()}: ${item.name}` }} </p>
                        <p class="description"> {{ `${$t('Input.Document').capitalize()}: ${item.document}` }} </p>
                        <p class="description" v-if="item.sport"> {{ `${$t('Input.Sport').capitalize()}: ${item.sport}` }} </p>
                        <p class="description" v-if="item.email"> {{ `${$t('Input.Email').capitalize()}: ${item.email}` }} </p>
                        <p class="caption">{{ $t('Input.CreatedAt').capitalize() }}: {{ item.created_at }}</p>
                        <p class="caption">{{ $t('Input.UpdatedAt').capitalize() }}: {{ item.updated_at }}</p>
                      </v-expansion-panel-content>
                    </v-expansion-panel>

                    <v-expansion-panel>
                      <v-expansion-panel-header>  {{ `${$t('Input.Campaign').capitalize()} (${item.campaigns.length})` }} </v-expansion-panel-header>
                      <v-expansion-panel-content>

                        <template v-if="item.campaigns.length > 0">
                          <v-menu
                            v-for="data in item.campaigns"
                            :key="data.id"
                            close-on-content-click
                            bottom
                            right
                            transition="scale-transition"
                            origin="top left"
                          >
                            <template v-slot:activator="{ on }">
                              <v-chip v-on="on" class="mr-4 my-3" :close="!data.voted_at"  pill @click:close="onDetach( item.id, data.id )">
                                <v-avatar left color="grey">
                                  <v-icon color="white">mdi-ballot</v-icon>
                                </v-avatar>
                                {{ responsive ? data.name.substr(0, 3).concat('...') : data.name }}
                              </v-chip>
                            </template>


                            <v-card max-height="300px">
                              <v-list dark>
                                <v-list-item>

                                  <v-list-item-icon>
                                    <v-icon>mdi-ballot</v-icon>
                                  </v-list-item-icon>

                                  <v-list-item-content class="ml-2">
                                    <v-list-item-title>{{ data.name }}</v-list-item-title>
                                    <v-list-item-subtitle> {{ data.available_until | chip_dates( $i18n.locale ) }}</v-list-item-subtitle>
                                  </v-list-item-content>

                                  <v-list-item-action>
                                    <v-btn icon>
                                      <v-icon>mdi-close-circle</v-icon>
                                    </v-btn>
                                  </v-list-item-action>

                                </v-list-item>
                              </v-list>
                              <v-list >
                                <v-list-item @click="() => {}" >
                                  <v-list-item-content >
                                    <div v-if="data.voted_at">
                                      <p class="description"> {{ `${$t('Input.VotedAt').capitalize()}: ${data.voted_at}` }} </p>
                                      <!--
                                        <p class="description"> {{ `${$t('Input.Candidate').capitalize()}: ${data.candidate}` }} </p>
                                      -->
                                    </div>

                                    <core-empty-state v-else class="my-2" icon="mdi-vote-outline" :label="$t('Core.Empty')" :description="$t('Core.NoVoted')">

                                    </core-empty-state>

                                  </v-list-item-content>
                                </v-list-item>
                              </v-list>
                            </v-card>

                          </v-menu>
                        </template>

                        <core-empty-state v-else class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
                          <v-btn @click="onAttach(item.id)" color="primary"> {{ `${$t('Core.Add')} ${ $t('Input.Campaign') }` }} </v-btn>
                        </core-empty-state>


                      </v-expansion-panel-content>
                    </v-expansion-panel>

                  </v-expansion-panels>


                </v-card-text>

                <v-card-actions>
                  <!--
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="warning" v-on="on" small fab class="mr-2" @click="onEdit(item)">
                        <v-icon>
                          mdi-pencil
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Edit')}}</span>
                  </v-tooltip>
                  -->

                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" v-on="on" small fab class="mr-2" @click="onAttach(item.id)">
                        <v-icon color="white">
                          mdi-ballot
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{ `${$t('Core.Add')} ${$t('Input.Campaign').capitalize()}` }}</span>
                  </v-tooltip>

                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="danger" v-on="on" small fab class="mr-2" @click="onDelete(item.id)">
                        <v-icon color="white">
                          mdi-close
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Delete')}}</span>
                  </v-tooltip>

                </v-card-actions>

              </material-card>
            </v-hover>
          </v-col>
        </v-row>
      </template>

      <template  v-slot:no-data>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

    </v-data-iterator>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="dialog = false">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_detach" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="dialog_detach = false">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirmDetach">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_attach" persistent max-width="600">
      <v-card>
        <v-card-title>
          {{ $t('Core.Add') }}
        </v-card-title>
        <v-card-text>
          <v-form @submit.prevent="onConfirmAttach">

            <v-row>
              <v-col cols="12" lg="12" sm="12">
                <v-select
                  v-model.number="form.campaign_id"
                  v-validate="form.validations.input_number_required"
                  clearable
                  required
                  :loading="isLoading"
                  :disabled="isLoading"
                  hide-details
                  id="campaign_id"
                  name="campaign_id"
                  :error-messages="errors.collect( 'campaign_id' )"
                  :items="campaigns"
                  item-text="name"
                  item-value="id"
                  prepend-inner-icon="mdi-ballot"
                  :label="$t('Input.Campaign').capitalize()"
                ></v-select>
              </v-col>

              <v-col cols="12" lg="12" sm="12">

                <v-select
                  v-model.number="form.security_question_id"
                  v-validate="form.validations.input_number_required"
                  clearable
                  required
                  :loading="isLoading"
                  :disabled="isLoading"
                  hide-details
                  id="security_question_id"
                  name="security_question_id"
                  :error-messages="errors.collect( 'security_question_id' )"
                  :items="question_records"
                  item-text="question"
                  item-value="id"
                  prepend-inner-icon="mdi-help-circle"
                  :label="$t('Input.Question').capitalize()"
                ></v-select>
              </v-col>

              <v-col cols="12" lg="12" sm="12">
                <v-text-field
                  v-model="form.security_answer"
                  clearable
                  v-validate="form.validations.input_text_required"
                  prepend-icon="mdi-pencil"
                  :error-messages="errors.collect( 'security_answer' )"
                  :label="$t('Input.Answer').capitalize()"
                  name="security_answer"
                  :counter="form.validations.input_text_required.max"
                  :maxlength="form.validations.input_text_required.max"
                  :loading="isLoading"
                  :readonly="isLoading"
                  id="security_answer"
                  required
                />
              </v-col>

              <v-col cols="12">
                <v-btn text :loading="isLoading" :disabled="isLoading" class="mt-1" @click="dialog_attach = false" color="primary">{{ $t('Core.Cancel') }}</v-btn>
                <v-btn type="submit" slot="footer" @submit.prevent="onConfirmAttach" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
                  {{ $t('Core.Add') }}
                </v-btn>
              </v-col>
            </v-row>

          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  import {Voter} from "@/models/services/Voter";
  import {Campaign} from "@/models/services/Campaign";
  import {SecurityQuestion} from "@/models/services/SecurityQuestion";

  export default {
    name: "VotersTable",
    data: () => ({
      dialog_attach: false,
      dialog_detach: false,
      dialog: false,
      id: null,
      campaign: null,
      sortDesc: null,
      total: 0,
      itemsPerPage: 4,
      itemsPerPageArray: [4, 8, 12],
      pagination: {},
      expand: false,
      query: null,
      records: [],
      sortBy: null,
      campaigns: [],
      campaign_id: null,

      loading: false,
      search_question: null,
      question_records: [],
      form: new Voter()
    }),
    created: function () {
      this.getRecords();
      this.getCampaigns();
      this.getQuestionRecords()
    },
    mounted: function() {
      let that = this;
      this.$bus.$on('onRefreshTable', that.getRecords );
    },
    methods: {
      getRecords: _.debounce( function () {
        const { sortBy, page, itemsPerPage } = this.pagination;
        const query = this.query;
        const sortDesc = this.sortDesc;
        this.loading = true;
        (new Voter()).index({ params: { per_page: itemsPerPage, order: sortDesc, column: sortBy, query: query, page: page,  campaign_id: this.campaign_id } })
          .then( (response) => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch((error) => this.notifyOnError( error.message ))
      }, 300),
      getQuestionRecords: _.debounce( function () {
        const query = this.search_question;
        this.loading = true;
        (new SecurityQuestion()).index({ params: { per_page: 100, order: [true], column: ['created_at'], query: query, page: 1 } })
          .then( (response) => this.question_records = response.data.data )
          .catch((error) => this.notifyOnError( error.message ))
          .finally(() => (this.loading = false))
      }, 700),
      getCampaigns: _.debounce( function () {
        const { sortBy, page, rowsPerPage } = this.pagination;
        const query = this.query;
        const sortDesc = this.sortDesc;
        this.loading = true;
        (new Campaign()).index({ params: { per_page: 100, order: sortDesc, column: [ 'created_at' ], query: query, page: page } })
          .then( (response) => this.campaigns = response.data.data )
          .catch((error) => this.notifyOnError( error.message ))
      }, 300),

      onEdit: function( item ) {
        this.$emit('onEdit', item);
      },
      onDelete: function( id ) {
        this.id = id;
        this.dialog = true;
      },
      onConfirm: function () {
        if ( this.id ) {
          (new Voter()).destroy( this.id )
            .then(response => this.notifyOnSuccess( response.data ))
            .then(() => this.dialog = false)
            .then(() => this.id = null)
            .then(() => this.getRecords())
            .catch(error => this.notifyOnError( error.message ))
        }
      },
      onDetach: function ( id, campaign_id ) {
        this.id = id;
        this.campaign = campaign_id;
        this.dialog_detach = true;
      },

      onConfirmDetach: function () {
        if ( this.id ) {
          (new Voter({ campaign_id: this.campaign })).detachFromCampaign( this.id )
            .then(response => this.notifyOnSuccess( response.data ))
            .then(() => this.dialog_detach = false)
            .then(() => this.id = null)
            .then(() => this.campaign = null)
            .then(() => this.getRecords())
            .catch(error => this.notifyOnError( error.message ))
        }
      },

      onAttach: function ( id ) {
        this.id = id;
        this.dialog_attach = true;
      },

      onConfirmAttach: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid && this.id ) {
            this.form.attachToCampaign( this.id )
              .then(response => this.notifyOnSuccess( response.data ))
              .then(() => this.dialog_attach = false)
              .then(() => this.id = null)
              .then(() => this.campaign = null)
              .then(() => this.getRecords())
              .catch(error => this.notifyOnError( error.message ))
          }
        })
      },

    },
    computed: {
      filters: function () {
        return this.columns.filter( data => data.sortable === true )
      },
      columns: function () {
        return [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('Input.Name').capitalize(), value: 'name', width: '126', align: 'center', sortable: true },
          { text: this.$t('Input.Document').capitalize(), value: 'document', width: '200', align: 'center', sortable: true }
        ];
      },
    },
    watch: {
      campaign_id: function () {
        this.getRecords();
      },
      sortBy: function (val) {
        if ( val ) {
          this.pagination.sortBy[0] = val;
          this.getRecords();
        } else {
          this.pagination.sortBy = [];
          this.getRecords();
        }
      },
      sortDesc: function () {
        this.getRecords();
      },
      query: function () {
        this.getRecords();
      },
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true
      }
    },
    beforeDestroy() {
      this.$bus.$off('onRefreshTable');
    }
  }
</script>

<style scoped>

</style>