.v-calendar-weekly__day-label .v-btn {
  font-size: 12px;
  text-transform: none;
  border-radius: 50%;
  padding: .40625rem 1.25rem !important;
  &.primary {
    @include button-color($brand-primary);
  }
}

.v-calendar-daily_head-day-label .v-btn {
  font-size: 12px;
  text-transform: none;
  border-radius: 50%;
  padding: .40625rem 1.25rem !important;
  &.primary {
    @include button-color($brand-primary);
  }
}

@media only screen and (max-width: 767px)  {
  .v-calendar-weekly__day-label .v-btn {
    font-size: 12px;
    text-transform: none;
    border-radius: 50%;
    padding: 0 0 !important;
    &.primary {
      @include button-color($brand-primary);
    }
  }
  .v-calendar-daily_head-day-label .v-btn {
    font-size: 12px;
    text-transform: none;
    border-radius: 50%;
    padding: 0 0 !important;
    &.primary {
      @include button-color($brand-primary);
    }
  }
  /*
  .v-btn--fab.v-size--small {
    height: 20px;
    width: 20px;
  }
  .v-btn--fab.v-size--default {
    height: 20px;
    width: 20px;
  }
   */
}

.v-picker--date {
  .v-date-picker-table {
    position: relative;
    padding: 0 12px;
    height: auto;
    .v-btn {
      padding: 0;
      border-radius: 50%;
      .v-btn--outlined {
        border-radius: 50%;
      }
    }
  }
}