<template>
  <material-chart-card
    :data="candidates.data"
    :options="candidates.options"
    :responsive-options="candidates.responsiveOptions"
    color="primary"
    hover-reveal
    ratio=""
    type="Bar"
  >
    <template v-slot:reveal-actions>
      <v-tooltip bottom>
        <template v-slot:activator="{ attrs, on }">
          <v-btn
            v-bind="attrs"
            color="primary"
            icon
            @click="getRecord( $route.params.id )"
            v-on="on"
          >
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
        </template>

        <span>{{ $t('Core.Refresh') }}</span>
      </v-tooltip>

    </template>

    <div class="text-center align-center justify-center mt-2" v-if="data.candidates && data.candidates.length > 0">
      <v-simple-table class="d-inline-flex align-center justify-center mt-6">
        <tbody>
        <tr v-for="item in  data.candidates" :key="item.id">
          <td>

            <v-avatar size="36" left v-if="item.image">
              <img
                :src="item.image"
                :alt="item.name"
              >
            </v-avatar>
            <v-avatar v-else size="36" color="primary">
              <span class="white--text headline">{{ initials( item.name ) }}</span>
            </v-avatar>
          </td>
          <td>{{ responsive ? initials( item.name ) : `(${ initials( item.name ) }) -  ${item.name}` }}</td>
          <td>{{ item.count_votes }}</td>
        </tr>
        <tr>
          <td colspan="2"> {{ `Total ${$t('Dashboard.RegisteredVotes')}:` }}</td>
          <td>{{ data.count_votes }}</td>
        </tr>
        </tbody>
      </v-simple-table>
    </div>

    <template v-slot:actions>
      <v-icon
        class="mr-2"
        small
      >
        mdi-clock-outline
      </v-icon>
      <span class="caption grey--text font-weight-light">{{ `${ $t('Core.Updated') } ${right_now}` }}</span>
    </template>
  </material-chart-card>
</template>

<script>
  import {Campaign} from "@/models/services/Campaign";

  export default {
    name: "CampaignChart",
    props: {
      id: {
        type: [String, Number],
        default: undefined
      }
    },
    data: () => ({
      data: {},
      candidates: {
        data: {
          labels: ['N/A'],
          series: [
            [10]
          ]
        },
        options: {
          axisX: {
            showGrid: false
          },
          low: 0,
          high: 11,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 0
          }
        },
        responsiveOptions: [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0]
              }
            }
          }]
        ]
      },
    }),
    created: function () {
      if ( this.id ) {
        this.getRecord();
      }
    },
    methods: {
      getRecord: function () {
        this.loading = true;
        (new Campaign()).public( {}, this.id )
          .then(response => {
            this.data = response.data;
            this.current_time = this.moment();
            let labels = [];
            let series = [];
            response.data.candidates.map( c => {
              labels.push( this.initials( c.name )  );
              series.push( c.count_votes );
            });
            this.candidates.data = {
              labels: labels,
              series: [ series ]
            };
            this.candidates.options.high = Math.max( ...series ) + 1;
          })
          .then(() => this.setFromNow( this.$i18n.locale ))
          .catch(error => this.notifyOnError( error.message ))
          .finally(() => this.loading = false)
      },
      initials ( text ) {
        if (!text) return ''
        let initials = '';
        text.split(' ').forEach(val => {
          initials += val.substring(0, 1)
        });
        if ( initials.length > 2 ) {
          initials = initials.substr(0, 1) + initials.substr(2, 1);
        }
        return initials.toUpperCase()
      }
    }
  }
</script>

<style scoped>

</style>