<template>
  <div class="wrapper">
    <v-parallax :lazy-src="headerStyle" :src="headerStyle" class="text-center">
      <h1 :style="responsive ? 'margin-top: -30px;' : '' " v-if="data.name" >{{ data.name }}</h1>
    </v-parallax>

    <material-card :is-page-profile="true" icon-avatar="mdi-ballot" icon-avatar-color="primary" class="main main-raised elevation-24 mb-12">

      <v-container>

        <landing-profile-loading v-if="loading" ></landing-profile-loading>

        <v-layout v-else wrap>
          <v-flex sm12 md6 class="mx-auto">
            <v-card-text class="text-center">
              <h4 class="card-title font-weight-light">{{ data.name }}</h4>
              <v-btn
                v-if="data.can_vote"
                :to="{ name: 'Vote', params: {id: $route.params.id } }"
                rounded
                x-large
                color="primary"
              >
                <v-icon left>mdi-vote-outline</v-icon> {{ $t('Landing.VoteHere') }}
              </v-btn>

              <p v-if="!readMore && data.description.length > 300" class="card-description font-weight-light">
                {{ data.description.substr(0, 300) }}
                <v-btn @click="readMore = true" text small>{{ $t('Input.ReadMore') }}</v-btn>
              </p>

              <p v-else class="card-description font-weight-light">
                {{ data.description }}
                <v-btn v-if="data.description.length > 300" @click="readMore = false" text small>{{ $t('Input.ReadLess') }}</v-btn>
              </p>

              <p class="card-description font-weight-light">
                <v-btn text color="primary" v-if="!isFuture( data.available_from )">
                  {{ `${ textAvailable } ` }} {{ data.available_until | to_now( $i18n.locale ) }}
                </v-btn>

                <v-btn text color="primary" v-else>
                  {{ `${ textAvailable } ` }} {{ data.available_from | to_now( $i18n.locale ) }}
                </v-btn>
              </p>
            </v-card-text>
          </v-flex>

          <v-flex xs12>

            <v-tabs
              v-model="tab"
              background-color="transparent"
              centered
              icons-and-text
            >
              <v-tabs-slider></v-tabs-slider>

              <v-tab v-if="showResults(data.results_at)" href="#tab-1" >
                {{ $t('Landing.Results') }}
                <v-icon style="color: inherit" size="30">mdi-vote-outline</v-icon>
              </v-tab>

              <v-tab href="#tab-2">
                {{ $t('Landing.Candidates') }}
                <v-icon style="color: inherit" size="30">mdi-account-group</v-icon>
              </v-tab>

            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item v-if="showResults(data.results_at)" value="tab-1">
                <v-container
                  fluid
                  grid-list-sm
                >
                  <v-layout text-xs-center wrap>

                    <v-row>
                      <v-col cols="12" class="mx-auto" sm="12" lg="6">
                        <material-chart-card
                          v-if="count > 0"
                          :data="candidates.data"
                          :options="candidates.options"
                          :responsive-options="candidates.responsiveOptions"
                          color="primary"
                          hover-reveal
                          ratio=""
                          type="Bar"
                        >
                          <template v-slot:reveal-actions>
                            <v-tooltip bottom>
                              <template v-slot:activator="{ attrs, on }">
                                <v-btn
                                  v-bind="attrs"
                                  color="primary"
                                  icon
                                  @click="getRecord( $route.params.id )"
                                  v-on="on"
                                >
                                  <v-icon>mdi-refresh</v-icon>
                                </v-btn>
                              </template>

                              <span>{{ $t('Core.Refresh') }}</span>
                            </v-tooltip>

                          </template>

                          <div class="text-center align-center justify-center mt-2" v-if="data.candidates.length > 0">
                            <v-simple-table class="d-inline-flex align-center justify-center mt-6">
                              <tbody>
                              <tr v-for="item in  data.candidates" :key="item.id">
                                <td>

                                  <v-avatar size="36" left v-if="item.image">
                                    <img
                                      :src="item.image"
                                      :alt="item.name"
                                    >
                                  </v-avatar>
                                  <v-avatar v-else size="36" color="primary">
                                    <span class="white--text headline">{{ initials( item.name ) }}</span>
                                  </v-avatar>
                                </td>
                                <td>{{ responsive ? initials( item.name ) : `(${ initials( item.name ) }) -  ${item.name}` }}</td>
                                <td>{{ item.count_votes }}</td>
                              </tr>
                              <tr>
                                <td colspan="2"> {{ `Total ${$t('Dashboard.RegisteredVotes')}:` }}</td>
                                <td>{{ data.count_votes }}</td>
                              </tr>
                              </tbody>
                            </v-simple-table>
                          </div>

                          <template v-slot:actions>
                            <v-icon
                              class="mr-2"
                              small
                            >
                              mdi-clock-outline
                            </v-icon>
                            <span class="caption grey--text font-weight-light">{{ `${ $t('Core.Updated') } ${right_now}` }}</span>
                          </template>
                        </material-chart-card>

                        <core-empty-state v-else class="my-2" icon="mdi-clock" :label="$t('Core.NoResults')" :description="$t('Core.ActiveCampaign')">

                          <v-btn color="primary" @click="getRecord( $route.params.id )">
                            <v-icon left>mdi-refresh</v-icon> {{ $t('Core.Refresh') }}
                          </v-btn>

                        </core-empty-state>

                      </v-col>

                    </v-row>

                  </v-layout>
                </v-container>
              </v-tab-item>
              <v-tab-item value="tab-2">
                <v-container
                  fluid
                  grid-list-sm
                >
                  <v-layout class="align-center justify-space-around">

                    <v-row v-if="data.candidates">
                      <v-col v-for="item in data.candidates" :key="item.id" cols="12" sm="12" lg="4" class="mx-auto">
                        <v-hover v-slot:default="{ hover }">
                          <material-testimony
                            :to="{ name: 'Profile', params: {campaign_id: $route.params.id, candidate_id: item.id} }"
                            :elevation="hover ? 12 : 0"
                            :avatar="item.image"
                            :blurb="longProfile(item.profile)"
                            :author="item.name"
                            :coavatar="teamImage( item.team )"
                            :coauthor="teamName( item.team )"
                            :badge="teamTotal( item.team )"
                            :handle="item.age_number ? `${$t('Input.Age').capitalize()} ${item.age_number}`: ''"
                          ></material-testimony>
                        </v-hover>
                      </v-col>
                    </v-row>

                    <v-row v-else>

                      <core-empty-state class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
                      </core-empty-state>
                    </v-row>

                  </v-layout>
                </v-container>
              </v-tab-item>
            </v-tabs-items>

          </v-flex>
        </v-layout>

      </v-container>
    </material-card>

    <v-fab-transition>
      <v-btn
        id="section05"
        v-if="data.can_vote && responsive"
        :to="`/campaign/${$route.params.id}/vote`"
        :color="color"
        :loading="isLoading"
        :disabled="isLoading"
        dark
        fixed
        bottom
        right
        fab
      >
        <v-icon>mdi-vote-outline</v-icon>
      </v-btn>
    </v-fab-transition>

    <landing-footer v-if="!$route.meta.hideFooter"></landing-footer>
  </div>
</template>

<script>
  import moment from "moment"
  import {Campaign} from "@/models/services/Campaign";

  export default {
    name: "Campaign",
    bodyClass: "profile-page",
    data: () => ({
      readMore: false,
      tab: null,
      data: {},
      loading: false,
      can_vote: false,
      options: {
        digit: 15,
        countdown: true,
        clockFace: 'DailyCounter',
      },
      count: 0,
      textAvailable: '',
      color:'info',
      candidates: {
        data: {
          labels: ['N/A'],
          series: [
            [10]
          ]
        },
        options: {
          axisX: {
            showGrid: false
          },
          low: 0,
          high: 11,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 0
          }
        },
        responsiveOptions: [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0]
              }
            }
          }]
        ]
      },

    }),

    created: function () {
      if ( this.$route.params.id ) {
        this.getRecord( this.$route.params.id );
      } else {
        this.$router.push({
          name: "Error"
        })
      }
    },
    mounted: function () {
      let that = this;
      setInterval(function () {
        if ( that.color === 'info' ) {
          that.color = 'indigo';
        } else {
          that.color = 'info';
        }
      }, 2000)
    },
    methods: {
      getRecord: function ( id ) {
        this.loading = true;
        (new Campaign()).public( {}, id )
          .then(response => {
            this.data = response.data
            let isBefore = this.moment( response.data.available_until ).isValid()
                       ? this.moment().isBefore( response.data.available_until )
                       : false;


            this.textAvailable = isBefore ? this.$t('Landing.CampaignValidUntil') : this.$t('Landing.CampaignValidUntilPast');
            this.current_time = this.moment();
            let labels = [];
            let series = [];
            this.count = 0;
            response.data.candidates.map( c => {
              labels.push( this.initials( c.name )  );
              series.push( c.count_votes );
              this.count += c.count_votes;
            });
            this.candidates.data = {
              labels: labels,
              series: [ series ]
            };
            this.candidates.options.high = Math.max( ...series ) + 1;

          })
          .then(() => this.setFromNow( this.$i18n.locale ))
          .catch(error => {
            if ( error.code === 404 ) {
              this.$router.push({
                name: "Error",
                params: {
                  code: error.code,
                  text: error.message || this.$t('Core.UnexpectedError')
                }
              })
            } else {
              this.notifyOnError( error.message )
            }
          })
          .finally(() => this.loading = false)
      },
      initials ( text ) {
        if (!text) return ''
        let initials = '';
        text.split(' ').forEach(val => {
          initials += val.substring(0, 1)
        });
        if ( initials.length > 2 ) {
          initials = initials.substr(0, 1) + initials.substr(2, 1);
        }
        return initials.toUpperCase()
      },
      showResults: function ( date ) {
        let data = moment( date ).isValid() ? moment(date) : null;
        if ( data ) {
          return moment().isAfter( data );
        } else {
          return false;
        }
      },
      teamImage: function ( team = null) {
        return team && team.length > 0 ? team[0].image : null
      },
      teamName: function (team = null) {
        return team && team.length > 0 ? `${this.$t('Input.CoRepresentative')}: ${team[0].name}` : null
      },
      teamTotal: function (team = null) {
        return team && team.length > 0 ? team.length : 0
      },
      isFuture: function ( date ) {
        let data = moment( date ).isValid() ? moment( date ) : null;
        let isBefore = this.moment( data ).isValid()
          ? this.moment().isBefore( data )
          : false;
        if ( isBefore ) {
          this.textAvailable = this.$t('Landing.CampaignStart')
        }
        return isBefore
      },
      longProfile: function (text) {
        return text.length > 270 ? text.substring(0, 270).concat('...') : text;
      }
    },
    computed: {
      headerStyle() {
        return require("@/assets/img/city-profile.jpg")
      }
    },
  }
</script>

<style scoped>
  #section05 span::before {
    border-radius: 100%;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>