<template>
  <v-container fluid>

    <v-data-table
      v-if="!responsive"
      :headers="headers"
      :items="next"
      disable-sort
      hide-default-footer
      class="elevation-1 mb-12"
    >
      <template v-slot:item.available_from="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-chip
              small
              pill
              class="mr-2 caption hidden-sm-and-down"
              v-on="on"
            >
              <v-avatar
                left
                :color="getColor(item.available_from)"
              >
                <v-icon color="white">mdi-clock</v-icon>
              </v-avatar>
              {{ item.available_from | chip_dates( $i18n.locale ) }}
            </v-chip>
          </template>
          <span>{{ `${ $t('Input.AvailableFrom').capitalize() }: ${item.available_from}` }}</span>
        </v-tooltip>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-btn :to="`campaign/${item.id}`" color="primary" text>
          <v-icon>mdi-arrow-right</v-icon> {{ $t('Core.Details') }}
        </v-btn>
      </template>
    </v-data-table>

    <v-list v-if="responsive && next.length > 0" two-line subheader>
      <v-subheader>{{ $t('Landing.NextCampaigns').capitalize() }}</v-subheader>

      <v-list-item
        v-for="item in next"
        :key="item.id"
        :to="`campaign/${item.id}`"
      >
        <v-list-item-content>
          <v-list-item-title style="white-space: pre-line;" v-text="item.name"></v-list-item-title>
          <v-list-item-subtitle > {{ $t('Input.AvailableFrom').capitalize() }} </v-list-item-subtitle>
          <v-list-item-subtitle > {{ item.available_from | chip_dates( $i18n.locale ) }} </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>
    </v-list>

    <v-data-iterator
      :items="records"
      :items-per-page.sync="itemsPerPage"
      item-key="id"
      :loading="isLoading"
      :footer-props="{ 'items-per-page-options': itemsPerPageArray }"
      :options.sync="pagination"
      :loading-text="$t('Core.Loading')"
      :server-items-length="total"
    >
      <template v-slot:header>
        <v-toolbar
          color="transparent"
          class="mb-1 elevation-0"
        >
          <v-text-field
            v-model="query"
            class="mr-auto"
            clearable
            :loading="isLoading"
            :disabled="isLoading"
            color="primary"
            hide-details
            prepend-inner-icon="mdi-magnify"
            :label="$t('Input.Search')"
          ></v-text-field>

          <v-spacer></v-spacer>

          <v-tooltip v-if="!responsive" top>
            <template v-slot:activator="{ on }">
              <v-btn color="primary"
                     class="mr-2"
                     @click="getRecords"
                     :loading="isLoading"
                     :disabled="isLoading"
                     v-on="on"
                     text
                     small>
                <v-icon>mdi-reload</v-icon> {{$t('Core.Refresh')}}
              </v-btn>
            </template>
            <span>{{$t('Core.Refresh')}}</span>
          </v-tooltip>

          <v-btn v-else color="primary"
                 class="mr-2"
                 @click="reload"
                 :loading="isLoading"
                 :disabled="isLoading"
                 icon
                 small>
            <v-icon>mdi-reload</v-icon>
          </v-btn>

        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.id" cols="12" lg="6">
            <v-hover v-slot:default="{ hover }">
              <material-card  :elevation="hover ? 12 : 2" color="primary" icon="mdi-ballot" :title="item.name" inline>

                <v-card-text class="pb-0">
                  <p class="description" v-text="item.description.substring(0, 200).concat('...')"></p>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions class="pa-0">
                  <v-btn :to="`campaign/${item.id}`" color="primary" text>
                    <v-icon>mdi-arrow-right</v-icon> {{ $t('Landing.GoVote') }}
                  </v-btn>

                  <v-spacer class="hidden-sm-and-down"></v-spacer>

                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-chip
                        small
                        pill
                        class="mr-2 caption hidden-sm-and-down"
                        v-on="on"
                      >
                        <v-avatar
                          left
                          :color="getColor(item.available_until)"
                        >
                          <v-icon color="white">mdi-clock</v-icon>
                        </v-avatar>
                        {{ item.available_until | chip_dates( $i18n.locale ) }}
                      </v-chip>
                    </template>
                    <span>{{ `${ $t('Input.AvailableUntil').capitalize() }: ${item.available_until}` }}</span>
                  </v-tooltip>

                </v-card-actions>

              </material-card>
            </v-hover>
          </v-col>
        </v-row>
      </template>

      <template  v-slot:no-data>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

    </v-data-iterator>
  </v-container>
</template>

<script>
  import {Campaign} from "@/models/services/Campaign";
  export default {
    name: "Campaigns",
    data () {
      return {
        itemsPerPage: 4,
        itemsPerPageArray: [4, 8, 12],
        total: 0,
        pagination: {},
        expand: false,
        query: null,
        records: [],
        headers: [
          { text: this.$t('Landing.NextCampaigns').capitalize(), value: 'name', sortable: false },
          { text: this.$t('Input.AvailableFrom').capitalize(), value: 'available_from', sortable: false },
          { text: this.$t('Core.Details').capitalize(), value: 'actions', sortable: false },
        ],
        next: [],
      }
    },
    created: function () {
      this.getRecords();
      this.getNext();
    },
    methods: {
      getRecords: _.debounce( function () {
        const { sortBy, descending, page, itemsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Campaign()).public({ params: { per_page: itemsPerPage, order: descending, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch((error) => this.notifyOnError( error.message ))
      }, 700),

      getNext: _.debounce( function () {
        this.loading = true;
        (new Campaign()).next()
          .then( (response) => {
            this.next = response.data
          })
          .catch((error) => this.notifyOnError( error.message ))
      }, 300),

      getColor: function ( date ) {
        return this.moment( date ).isValid() && this.moment().isAfter( date )
                ? 'error'
                : 'success'
      },
      reload: function () {
        this.getNext();
        this.getRecords();
      }
    },
    watch: {
      query: function () {
        this.getRecords();
      },
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true
      }
    },
  }
</script>

<style scoped>

</style>