<template>
    <div class="wrapper">
        <landing-parallax v-if="!responsive">
            <landing-jumbotron gradient="60deg, rgba(172, 166, 202, .36), #594d95" v-scroll="onScroll" :src="headerStyle" :opacity="responsive ? '0' : '0.3'">
                <v-container id="landing-page" v-if="hideOnMobile">
                    <v-row align="center" justify="center">
                        <v-col class="mt-12">
                            <h1 class="h1 font-weight-black mb-6">{{ $t('Landing.Title') }}</h1>
                            <v-divider dark></v-divider>
                            <h4 v-text="$t('Landing.Description')"></h4>
                            <v-avatar tile height="100" width="200">
                                      <!--
                                        <img v-if="avatar" :src="avatar" :alt="title">
                                        <span v-else>AB</span>
                                        -->
                                <v-icon :rtl="$vuetify.rtl" size="100">$vuetify.icons.logo_bogota</v-icon>
                            </v-avatar>
                        </v-col>
                        <v-col id="section05" cols="12" class="d-flex align-center flex-column mt-12">
                            <v-btn large outlined fab @click="$vuetify.goTo('#landing-title', { duration: 1000, offset: 100, easing: 'easeInOutCubic' })">
                                <v-icon>mdi-chevron-down</v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </landing-jumbotron>
        </landing-parallax>
        <v-img v-else aspect-ratio="16/9" gradient="60deg, rgba(172, 166, 202, .36), #594d95" :min-height="minHeight" :src="headerStyle" class="text-center white--text">
            <v-container id="landing-page" class="mt-12">
                <v-row align="center" justify="center">
                    <v-col class="mt-12">
                        <h1 class="h1 font-weight-black mb-6">{{ $t('Landing.Title') }}</h1>
                        <v-divider dark></v-divider>
                        <h4 v-text="$t('Landing.Description')"></h4>
                        <v-avatar tile height="80" width="160">
                            <v-icon :rtl="$vuetify.rtl" size="90" >$vuetify.icons.logo_bogota</v-icon>
                            <!--
                                <img v-if="avatar" :src="avatar" :alt="title">
                                <span v-else>AB</span>
                             -->
                        </v-avatar>
                    </v-col>
                    <v-col id="section05" cols="12" class="d-flex align-center flex-column">
                        <v-btn dark large outlined fab @click="$vuetify.goTo('#landing-title', { duration: 1000, offset: 100, easing: 'easeInOutCubic' })">
                            <v-icon>mdi-chevron-down</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-img>
        <landing-content>
            <h1 id="landing-title">{{ $t('Landing.Campaigns') }}</h1>
            <campaigns></campaigns>
            <v-divider></v-divider>
            <h1>{{ $t('Landing.Surveys') }}</h1>
            <Surveys></Surveys>
        </landing-content>
    </div>
</template>

<script>
    export default {
        name: "Landing",
        components: {
          Campaigns: () => import( "./Campaigns" ),
          Surveys: () => import( "./Surveys" )
        },
        data: () => ({
            dark: true,
            hideOnMobile: true,
            color: 'transparent',
            title: process.env.VUE_APP_NAME,
            avatar: require('@/assets/logo.png'),
        }),
        bodyClass: "landing-page",
        computed: {
            headerStyle() {
                return require("@/assets/img/landing.jpg")
            },
            minHeight() {
                return '100vh'
            }
        },
        methods: {
            onScroll: function () {
                this.dark = !(window.scrollY > 100);
                this.hideOnMobile = !(window.scrollY > 50 && this.responsive );
            }
        }
    }
</script>

<style lang="scss">

    #landing-page {
        h1, .h1 {
            font-size: 9rem !important;
            color: white;
            line-height: 1.15em !important;
        }
    }
    @media (max-width: 991px) {
        #landing-page {
            h1, .h1 {
                font-size: 2rem !important;
            }
        }
    }

    #section05 button::before {
        border-radius: 100%;
        -webkit-animation: sdb03 3s infinite;
        animation: sdb03 3s infinite;
    }
    @-webkit-keyframes sdb03 {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        60% {
            box-shadow: 0 0 0 60px rgba(255,255,255,.1);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb03 {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        60% {
            box-shadow: 0 0 0 60px rgba(255,255,255,.1);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
</style>
