<template>
  <v-container
    id="pricing"
    fill-height
    tag="section"
    style="padding-bottom: 100px"
  >
    <v-row
      align="center"
      class="text-center"
      justify="center"
    >
      <v-col
        class="mt-10"
        cols="12"
      >
        <h1 class="font-weight-light white--text mb-12">
          Pick the best plan for you
        </h1>
        <div class="title font-weight-light grey--text text--lighten-2 mb-5">
          You have Free Unlimited Updates and Premium Support on&nbsp;<br class="hidden-sm-and-down">each package.
        </div>
      </v-col>

      <template v-for="(plan, i) in plans">
        <v-col
          :key="i"
          class="d-flex"
          cols="12"
          sm="6"
          md="3"
        >
          <landing-plan-card :plan="plan" />
        </v-col>

        <v-col
          v-if="(i === 1 && $vuetify.breakpoint.smAndDown) && i + 1 !== plans.length"
          :key="`divider-${i}`"
          class="pa-6"
          cols="12"
        >
          <v-divider />
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
  import Landing from "@/components/layouts/Landing";
  export default {
    name: 'Pricing',

    data: () => ({
      plans: [
        {
          textClass: 'white--text',
          heading: 'Freelancer',
          icon: 'mdi-sofa',
          title: 'Free',
          text: 'This is good if your company size is between 2 and 10 Persons.'
        },
        {
          best: true,
          heading: 'Small Company',
          icon: 'mdi-home',
          title: '29$',
          text: 'This is good if your company size is between 2 and 10 Persons.'
        },
        {
          textClass: 'white--text',
          heading: 'Medium Company',
          icon: 'mdi-domain',
          title: '69$',
          text: 'This is good if your company size is between 11 and 99 Persons.'
        },
        {
          textClass: 'white--text',
          heading: 'Extra Pack',
          icon: 'mdi-bank',
          title: '159$',
          text: 'This is good if your company size is 99+ or greater Persons.'
        }
      ]
    })
  }
</script>
