<template>
    <div class="wrapper">
        <v-parallax :lazy-src="headerStyle" class="text-center" :src="headerStyle">
            <h1 v-if="candidate.campaign" >{{ candidate.campaign }}</h1>
        </v-parallax>

        <material-card :is-page-profile="true" :avatar="candidate.image" icon-avatar="mdi-account" class="main main-raised elevation-24 mb-12">

            <v-container>
                <landing-profile-loading v-if="isLoading" ></landing-profile-loading>

                <v-layout v-else wrap>
                    <v-flex sm12 md12 class="align-center text-center align-content-center justify-center">
                        <v-btn
                          :to="{ name: 'Campaign', params: {id: $route.params.campaign_id } }"
                          rounded
                          text
                          color="primary"
                        >
                            <v-icon left>mdi-arrow-left</v-icon> {{ $t('Core.Back') }}
                        </v-btn>
                        <v-btn
                          v-if="candidate.can_vote"
                          :to="{ name: 'Vote', params: {id: $route.params.campaign_id } }"
                          rounded
                          color="primary"
                        >
                            <v-icon left>mdi-vote-outline</v-icon> {{ $t('Landing.VoteHere') }}
                        </v-btn>
                    </v-flex>
                    <v-flex sm12 :md12="candidate.team && candidate.team.length > 1" :md8="candidate.team && candidate.team.length === 1" class="mx-auto">
                        <v-card-text class="text-center">
                            <h4 class="card-title font-weight-light">{{ candidate.name }}</h4>
                            <v-btn
                                v-if="candidate.age_number"
                                small
                                text
                            >
                                {{ `${$t('Input.Age').capitalize()} ${candidate.age_number}` }}
                            </v-btn>
                            <p class="card-description font-weight-light">
                                {{ candidate.profile }}
                            </p>
                            <youtube v-if="candidate.video" :width="videoWidth" :video-id="$youtube.getIdFromUrl(candidate.video)" :player-vars="playerVars"></youtube>
                        </v-card-text>
                    </v-flex>
                    <v-flex v-for="team in candidate.team" :key="team.id" xs12 sm12 md4 class="my-12 mx-auto">
                        <v-card
                          elevation="0"
                        >
                            <v-card-text class="text-center">
                                <v-avatar
                                  class="mt-n12 mb-6 elevation-12"
                                  color="grey"
                                  size="88"
                                >
                                    <v-img v-if="team.image" :src="team.image"></v-img>
                                    <v-icon v-else dark size="40">mdi-account</v-icon>
                                </v-avatar>

                                <div class="title font-weight-light mb-3 text--darken-2 grey--text">
                                    {{ team.name }}
                                </div>
                                <v-btn
                                  small
                                  text
                                >
                                    {{ `${$t('Input.Age').capitalize()} ${team.age_number}` }}
                                </v-btn>
                                <p class="card-description font-weight-light">
                                    {{ team.profile }}
                                </p>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </material-card>

        <landing-footer v-if="!$route.meta.hideFooter"></landing-footer>
    </div>
</template>

<script>
    import {Candidate} from "@/models/services/Candidate";

    export default {
        props: ['item'],
        name: "Profile",
        bodyClass: "profile-page",
        data: () => ({
            candidate: {},
            playerVars: {
                autoplay: 0,
                showinfo: 0,
                autohide: 1
            }
        }),
        created: function () {
            if ( this.item &&  this.$route.params.campaign_id && this.$route.params.candidate_id ) {
                this.candidate = this.item
            } else if ( this.$route.params.campaign_id && this.$route.params.candidate_id ) {
                this.getCandidate()
            } else {
                this.$router.push({
                    name: "Error"
                })
            }
        },
        methods: {
            getCandidate: function () {
                (new Candidate()).candidate( this.$route.params.campaign_id, this.$route.params.candidate_id )
                  .then(response => this.candidate = response.data)
                  .catch(error => {
                      if ( error.code === 404 ) {
                          this.$router.push({
                              name: "Error"
                          })
                      } else {
                          this. notifyOnError(error.message)
                      }
                  })
            }
        },
        computed: {
            headerStyle() {
                return require("@/assets/img/city-profile.jpg")
            },
            videoWidth () {
                return this.responsive ? '100%' : '640';
            }
        },
    }
</script>

<style scoped>

</style>
