<template>
  <v-container
    id="vote"
    fill-height
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
        <material-card
          width="300"
        >
          <template v-slot:heading>
            <div class="text-center">
              <h4 slot="title" class="title">{{ $t( `Toolbar.${$route.name}` ) }}</h4>
              
              <v-icon :rtl="$vuetify.rtl" dark slot="buttons" >$vuetify.icons.town</v-icon>
            </div>
          </template>
          
          <v-window touchless v-model="step">
            <v-window-item :value="1">
              <v-form @submit.prevent="onSubmit" data-vv-scope="pin-validation">
                <v-card-text class="text-center">
                  <!--
                  <v-text-field
                    v-model.trim="form.pin"
                    v-validate="form.validations.pin_required"
                    :error-messages="errors.collect( 'pin-validation.pin' )"
                    required
                    prepend-icon="mdi-lock"
                    :counter="form.validations.pin_required.max"
                    :maxlength="form.validations.pin_required.max"
                    id="pin"
                    name="pin"
                    :loading="isLoading"
                    :readonly="isLoading"
                    :label="$t('Landing.ValidatePin').capitalize()"></v-text-field>
                  -->
                  <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">{{ $t('Landing.Participate') }}</v-btn>
                </v-card-text>
              </v-form>
            </v-window-item>
            <v-window-item :value="2">
              <v-card-text class="text-center">
                
                <v-form @submit.prevent="setPerson" data-vv-scope="surveyed-validation">
  
                  <v-text-field
                    v-model="person.name"
                    v-validate="person.validations.input_text_required"
                    :error-messages="errors.collect( 'surveyed-validation.name' )"
                    required
                    prepend-icon="mdi-face"
                    :counter="person.validations.input_text_required.max"
                    :maxlength="person.validations.input_text_required.max"
                    id="name"
                    name="name"
                    :loading="isLoading"
                    :readonly="isLoading"
                    :label="$t('Input.Name').capitalize()"></v-text-field>
  
                  <v-text-field
                    v-model="person.document"
                    clearable
                    v-validate="person.validations.input_document_required"
                    prepend-icon="mdi-pencil"
                    :error-messages="errors.collect( 'surveyed-validation.document' )"
                    :label="$t('Input.Document').capitalize()"
                    name="document"
                    :counter="person.validations.input_document_required.max"
                    :maxlength="person.validations.input_document_required.max"
                    :loading="isLoading"
                    :readonly="isLoading"
                    id="document"
                    required
                  />
                  
                  <v-btn type="submit" @submit.prevent="setPerson"  :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">{{ $t('Landing.Vote') }}</v-btn>
                
                </v-form>
              </v-card-text>
            </v-window-item>
            <v-form @submit.prevent="sendAnswers" data-vv-scope="survey">
              <template v-for="field in scheme_fields">
                <v-window-item :value="field.window">
                  <v-card-text class="text-center">
                    <FieldGenerator :field="field" :value="answers.answers[field.name]" @has-errors="onError" v-model="answers.answers[field.name]"></FieldGenerator>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn @click="onPrev( field )" v-if="step > 3" :loading="isLoading" :disabled="isLoading || has_error" class="mt-1" color="primary">
                      {{ $t('Core.Back') }}
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="onNext( field )" :loading="isLoading" :disabled="isLoading || has_error || ( field.required && ( answers.answers[field.name].hasOwnProperty('value') && field.type !== 'boolean' && !answers.answers[field.name].value) )" class="mt-1" color="primary">
                      {{ $t('Core.Next') }}
                    </v-btn>
                  </v-card-actions>
                </v-window-item>
              </template>
              <v-window-item :value="submit">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn type="submit" v-if="step === submit" block @submit.prevent="sendAnswers" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">{{ $t('Core.Submit') }}</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-window-item>
            </v-form>
          </v-window>
        
        </material-card>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>
  import FieldGenerator from "@/views/pages/Helper/FieldGenerator";
  import field_configuration from "@/utils/field_configuration";
  import {ValidateSurvey} from "@/models/services/ValidateSurvey";
  import {Survey} from "@/models/services/Survey";
  import {SurveyedPerson} from "@/models/services/SurveyedPerson";
  import {PeopleAnswers} from "@/models/services/PeopleAnswers";

  export default {
    name: "StartSurvey",
    bodyClass: "survey-page",
    components: {
      FieldGenerator
    },
    data: vm => ({
      step: 1,
      show: false,
      loading: false,
      has_error: false,
      is_required: true,
      form: new ValidateSurvey(),
      person: new SurveyedPerson(),
      questions: [],
      surveyed: {},
      scheme_fields: [],
      answers: new PeopleAnswers(),
      fields_config: field_configuration,
      n: 2,
      submit: 3,
      survey_expires: null,
      is_multiple: false
    }),
    created: function () {
      if ( this.$route.params.id ) {
        this.getRecord( this.$route.params.id );
      } else {
        this.$router.push({
          name: "Error"
        })
      }
    },
    methods: {
      getRecord: function ( id ) {
        this.loading = true;
        (new Survey()).public( {}, id )
          .then((response) => {
            this.is_multiple = response.data.is_multiple;
            this.survey_expires = moment( response.data.available_until ).isValid()
                                ? moment( response.data.available_until ).toISOString()
                                : '1D';
          })
          .catch(error => {
            if ( error.code === 404 ) {
              this.$router.push({
                name: "Error",
                params: {
                  code: error.code,
                  text: error.message || this.$t('Core.UnexpectedError')
                }
              })
            } else {
              this.notifyOnError( error.message )
            }
          });
      },
      onSubmit: function () {
        this.$validator.validateAll('pin-validation').then(isValid => {
          if (isValid) {
            this.form.validateSurvey( this.$route.params.id )
              .then(response => {
                this.questions = response.data
                this.scheme_fields = response.data.map(f => {
                  this.n++;
                  this.answers.survey_id = this.$route.params.id;
                  return {
                    window: this.n,
                    ...this.fields_config[f.question_type_name],
                    label: f.question,
                    name: `${f.name}`,
                    required: !!( this.fields_config[f.question_type_name].validations.required ),
                    values: f.answers.map(a => {
                      this.answers.answers[`${f.name}`] = {
                        answer_id: a.id,
                        value: (f.question_type_name === 'boolean') ? false : null,
                      };
                      return {
                        id: a.id,
                        text: a.answer,
                        src: a.src
                      }
                    })
                  }
                });
              })
              .then( () => this.step = 2 )
              .then( () => this.submit = this.n+1)
              .catch(error => {
                this.step = 1;
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })
          }
        })
      },
      setPerson: function () {
        this.$validator.validateAll('surveyed-validation').then(isValid => {
          if (isValid) {
            this.person.survey_id = this.$route.params.id;
            this.person.store()
              .then(response => {
                this.notifyOnSuccess(response.data)
                this.surveyed = response.person;
                this.answers.surveyed_id = this.surveyed.id;
              })
              .then( () => {
                if ( this.is_multiple ) {
                  this.step = 3
                } else {
                  /*
                  let cookie = this.$cookie.get('surveyed');
                  cookie = cookie ? JSON.parse( cookie ) : {};
                  if ( cookie.survey_id === this.$route.params.id && cookie.surveyed_id === this.surveyed.id ) {
                    this.step = 1;
                    this.notifyOnError(this.$t('Core.HadBeenParticipated'));
                  } else {
                    this.step = 3
                  }
                   */
                  this.step = 3
                }
              })
              .catch(error => {
                this.step = 2;
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })
          }
        })
      },
      onNext: function (field) {
        this.step = field.window + 1
      },
      onPrev: function (field) {
        this.step = field.window - 1
      },
      sendAnswers: function () {
        this.$validator.validateAll('survey').then(isValid => {
          if (isValid && !this.has_error) {
              this.answers.store()
              .then((response) => this.notifyOnSuccess( response.data ))
               .then(() => {
                  if ( this.is_multiple ) {
                    this.$router.push({name: 'ThankYouSurvey', params: {id: this.$route.params.id}})
                  } else {
                    //let data = JSON.stringify( { survey_id: this.$route.params.id, surveyed_id: this.surveyed.id } );
                    //this.$cookie.set('surveyed', data, { expires: this.survey_expires });
                    this.$router.push({name: 'ThankYouSurvey', params: {id: this.$route.params.id}})
                  }
                })
              .catch(error => this.notifyOnError(error.message))
          } else {
            this.notifyOnError(this.$t('Core.CompleteTheForm'))
          }
        })
      },
      onError: function (value) {
        this.has_error = value;
      },
      isRequired: function (value) {
        this.is_required = value;
      }
    },
  }
</script>

<style scoped>
  .v-icon--is-component {
    height: 24px;
    width: auto;
  }
</style>