<template>
  <div class="wrapper">
    <v-parallax :lazy-src="headerStyle" :src="headerStyle" class="text-center">
      <h1 :style="responsive ? 'margin-top: -30px;' : '' " v-if="data.name" >{{ data.name }}</h1>
    </v-parallax>
    
    <material-card :is-page-profile="true" icon-avatar="mdi-ballot" icon-avatar-color="primary" class="main main-raised elevation-24 mb-12">
      <v-container>
        <v-layout wrap>
          <v-flex sm12 class="mx-auto">
            <v-card-text class="text-center">
              <p class="card-description font-weight-light">
                <v-btn text color="primary" :to="{ name: 'Survey', params: {id: $route.params.id } }" >
                  {{ $t('Core.Back') }}
                </v-btn>
              </p>
              <AnswersGenerator v-if="showResults(data.results_at)"></AnswersGenerator>
              <core-empty-state v-else class="my-2" icon="mdi-clock" :label="$t('Core.NoResults')" :description="$t('Core.NoData')">
    
                <v-btn color="primary" @click="getRecord( $route.params.id )">
                  <v-icon left>mdi-refresh</v-icon> {{ $t('Core.Refresh') }}
                </v-btn>
              </core-empty-state>
            </v-card-text>
          </v-flex>
        </v-layout>
      </v-container>
    </material-card>
  
    <v-fab-transition>
      <v-btn
        v-if="responsive"
        :to="{ name: 'Survey', params: {id: $route.params.id } }"
        color="primary"
        :loading="isLoading"
        :disabled="isLoading"
        dark
        fixed
        bottom
        right
        fab
      >
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
    </v-fab-transition>
    
    <landing-footer v-if="!$route.meta.hideFooter"></landing-footer>
  </div>
</template>

<script>
  import AnswersGenerator from "@/views/pages/Helper/AnswersGenerator";
  import moment from "moment"
  import {Survey} from "@/models/services/Survey";
  export default {
    name: "SurveyResults",
    components: {
      AnswersGenerator
    },
    data: () => ({
      loading: false,
      can_vote: false,
      data: {},
      total: 0,
    }),
    created: function () {
      if ( this.$route.params.id ) {
        this.getRecord( this.$route.params.id );
      } else {
        this.$router.push({
          name: "Error"
        })
      }
    },
    methods: {
      getRecord: function ( id ) {
        this.loading = true;
        this.total = 0;
        (new Survey()).public( {}, id )
          .then(response => {
            this.data = response.data
            this.total = response.total
            let isBefore = this.moment( response.data.available_until ).isValid()
              ? this.moment().isBefore( response.data.available_until )
              : false;

            this.textAvailable = isBefore ? this.$t('Landing.SurveyValidUntil') : this.$t('Landing.SurveyValidUntilPast');
            this.current_time = this.moment();

          })
          .then(() => this.setFromNow( this.$i18n.locale ))
          .catch(error => {
            if ( error.code === 404 ) {
              this.$router.push({
                name: "Error",
                params: {
                  code: error.code,
                  text: error.message || this.$t('Core.UnexpectedError')
                }
              })
            } else {
              this.notifyOnError( error.message )
            }
          })
          .finally(() => this.loading = false)
      },
      showResults: function ( date ) {
        let data = moment( date ).isValid() ? moment(date) : null;
        if ( data ) {
          return moment().isAfter( data );
        } else {
          return false;
        }
      },
    },
    computed: {
      headerStyle() {
        return require("@/assets/img/city-profile.jpg")
      }
    },
  }
</script>

<style scoped>

</style>