<template>
  <div class="wrapper">
    <v-parallax :lazy-src="headerStyle" :src="headerStyle" class="text-center">
      <h1 :style="responsive ? 'margin-top: -30px;' : '' " v-if="data.name" >{{ data.name }}</h1>
    </v-parallax>

    <material-card :is-page-profile="true" icon-avatar="mdi-ballot" icon-avatar-color="primary" class="main main-raised elevation-24 mb-12">
      
      <v-container>
        
        <landing-profile-loading v-if="loading" ></landing-profile-loading>
        
        <v-layout v-else wrap>
          <v-flex sm12 md6 class="mx-auto">
            <v-card-text class="text-center">
              <h4 class="card-title font-weight-light">{{ data.name }}</h4>
              <v-btn
                v-if="data.can_vote"
                :to="{ name: 'StartSurvey', params: {id: $route.params.id } }"
                rounded
                x-large
                color="primary"
              >
                <v-icon left>mdi-pencil</v-icon> {{ $t('Landing.EnterHere') }}
              </v-btn>
              
              <p v-if="!readMore && data.description.length > 300" class="card-description font-weight-light">
                {{ data.description.substr(0, 300) }}
                <v-btn @click="readMore = true" text small>{{ $t('Input.ReadMore') }}</v-btn>
              </p>
              
              <p v-else class="card-description font-weight-light">
                {{ data.description }}
                <v-btn v-if="data.description.length > 300" @click="readMore = false" text small>{{ $t('Input.ReadLess') }}</v-btn>
              </p>
              
              <p class="card-description font-weight-light">
                <v-btn text color="primary" v-if="!isFuture( data.available_from )">
                  {{ `${ textAvailable } ` }} {{ data.available_until | to_now( $i18n.locale ) }}
                </v-btn>
                
                <v-btn text color="primary" v-else>
                  {{ `${ textAvailable } ` }} {{ data.available_from | to_now( $i18n.locale ) }}
                </v-btn>
              </p>
  
              <p class="card-description font-weight-light">
                <material-stats-card
                  color="primary"
                  icon="mdi-vote-outline"
                  :title="$t('Landing.RegisteredVotes')"
                  :value="data.count_votes"
                  sub-icon="mdi-calendar"
                  :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
                ></material-stats-card>
              </p>
              
              <p class="card-description font-weight-light">
                <v-btn text color="primary" :to="{ name: 'Results', params: {id: $route.params.id } }" v-if="showResults(data.results_at)">
                  {{ $t('Core.View') }} {{ $t('Landing.Results') }}
                </v-btn>
              </p>
            </v-card-text>
          </v-flex>
        </v-layout>
      
      </v-container>
    </material-card>
    
    <v-fab-transition>
      <v-btn
        id="section05"
        v-if="data.can_vote && responsive"
        :to="{ name: 'StartSurvey', params: {id: $route.params.id } }"
        :color="color"
        :loading="isLoading"
        :disabled="isLoading"
        dark
        fixed
        bottom
        right
        fab
      >
        <v-icon>mdi-vote-outline</v-icon>
      </v-btn>
    </v-fab-transition>
    
    <landing-footer v-if="!$route.meta.hideFooter"></landing-footer>
  </div>
</template>

<script>
  
  import moment from "moment"
  import {Survey} from "@/models/services/Survey";
  export default {
    name: "Survey",
    data: () => ({
      readMore: false,
      tab: null,
      data: {},
      loading: false,
      can_vote: false,
      options: {
        digit: 15,
        countdown: true,
        clockFace: 'DailyCounter',
      },
      count: 0,
      textAvailable: '',
      color:'info',
      candidates: {
        data: {
          labels: ['N/A'],
          series: [
            [10]
          ]
        },
        options: {
          axisX: {
            showGrid: false
          },
          low: 0,
          high: 11,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 0
          }
        },
        responsiveOptions: [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0]
              }
            }
          }]
        ]
      },
    }),

    created: function () {
      if ( this.$route.params.id ) {
        this.getRecord( this.$route.params.id );
      } else {
        this.$router.push({
          name: "Error"
        })
      }
    },
    mounted: function () {
      let that = this;
      setInterval(function () {
        if ( that.color === 'info' ) {
          that.color = 'indigo';
        } else {
          that.color = 'info';
        }
      }, 2000)
    },
    methods: {
      getRecord: function ( id ) {
        this.loading = true;
        (new Survey()).public( {}, id )
          .then(response => {
            this.data = response.data
            let isBefore = this.moment( response.data.available_until ).isValid()
              ? this.moment().isBefore( response.data.available_until )
              : false;
            
            this.textAvailable = isBefore ? this.$t('Landing.SurveyValidUntil') : this.$t('Landing.SurveyValidUntilPast');
            this.current_time = this.moment();

          })
          .then(() => this.setFromNow( this.$i18n.locale ))
          .catch(error => {
            if ( error.code === 404 ) {
              this.$router.push({
                name: "Error",
                params: {
                  code: error.code,
                  text: error.message || this.$t('Core.UnexpectedError')
                }
              })
            } else {
              this.notifyOnError( error.message )
            }
          })
          .finally(() => this.loading = false)
      },
      initials ( text ) {
        if (!text) return ''
        let initials = '';
        text.split(' ').forEach(val => {
          initials += val.substring(0, 1)
        });
        if ( initials.length > 2 ) {
          initials = initials.substr(0, 1) + initials.substr(2, 1);
        }
        return initials.toUpperCase()
      },
      showResults: function ( date ) {
        let data = moment( date ).isValid() ? moment(date) : null;
        if ( data ) {
          return moment().isAfter( data );
        } else {
          return false;
        }
      },
      isFuture: function ( date ) {
        let data = moment( date ).isValid() ? moment( date ) : null;
        let isBefore = this.moment( data ).isValid()
          ? this.moment().isBefore( data )
          : false;
        if ( isBefore ) {
          this.textAvailable = this.$t('Landing.SurveyStart')
        }
        return isBefore
      },
      longProfile: function (text) {
        return text.length > 270 ? text.substring(0, 270).concat('...') : text;
      }
    },
    computed: {
      headerStyle() {
        return require("@/assets/img/city-profile.jpg")
      }
    },
  }
</script>

<style scoped>
  #section05 span::before {
    border-radius: 100%;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>