<template>
  <v-container
    id="vote"
    fill-height
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
          <material-card
            width="300"
          >
            <template v-slot:heading>
              <div class="text-center">
                <h4 slot="title" class="title">{{ $t( `Toolbar.${$route.name}` ) }}</h4>

                <v-icon :rtl="$vuetify.rtl" slot="buttons" >$vuetify.icons.idrd</v-icon>
              </div>
            </template>

            <v-card-text>
              {{ $t('Landing.ThankYouText') }}
            </v-card-text>

            <v-card-actions>
              <v-btn @click="onBack"  class="mt-1" color="primary">{{ $t('Landing.GoHome') }}</v-btn>
            </v-card-actions>

          </material-card>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>

  export default {
    name: "ThankYouSurvey",
    bodyClass: "thank-you-page",
    created: function () {
      if ( this.$route.params.id ) {

      } else {
        this.$router.push({name: 'Error'});
      }
    },
    methods: {
      onBack: function () {
        this.$router.push( {name: 'Results', params: { id: this.$route.params.id }} );
      }
    }
  }
</script>

<style scoped>
  .v-icon--is-component {
    height: 24px;
    width: auto;
  }
</style>