<template>
  <v-container
      id="vote"
      fill-height
      tag="section"
  >
    <v-row justify="center">
      <v-card max-width="600" class="mt-12">
        <v-card-title>Candidatos</v-card-title>
        <v-card-text>
          <p>Da clic sobre la imagen de tu candidato favorito y luego presiona el botón Votar.</p>
        </v-card-text>
        <v-item-group v-model="form.candidate_id" active-class="primary">
          <v-container
              id="vote-cards"
              fill-height
              tag="section"
          >
            <v-row>
              <v-col
                  v-for="n in people"
                  :key="n.id"
                  cols="12"
                  md="4"
              >
                <v-item :value="n.id" v-slot="{ active, toggle }">
                  <v-card
                      class="d-flex align-center"
                      dark
                      width="200"
                      @click="toggle"
                  >
                    <v-img
                        gradient="to bottom, rgba(0,0,0,.3), rgba(0,0,0,.8)"
                        :src="image(n.image)"
                    >
                      <v-scroll-y-transition>
                        <div
                            v-if="active"
                            class="display-3 flex-grow-1 text-center"
                        >
                          <p class="mt-4 subheading text-left">{{ n.name }}</p>
                          <v-btn @click="onVote(n)" color="primary">
                            Votar
                          </v-btn>
                        </div>
                      </v-scroll-y-transition>
                    </v-img>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-container>
        </v-item-group>
      </v-card>
    </v-row>
    <v-dialog v-model="confirm_vote" persistent max-width="290">
      <v-card  v-if="current.id">
        <v-card-title class="headline">{{ $t('Landing.ConfirmVote') }}</v-card-title>

        <v-card-text>
          {{ $t('Landing.AreYouSureVote?', {name: current.name}) }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="error" :disabled="isLoading" :loading="isLoading" text @click="onClose">
            {{ $t('Core.Cancel') }}
          </v-btn>

          <v-btn color="primary" :disabled="isLoading" :loading="isLoading" text @click="vote(current.id)">
            {{ $t('Landing.Vote') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import {Vote} from "@/models/services/Vote";
import {Campaign} from "@/models/services/Campaign";

export default {
  name: 'VoteGrid',
  props: {
    canVote: {
      type: Boolean,
      default: false
    },
    voter_id: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    loading: false,
    form: new Vote(),
    confirm_vote: false,
    people: [],
    person: null,
    current: {},
  }),
  created: function () {
    this.getParticipants();
  },
  methods: {
    getParticipants: function() {
      this.loading = true;
      (new Campaign()).public({}, this.$route.params.id )
          .then(response => {
            this.people = response.data.candidates
          })
          .catch((error) => {
            this.notifyOnError( error.message )
            if ( error.code === 404 ) {
              this.$router.push( { name: 'Error', params: { code: error.code, message: error.message } } )
            }
          })
          .finally(() => this.loading = false)
    },
    vote(id) {
      this.form.candidate_id = id;
      this.form.vote( this.$route.params.id )
          .then( response => this.notifyOnSuccess( response.data ) )
          .then(() => this.$router.push( {name: 'ThankYou', params: { id: this.$route.params.id }} ) )
          .catch( error =>  {
            if ( error.message ) {
              this.notifyOnError( error.message )
            } else {
              if ( this.form.errors.has( 'voter_id' ) ) {
                this.notifyOnError( this.form.errors.first( 'voter_id' ) )
              }
              if ( this.form.errors.has( 'candidate_id' ) ) {
                this.notifyOnError( this.form.errors.first( 'candidate_id' ) )
              }
            }
            this.$router.push( {name: 'Vote', params: { id: this.$route.params.id }} )
          })
          .finally(() => this.confirm_vote = false)
    },
    onVote(user) {
      this.current = user;
      this.confirm_vote = true;
    },
    onClose() {
      this.current = {};
      this.confirm_vote = false;
    },
    image( image ) {
      return image ? image : require('@/assets/img/profile_pic.png');
    }
  },
  beforeRouteEnter: function (to, from, next) {
    if ( to.params.id && to.params.canVote && to.params.voter_id ) {
      next( vm => {
        vm.form.voter_id = to.params.voter_id;
      })
    } else {
      next( { name: 'Vote', params: { id: to.params.id } } );
    }
  }
}
</script>

<style scoped>

</style>