<template>
  <v-container
    id="vote"
    fill-height
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
          <material-card width="400">
            <template v-slot:heading>
              <div class="text-center">
                <h4 slot="title" class="title">{{ $t( `Toolbar.${$route.name}` ) }}</h4>

                <v-icon :rtl="$vuetify.rtl" dark slot="buttons" >$vuetify.icons.idrd</v-icon>
              </div>
            </template>

            <v-window v-model="step" touchless>
              <v-window-item :value="1">
                <v-form @submit.prevent="onSubmit" data-vv-scope="document-validation">
                  <v-card-text class="text-center">
                    <v-text-field
                      v-model="form.document"
                      v-validate="form.validations.input_document_required"
                      :error-messages="errors.collect( 'document' )"
                      required
                      prepend-icon="mdi-lock"
                      :counter="form.validations.input_document_required.max"
                      :maxlength="form.validations.input_document_required.max"
                      id="document"
                      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      name="document"
                      :loading="isLoading"
                      :readonly="isLoading"
                      autocomplete="off"
                      @click:append.prevent="show = !show"
                      :label="$t('Landing.ValidateDocument').capitalize()"
                      :type="show ? 'text' : 'password'"></v-text-field>
                    <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">{{ $t('Landing.Vote') }}</v-btn>

                  </v-card-text>
                </v-form>
              </v-window-item>

              <v-window-item :value="2">
                <v-card-text class="text-center">

                  <p class="description">{{ name }}</p>

                  <v-divider></v-divider>

                  <v-form @submit.prevent="onSubmitAnswers" data-vv-scope="answers-validation">
                    <!--
                    <v-dialog
                        v-for="question in questions"
                        :id="`question_${question.id}`"
                        :key="question.id"
                        ref="dialog_pick"
                        v-model="modal"
                        :return-value.sync="date"
                        persistent
                        width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                            v-model="date"
                            name="question"
                            prepend-inner-icon="mdi-help-circle"
                            v-validate="'required'"
                            readonly
                            :loading="isLoading"
                            :disabled="isLoading"
                            :error-messages="errors.collect( 'question' )"
                            :label="question.question.capitalize()"
                            v-bind="attrs"
                            v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="date" ref="picker">
                        <v-spacer></v-spacer>
                        <v-btn
                            text
                            color="primary"
                            @click="modal = false"
                        >
                          Cancelar
                        </v-btn>
                        <v-btn
                            text
                            color="primary"
                            @click="onSelectQuestion(question.id, date)"
                        >
                          OK
                        </v-btn>
                      </v-date-picker>
                    </v-dialog>
                    -->
                    <v-select
                      v-for="question in questions"
                      :id="`question_${question.id}`"
                      name="question"
                      :key="question.id"
                      v-validate="'required'"
                      :error-messages="errors.collect( 'question' )"
                      return-object
                      @change="onSelectQuestion"
                      clearable
                      :loading="isLoading"
                      :disabled="isLoading"
                      hide-details
                      item-text="answer"
                      class="mr-auto my-2"
                      :items="question.answers"
                      prepend-inner-icon="mdi-help-circle"
                      :label="question.question.capitalize()"
                    ></v-select>
                    <v-btn type="submit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">{{ $t('Landing.Vote') }}</v-btn>

                  </v-form>
                </v-card-text>
              </v-window-item>

            </v-window>

          </material-card>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>

  import {Vote} from "@/models/services/Vote";
  import {Campaign} from "@/models/services/Campaign";

  export default {
    name: "Vote",
    bodyClass: "vote-page",
    data: () => ({
      step: 1,
      show: false,
      modal: false,
      loading: false,
      date: null,
      form: new Vote(),
      name: '',
      questions: []
    }),
    created: function () {
      if ( this.$route.params.id ) {
        this.getRecord( this.$route.params.id );
      } else {
        this.$router.push({
          name: "Error"
        })
      }
    },
    methods: {
      getRecord: function ( id ) {
        this.loading = true;
        (new Campaign()).public( {}, id )
          .catch(error => {
            if ( error.code === 404 ) {
              this.$router.push({
                name: "Error",
                params: {
                  code: error.code,
                  text: error.message || this.$t('Core.UnexpectedError')
                }
              })
            } else {
              this.notifyOnError( error.message )
            }
          });
      },
      onSubmit: function () {
        this.$validator.validateAll('document-validation').then(isValid => {
          if (isValid) {
            this.form.validateVoter( this.$route.params.id )
              .then(response => {
                this.questions = response.data
                this.name = response.name
                this.form.voter_id = response.voter_id
              })
              .then( () => this.step = 2 )
              .catch(error => {
                this.step = 1;
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })
          }
        })
      },
      onSelectQuestion: function ( question, date ) {
        if ( question ) {
          if (this.$refs.dialog_pick) {
            this.$refs.dialog_pick[0].save(date)
            this.form.selected_answers.push( {
              id: question,
              answer: date
            } );
            if ( this.form.selected_answers !== 'object' ) {
              this.form.selected_answers = [];
            }
          } else {
            this.form.selected_answers.push( question );
          }
        }
      },
      onSubmitAnswers: function () {
        if ( this.form.selected_answers.length > 0 ) {
          let voter_id = this.form.voter_id;
          this.form.validateAnswers( this.$route.params.id )
            .then(response => this.notifyOnSuccess( response.data ) )
            .then( () => this.$router.push({name: 'VoteCandidates', params: { id: this.$route.params.id, canVote: true, voter_id: voter_id } }))
            .catch(error => {
              this.step = 1;
              this.form.selected_answers = [];
              if ( error.message ) {
                this.notifyOnError( error.message )
              }
            })
        }
      }
    },
    watch: {
      modal (val) {
        val && setTimeout(() => (this.$refs.dialog_pick[0].activePicker = 'YEAR'))
      },
    },
  }
</script>

<style scoped>
  .v-icon--is-component {
    height: 24px;
    width: auto;
  }
</style>