<template>
  <v-container
    id="vote-cards"
    fill-height
    tag="section"
  >
    <v-row justify="center" align="center">
      <v-slide-y-transition appear>
        <v-col cols="12">
          <div v-if="loading"
               class="fixed fixed--center"
               style="z-index: 3"
          >
            <v-card class="mx-auto v-card-candidate v-card-candidate--one elevation-24">
              <v-card-text>
                <vue-content-loading>
                  <rect x="70" y="15" rx="4" ry="4" width="117" height="6.4" ></rect>
                  <rect x="70" y="35" rx="3" ry="3" width="85" height="6.4" ></rect>
                  <rect x="0" y="80" rx="3" ry="3" width="350" height="6.4" ></rect>
                  <rect x="0" y="100" rx="3" ry="3" width="380" height="6.4" ></rect>
                  <rect x="0" y="120" rx="3" ry="3" width="201" height="6.4" ></rect>
                  <circle cx="30" cy="30" r="30" ></circle>
                </vue-content-loading>
              </v-card-text>
              <v-card-actions>
                <p class="font-weight-light title">{{ $t('Input.Profile').capitalize() }}</p>
                <v-spacer></v-spacer>
                <v-btn
                  :loading="loading"
                  icon
                >
                  <v-icon>mdi-account-box-outline</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>

          </div>
          <div v-if="current"
               class="fixed fixed--center"
               style="z-index: 3"
               :class="{ 'transition': isVisible }">
            <Vue2InteractDraggable
              v-if="isVisible"
              @click="dialog = true"
              :interact-out-of-sight-x-coordinate="500"
              :interact-max-rotation="15"
              :interact-x-threshold="200"
              :interact-y-threshold="200"
              :interact-event-bus-events="interactEventBus"
              interact-block-drag-down
              @draggedRight="emitAndNext('match')"
              @draggedLeft="emitAndNext('reject')"
              @draggedUp="emitAndNext('skip')"
            >

              <v-card class="mx-auto v-card-candidate v-card-candidate--one elevation-24">
                <v-img
                  gradient="to bottom, rgba(0,0,0,.3), rgba(0,0,0,.8)"
                  :src="image( current.image)"
                >
                  <v-card-title class="ml-2 title white--text">
                    <v-row
                      class="fill-height flex-column"
                      justify="space-between"
                    >
                      <p class="mt-4 subheading text-left">{{ current.name }}</p>
                    </v-row>
                  </v-card-title>
                </v-img>
                <v-card-actions>
                  <p class="font-weight-light title">{{ $t('Input.Profile').capitalize() }}</p>
                  <v-spacer></v-spacer>
                  <v-btn
                    icon
                    @click="dialog = true"
                  >
                    <v-icon>mdi-account-box-outline</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>

            </Vue2InteractDraggable>
          </div>
          <div v-if="next" class="fixed fixed--center" style="z-index: 2">
            <v-card class="mx-auto v-card-candidate v-card-candidate--two elevation-24">
              <v-img
                gradient="to bottom, rgba(0,0,0,.3), rgba(0,0,0,.8)"
                :src="image( next.image)"
              >
                <v-card-title class="ml-2 title white--text">
                  <v-row
                    class="fill-height flex-column"
                    justify="space-between"
                  >
                    <p class="mt-4 subheading text-left">{{ next.name }}</p>
                  </v-row>
                </v-card-title>
              </v-img>
              <v-card-actions>
                <p class="font-weight-light title">{{ $t('Input.Profile').capitalize() }}</p>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon>mdi-account-box-outline</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </div>
          <div v-if="index + 2 < cards.length"
               class="fixed fixed--center"
               style="z-index: 1">
            <v-card dark class="v-card-candidate v-card-candidate--three elevation-24">
              <v-img
                gradient="to bottom, rgba(0,0,0,.7), rgba(0,0,0,.9)"
                :src="image( pop.image)"
              >
                <v-card-title class="ml-2 title white--text">
                  <v-row
                    class="fill-height flex-column"
                    justify="space-between"
                  >
                    <p class="mt-4 subheading text-left">{{ pop.name }}</p>
                  </v-row>
                </v-card-title>
              </v-img>
              <v-card-actions>
                <p class="font-weight-light title">{{ $t('Input.Profile').capitalize() }}</p>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon>mdi-account-box-outline</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </div>
        </v-col>
      </v-slide-y-transition>
    </v-row>

    <v-bottom-navigation
      :value="activeBtn"
      grow
    >
      <v-btn @click="back" v-if="cards.length > 0">
        <span>{{ $t('Core.Back') }}</span>
        <v-icon>mdi-undo</v-icon>
      </v-btn>

      <v-btn @click="match" v-if="cards.length > index">
        <span>{{ $t('Landing.Vote') }}</span>
        <v-icon color="success">mdi-vote</v-icon>
      </v-btn>

      <v-btn @click="dialog = true" v-if="cards.length > index && responsive">
        <span>{{ $t('Input.Profile').capitalize() }}</span>
        <v-icon color="primary">mdi-account-box-outline</v-icon>
      </v-btn>

      <v-btn @click="skip" v-if="cards.length > index">
        <span>{{ $t('Core.Next') }}</span>
        <v-icon>mdi-redo</v-icon>
      </v-btn>

      <v-btn @click="refresh" v-else>
        <span>{{ $t('Core.Refresh') }}</span>
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </v-bottom-navigation>



    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="bg-primary">
          <v-btn icon dark @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ $t('Input.Profile').capitalize() }}</v-toolbar-title>
        </v-toolbar>


        <v-container grid-list-md text-xs-center fluid fill-height :style=" responsive ? 'margin-top: -80px;' : '' ">
          <v-layout align-center justify-center row >
            <v-flex xs12 sm12 md12 lg8 xl8>

              <v-card v-if="current" style="margin-top: 150px" class="elevation-0">

                <v-card-text class="text-center">
                  <v-avatar
                    class="mt-n12 mb-6 elevation-12"
                    color="grey"
                    size="100"
                  >
                    <v-img :src="image( current.image )" :alt="current.name" />
                  </v-avatar>

                  <h4 class="card-title font-weight-light">{{ current.name }}</h4>
                  <h4 class="card-title font-weight-light">{{ $t('Input.Age').capitalize() }}: {{ current.age_number }}</h4>
                  <p class="card-description font-weight-light">
                    {{ current.profile }}
                  </p>
                </v-card-text>
                <v-card-text v-if="responsive">
                  <v-row  justify="center" align="center">
                    <v-col cols12>{{ $t('Input.CoRepresentative').capitalize() }}</v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions v-if="current.co_name">
                  <v-list-item class="grow">
                    <v-list-item-avatar color="grey darken-3">
                      <v-img
                        v-if="current.co_image"
                        class="elevation-6"
                        :src="current.co_image"
                      ></v-img>
                      <v-icon v-else>mdi-account</v-icon>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title>{{ current.co_name }}</v-list-item-title>
                    </v-list-item-content>

                    <v-row
                      v-if="!responsive"
                      align="center"
                      justify="end"
                    >
                      {{ $t('Input.CoRepresentative').capitalize() }}
                    </v-row>
                  </v-list-item>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>


      </v-card>
    </v-dialog>

    <v-dialog v-model="confirm_vote" persistent max-width="290">
      <v-card  v-if="current">
        <v-card-title class="headline">{{ $t('Landing.ConfirmVote') }}</v-card-title>

        <v-card-text>
          {{ $t('Landing.AreYouSureVote?', {name: current.name}) }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="error" :disabled="isLoading" :loading="isLoading" text @click="confirm_vote = false">
            {{ $t('Core.Cancel') }}
          </v-btn>

          <v-btn color="primary" :disabled="isLoading" :loading="isLoading" text @click="vote">
            {{ $t('Landing.Vote') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import { Vue2InteractDraggable, InteractEventBus } from 'vue2-interact'
  import {Campaign} from "@/models/services/Campaign";
  import {Vote} from "@/models/services/Vote";
  const EVENTS = {
    MATCH: 'match',
    SKIP: 'skip',
    REJECT: 'reject'
  }

  export default {
    name: "VoteCards",
    props: {
      canVote: {
        type: Boolean,
        default: false
      },
      voter_id: {
        type: Number,
        default: null
      }
    },
    components: { Vue2InteractDraggable },
    bodyClass: "vote-cards-page",
    data: () => ({
      loading: false,
      form: new Vote(),
      activeBtn: null,
      show: false,
      confirm_vote: false,
      dialog: false,
      isVisible: true,
      index: 0,
      interactEventBus: {
        draggedRight: EVENTS.MATCH,
        draggedLeft: EVENTS.REJECT,
        draggedUp: EVENTS.SKIP
      },
      people: [],
      cards: [],
      person: null
    }),
    computed: {
      current() {
        return this.cards[this.index]
      },
      next() {
        return this.cards[this.index + 1]
      },
      pop() {
        return this.cards[this.index + 2]
      }
    },
    created: function () {
        this.getParticipants();
    },
    methods: {
      getParticipants: function() {
        this.loading = true;
        (new Campaign()).public({}, this.$route.params.id )
          .then(response => {
            this.people = response.data.candidates
          })
          .then(() => {

            function random(a, b) {
              return 0.5 - Math.random();
            }

            this.cards = this.people.sort( random )

          })
          .catch((error) => {
            this.notifyOnError( error.message )
            if ( error.code === 404 ) {
              this.$router.push( { name: 'Error', params: { code: error.code, message: error.message } } )
            }
          })
          .finally(() => this.loading = false)
      },

      vote() {
        this.form.candidate_id = this.current.id;

        this.form.vote( this.$route.params.id )
          .then( response => this.notifyOnSuccess( response.data ) )
          .then(() => this.$router.push( {name: 'ThankYou', params: { id: this.$route.params.id }} ) )
          .catch( error =>  {
            if ( error.message ) {
              this.notifyOnError( error.message )
            } else {
              if ( this.form.errors.has( 'voter_id' ) ) {
                this.notifyOnError( this.form.errors.first( 'voter_id' ) )
              }
              if ( this.form.errors.has( 'candidate_id' ) ) {
                this.notifyOnError( this.form.errors.first( 'candidate_id' ) )
              }
            }
            this.$router.push( {name: 'Vote', params: { id: this.$route.params.id }} )
          })
          .finally(() => this.confirm_vote = false)
      },
      refresh() {
        function random(a, b) {
          return 0.5 - Math.random();
        }
        this.cards = this.people.sort( random )
        this.index = 0;
      },
      match() {
        this.confirm_vote = true;
        //InteractEventBus.$emit(EVENTS.MATCH)
      },
      back() {
        if ( this.index > 0 ) {
          this.emitAndBack( 'back' )
        }
      },
      skip() {
        if ( this.index === this.cards.length ) {
          this.index = 0;
        } else {
          InteractEventBus.$emit(EVENTS.REJECT)
        }
      },
      emitAndNext(event) {
        this.$emit(event, this.index);
        setTimeout(() => this.isVisible = false, 200);
        setTimeout(() => {
          this.index++;
          this.isVisible = true;
        }, 200);
      },

      emitAndBack( event ) {
        this.$emit(event, this.index);
        setTimeout(() => this.isVisible = false, 200);
        setTimeout(() => {
          this.index--;
          this.isVisible = true;
        }, 200);
      },

      image( image ) {
        return image ? image : require('@/assets/img/profile_pic.png');
      }
    },
    beforeRouteEnter: function (to, from, next) {
      if ( to.params.id && to.params.canVote && to.params.voter_id ) {
        next( vm => {
          vm.form.voter_id = to.params.voter_id;
        })
      } else {
        next( { name: 'Vote', params: { id: to.params.id } } );
      }
    }
  }
</script>

<style lang="scss" scoped>

  .v-bottom-navigation {
    position: fixed;
    height: auto;
    .v-btn {
      margin: 0;
    }
  }

  .fixed {
    position: fixed;
    &--center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .v-card-candidate {
    min-width: 400px;
    max-width: 500px;
    border-radius: 12px;
    &--one {
      box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    }
    &--two {
      transform: translate(4%, 4%);
      box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
    }
    &--three {
      transform: translate(8%, 8%);
      box-shadow: 0 10px 13px -6px rgba(0,0,0,.2), 0 20px 31px 3px rgba(0,0,0,.14), 0 8px 38px 7px rgba(0,0,0,.12);
    }
  }

  @media only screen and (max-width: 767px)  {
    .v-card-candidate {
      min-width: 250px;
      max-width: 250px;
    }
  }
</style>