<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <v-col cols="12" lg="12" sm="12">
        <v-select
          v-model="form.survey_id"
          v-validate="form.validations.required"
          prepend-icon="mdi-ballot"
          clearable
          return-object
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="survey_id"
          name="survey_id"
          :error-messages="errors.collect( 'survey_id' )"
          :label="$t('Input.Survey').capitalize()"
          :items="surveys"
          @change="onSurvey"
          item-text="name"
          item-value="id"
          required
        ></v-select>
      </v-col>
  
      <v-col cols="12" lg="12" sm="12">
        <v-select
          v-model.number="form.question_id"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-help"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="question_id"
          name="question_id"
          :error-messages="errors.collect( 'question_id' )"
          :label="$t('Input.Question').capitalize()"
          :items="questions"
          item-text="question"
          item-value="id"
          required
        ></v-select>
      </v-col>

      <v-col cols="12" lg="3" sm="12">
        <v-switch v-model="has_image" :label="$t('Input.AttachImage')"></v-switch>
      </v-col>

      <v-col v-if="has_image" cols="12" sm="12" lg="12" class="text-center">
        <croppa v-model="image"
                :width="150"
                :height="150"
                placeholder="Click"
                :placeholder-font-size="16"
                :prevent-white-space="true"
                :show-remove-button="true"
                remove-button-color="black"
                :remove-button-size="50"
                :show-loading="true"
                :quality="1"
                :loading-size="50">
          <v-avatar slot="placeholder" size="96">
            <v-icon size="96">
              mdi-account
            </v-icon>
          </v-avatar>
        </croppa>
      </v-col>

      <v-col v-if="has_image" cols="12" sm="12" lg="12" class="text-center">

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.rotate()"> <v-icon>mdi-rotate-left</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.Rotate')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.flipX()"> <v-icon>$vuetify.icons.flip_horizontal</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.FlipHorizontal')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.flipY()"> <v-icon>$vuetify.icons.flip_vertical</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.FlipVertical')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.zoomIn()"> <v-icon>mdi-magnify-plus-outline</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.ZoomIn')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.zoomOut()"> <v-icon>mdi-magnify-minus-outline</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.ZoomOut')}}</span>
        </v-tooltip>



      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.answer"
          clearable
          v-validate="form.validations.required"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'answer' )"
          :label="$t('Input.Answer').capitalize()"
          name="answer"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="answer"
          required
        />
      </v-col>
      
      <v-col cols="12">
        <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
          {{ item.id ?  $t('Core.Edit') : $t('Core.Create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {OfferedAnswer} from "@/models/services/OfferedAnswer";
  import {Survey} from "@/models/services/Survey";

  export default {
    name: "AnswerForm",
    props: {
      item: {
        type: Object,
        default: new OfferedAnswer().data() ,
      }
    },
    data: () => ({
      has_image: false,
      image: null,
      form: new OfferedAnswer(),
      surveys: [],
      questions: [],
    }),
    created: function() {
      this.form = new OfferedAnswer( this.item );
      this.getSurveys();
    },
    methods: {
      async onSubmit() {
        if ( this.image.hasImage() ) {
          this.form.image = await this.image.promisedBlob();
          this.form.file_name = await this.image.getChosenFile().name;
        }
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            let form = (this.item && this.item.id) ? this.form.update(this.item.id) : this.form.store();

            form
              .then(response => this.notifyOnSuccess(response.data))
              .then(() => this.$bus.$emit('onRefreshTable'))
              .then(() => this.onCloseFSD() )
              .catch(error => {
                if (error.message) {
                  this.notifyOnError(error.message)
                }
              })
          } else {
            this.notifyOnError(this.$t('Core.CompleteTheForm'))
          }
        });
      },
      getSurveys: function () {
        (new Survey()).onlyActive()
          .then( (response) => {
            this.surveys = response.data.map(s => {
              return {
                id: s.id,
                name: s.name,
                questions: s.questions
              }
            });
          })
          .catch((error) => this.notifyOnError( error.message ));
      },
      onSurvey: function (survey) {
        this.questions = survey.questions;
      }
    },
    watch: {
      item: function ( data ) {
        if ( data ) {
          this.form = new OfferedAnswer( data );
        } else {
          this.form = new OfferedAnswer();
          this.$validator.reset();
        }
      }
    }
  }
</script>

<style scoped>

</style>