<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <v-col v-if="show" cols="12" sm="12" lg="12" class="text-center">
        <croppa v-model="image"
                :width="200"
                :height="200"
                placeholder="Click"
                :placeholder-font-size="16"
                :prevent-white-space="true"
                :show-remove-button="true"
                remove-button-color="black"
                :remove-button-size="50"
                :show-loading="true"
                :quality="5"
                :loading-size="50">
          <v-avatar slot="placeholder" size="96">
            <v-icon size="96">
              mdi-account
            </v-icon>
          </v-avatar>
        </croppa>

      </v-col>

      <v-col v-if="show" cols="12" sm="12" lg="12" class="text-center">

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.rotate()"> <v-icon>mdi-rotate-left</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.Rotate')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.flipX()"> <v-icon>$vuetify.icons.flip_horizontal</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.FlipHorizontal')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.flipY()"> <v-icon>$vuetify.icons.flip_vertical</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.FlipVertical')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.zoomIn()"> <v-icon>mdi-magnify-plus-outline</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.ZoomIn')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.zoomOut()"> <v-icon>mdi-magnify-minus-outline</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.ZoomOut')}}</span>
        </v-tooltip>



      </v-col>

      <v-col v-if="!show" cols="12" sm="12" lg="12" class="text-center">
          <v-avatar v-if="item.image" size="196">
            <v-img :src="item.image"></v-img>
          </v-avatar>
        <v-avatar v-else size="196" color="grey">
          <v-icon size="180" color="white">mdi-account</v-icon>
        </v-avatar>
      </v-col>

      <v-col v-if="!show" cols="12" sm="12" lg="12" class="text-center">

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" @click="show = true" icon> <v-icon>mdi-close</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.Change')}}</span>
        </v-tooltip>

      </v-col>

      <v-col v-show="form.errors.has('profile_pic')" cols="12" sm="12" lg="12" class="text-center">
        <div class="v-messages theme--light error--text">
          <div class="v-messages__wrapper">
            <div class="v-messages__message">
              {{ form.errors.first('profile_pic') }}
            </div>
          </div>
        </div>
      </v-col>

      <v-col cols="12" lg="12" sm="12">
        <v-select
          v-model.number="form.campaign_id"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-ballot"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="campaign_id"
          name="campaign_id"
          :error-messages="errors.collect( 'campaign_id' )"
          :label="$t('Input.Campaign').capitalize()"
          :items="records"
          item-text="name"
          item-value="id"
          required
        ></v-select>
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          name="name"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="name"
          required
        />
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="form.age"
              clearable
              :label="$t('Input.Age').capitalize()"
              v-validate="form.validations.input_date_required"
              :error-messages="errors.collect( 'age' )"
              :error="form.errors.has('Input.Age')"
              id="age"
              name="age"
              :loading="isLoading"
              prepend-icon="mdi-calendar"
              readonly
              required
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            ref="picker"
            v-model="form.age"
            :max="moment().subtract(18, 'years').toISOString().substr(0, 10)"
            :min="moment().subtract(80, 'years').toISOString().substr(0, 10)"
            @change="$refs.menu.save(form.age)"
          ></v-date-picker>
        </v-menu>
      </v-col>

      <v-col cols="12" sm="12">
        <v-textarea
          id="profile"
          prepend-icon="mdi-note-text"
          name="profile"
          clearable
          required
          :loading="isLoading"
          :label="$t('Input.Profile').capitalize()"
          v-validate="form.validations.text_required"
          :error-messages="errors.collect( 'profile' )"
          :error="form.errors.has('Input.Profile')"
          :counter="form.validations.text_required.max"
          :maxlength="form.validations.text_required.max"
          v-model="form.profile"
        ></v-textarea>
      </v-col>

      <v-col cols="12" lg="12" sm="12">
        <v-text-field
          v-model="form.video"
          clearable
          v-validate="form.validations.input_text"
          prepend-icon="mdi-youtube"
          :error-messages="errors.collect( 'video' )"
          :label="$t('Input.Video').capitalize()"
          name="video"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="video"
          required
        />
      </v-col>

      <v-col cols="12" sm="12">
        <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
          {{ item ?  $t('Core.Edit') : $t('Core.Create') }}
        </v-btn>
      </v-col>

    </v-row>
  </v-form>
</template>

<script>
  import {Candidate} from "@/models/services/Candidate";
  import {Campaign} from "@/models/services/Campaign";

  export default {
    name: "CandidatesForm",
    props: ['item'],
    data: () => ({
      show: true,
      menu: false,
      image: null,
      form: new Candidate(),
      search: null,
      records: [],
      loading: false,
      initial_image: undefined
    }),
    created: function () {
      this.getRecords();
      if ( this.item ) {
        this.form = new Candidate( this.item );
        this.initial_image = this.item.image;
        this.show = false;
      }
    },
    mounted: function () {
      if ( this.item && this.image && this.image.hasImage()) {
        this.image.refresh();
      }
    },
    methods: {
      getRecords: _.debounce( function () {
        this.loading = true;
        (new Campaign()).onlyActive()
          .then( (response) => {
            this.records = response.data;
          })
          .catch((error) => this.notifyOnError( error.message ))
          .finally(() => (this.loading = false))
      }, 700),
      async onSubmit () {
        if ( this.image.hasImage() ) {
          this.form.profile_pic = await this.image.promisedBlob();
        }

        this.$validator.validateAll().then(isValid => {
          if ( isValid && (this.image.hasImage() || this.item) ){
            let form = this.item ? this.form.update( this.item.id, this.image ) : this.form.store( this.image );
            form
              .then((response) => this.notifyOnSuccess( response.data ))
              .then(() => this.show = true)
              .then(() => this.onCloseFSD())
              .then(() => this.$bus.$emit('onRefreshTable'))
              .catch( error => {
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })

          } else {
            this.notifyOnError( this.$t('Core.CompleteTheForm') )
          }
        })
      }
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
      item: function ( data ) {
        if ( data ) {
          this.form = new Candidate( data );
          this.initial_image = this.item.image;
          this.show = false;
          if (this.image && this.image.hasImage()) {
            this.image.refresh();
          }
        } else {
          this.form = new Candidate();
          this.initial_image = undefined;
          this.$validator.reset();
          this.show = true;
          if (this.image && this.image.hasImage()) {
            this.image.refresh();
          }
        }
      }
    },
  }
</script>

<style scoped>

</style>