<template>
  <v-form @submit.prevent="onSubmit">
      <v-row>
        <v-col cols="12" lg="12" sm="12">
          <v-select
            v-model.number="form.survey_id"
            v-validate="form.validations.input_number_required"
            prepend-icon="mdi-ballot"
            clearable
            :loading="isLoading"
            hide-no-data
            hide-selected
            id="survey_id"
            name="survey_id"
            :error-messages="errors.collect( 'survey_id' )"
            :label="$t('Input.Survey').capitalize()"
            :items="surveys"
            item-text="name"
            item-value="id"
            required
          ></v-select>
        </v-col>
        
        <v-col cols="12" lg="6" sm="12">
          <v-text-field
            v-model="form.question"
            clearable
            v-validate="form.validations.input_text_required"
            prepend-icon="mdi-pencil"
            :error-messages="errors.collect( 'question' )"
            :label="$t('Input.Question').capitalize()"
            name="question"
            :counter="form.validations.input_text_required.max"
            :maxlength="form.validations.input_text_required.max"
            :loading="isLoading"
            :readonly="isLoading"
            id="question"
            required
          />
        </v-col>
  
        <v-col cols="12" lg="6" sm="12">
          <v-text-field
            v-model="form.name"
            clearable
            v-validate="form.validations.input_text_required"
            prepend-icon="mdi-pencil"
            :error-messages="errors.collect( 'name' )"
            :label="$t('Input.InputName').capitalize()"
            name="name"
            :counter="form.validations.input_text_required.max"
            :maxlength="form.validations.input_text_required.max"
            :loading="isLoading"
            :readonly="isLoading"
            id="name"
            required
          />
        </v-col>
        
        <v-col cols="12" lg="12" sm="12">
          <v-select
            v-model.number="form.question_type_id"
            v-validate="form.validations.input_number_required"
            prepend-icon="mdi-ballot"
            clearable
            :loading="isLoading"
            hide-no-data
            hide-selected
            id="question_type_id"
            name="question_type_id"
            :error-messages="errors.collect( 'question_type_id' )"
            :label="$t('Input.QuestionType').capitalize()"
            :items="questions_types"
            item-text="display_name"
            item-value="id"
            required
          ></v-select>
        </v-col>
        
        <v-col cols="12">
          <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
            {{ item ?  $t('Core.Edit') : $t('Core.Create') }}
          </v-btn>
        </v-col>
      </v-row>
  </v-form>
</template>

<script>
  import {Question} from "@/models/services/Question";
  import {Survey} from "@/models/services/Survey";
  import {QuestionType} from "@/models/services/QuestionType";

  export default {
    name: "CampaignForm",
    props: ['item'],
    data: () => ({
      form: new Question(),
      surveys: [],
      questions_types: []
    }),
    created: function () {
      if ( this.item ) {
        this.form = new Question( this.item )
      }
      this.getSurveys();
      this.getQuestionTypes();
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            let form = this.item ? this.form.update( this.item.id ) : this.form.store();
              form.then( response => {
                if ( !this.item ) {
                  this.from_date = null;
                  this.until = null;
                }
                this.notifyOnSuccess( response.data )
              })
                .then(() => this.$bus.$emit('onRefreshTable'))
                .then(() => this.onCloseFSD())
              .catch( error => {
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })
          }
        })
      },
      getSurveys: function () {
        (new Survey()).onlyActive()
          .then( (response) => this.surveys = response.data)
          .catch((error) => this.notifyOnError( error.message ));
      },
      getQuestionTypes: function () {
        (new QuestionType()).index()
          .then( (response) => this.questions_types = response.data)
          .catch((error) => this.notifyOnError( error.message ));
      }
    },
    watch: {
      item: function ( data ) {
        if ( data ) {
          this.form = new Question( data );
        } else {
          this.form = new Question();
          this.$validator.reset();
        }
      }
    }
  }
</script>

<style scoped>

</style>