<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center">
      <v-col cols="12" sm="12">
        <v-text-field
          v-model="form.question"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'question' )"
          :label="$t('Input.Question').capitalize()"
          name="question"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="question"
          required
        />
      </v-col>
      <v-col cols="12" sm="12" class="text-right" >
        <v-btn type="submit"  @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
          {{ item ?  $t('Core.Edit') : $t('Core.Create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {SecurityQuestion} from "@/models/services/SecurityQuestion";

  export default {
    name: "SecurityQuestionForm",
    props: ['item'],
    data: () => ({
      form: new SecurityQuestion()
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            let form = this.item ? this.form.update( this.item.id ) : this.form.store( );
            form
              .then( (response) => this.notifyOnSuccess( response.data ) )
              .then(() => this.$bus.$emit('onRefreshTable'))
              .catch( error => {
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })
          }
        })
      }
    },
    watch: {
      item: function ( data ) {
        if ( data ) {
          this.form = new SecurityQuestion( data );
        } else {
          this.form = new SecurityQuestion();
          this.$validator.reset();
        }
      }
    }
  }
</script>

<style scoped>

</style>