<template>
  <v-form @submit.prevent="onSubmit">
      <v-row>
        <v-col cols="12" lg="6" sm="12">
          <v-text-field
            v-model="form.name"
            clearable
            v-validate="form.validations.input_text_required"
            prepend-icon="mdi-pencil"
            :error-messages="errors.collect( 'name' )"
            :label="$t('Input.Name').capitalize()"
            name="name"
            :counter="form.validations.input_text_required.max"
            :maxlength="form.validations.input_text_required.max"
            :loading="isLoading"
            :readonly="isLoading"
            id="name"
            required
          />
        </v-col>

        <v-col cols="12" lg="3" sm="12">

          <v-datetime-picker
            ref="availableFrom"
            required
            time-picker-format="ampm"
            id="available_from"
            prepend-icon="mdi-calendar"
            name="available_from"
            v-validate="form.validations.input_datetime_before_required( 'availableUntil' )"
            :label="$t('Input.AvailableFrom').capitalize()"
            :error-messages="errors.collect( 'available_from' )"
            :error="form.errors.has('Input.AvailableFrom')"
            :min="moment().toISOString()"
            v-model="from_date" >

          </v-datetime-picker>

        </v-col>

        <v-col cols="12" lg="3" sm="12">

          <v-datetime-picker
            :disabled="!form.available_from"
            required
            ref="availableUntil"
            time-picker-format="ampm"
            :min="moment( form.available_from ).toISOString()"
            id="available_until"
            prepend-icon="mdi-calendar"
            name="available_until"
            v-validate="form.validations.input_datetime_after_required('availableFrom')"
            :label="$t('Input.AvailableUntil').capitalize()"
            :error-messages="errors.collect( 'available_until' )"
            :error="form.errors.has('Input.AvailableUntil')"
            v-model="until" >

          </v-datetime-picker>

        </v-col>

        <v-col cols="12" sm="12">
          <v-textarea
            id="description"
            prepend-icon="mdi-note-text"
            name="description"
            required
            clearable
            :loading="isLoading"
            :label="$t('Input.Description').capitalize()"
            v-validate="form.validations.text_required"
            :error-messages="errors.collect( 'description' )"
            :error="form.errors.has('Input.Description')"
            :counter="form.validations.text_required.max"
            :maxlength="form.validations.text_required.max"
            v-model="form.description"
          ></v-textarea>
        </v-col>

        <v-col cols="12" lg="3" sm="12">

          <v-datetime-picker
            required
            time-picker-format="ampm"
            :min="moment( form.available_from ).toISOString()"
            id="results_at"
            prepend-icon="mdi-calendar"
            name="results_at"
            v-validate="form.validations.input_datetime_after_required('availableFrom')"
            :label="$t('Input.results_at').capitalize()"
            :error-messages="errors.collect( 'results_at' )"
            :error="form.errors.has('Input.results_at')"
            v-model="results_at" >

          </v-datetime-picker>

        </v-col>
  
        <v-col cols="12" lg="3" sm="12">
          <v-text-field
            v-model="form.pin"
            clearable
            v-validate="form.validations.pin_required"
            prepend-icon="mdi-pencil"
            :error-messages="errors.collect( 'pin' )"
            :label="$t('Input.Pin').capitalize()"
            name="pin"
            :counter="form.validations.pin_required.max"
            :maxlength="form.validations.pin_required.max"
            :loading="isLoading"
            :readonly="isLoading"
            id="pin"
            required
          />
        </v-col>
  
        <v-col cols="12" lg="3" sm="12">
          <v-text-field
            v-model="form.time_between_questions"
            clearable
            v-validate="form.validations.input_number_between_required(0, 40)"
            prepend-icon="mdi-pencil"
            :error-messages="errors.collect( 'pin' )"
            :label="$t('Input.TimeBetweenQuestion').capitalize()"
            name="pin"
            type="number"
            :min="form.validations.input_number_between_required(0, 40).min"
            :max="form.validations.input_number_between_required(0, 40).max"
            :loading="isLoading"
            :readonly="isLoading"
            id="pin"
            required
          />
        </v-col>
        
        <v-col cols="12" lg="3" sm="12">
          <v-switch
            v-model="form.multiple_votes"
            v-validate="form.validations.required"
            prepend-icon="mdi-pencil"
            :error-messages="errors.collect( 'pin' )"
            :label="$t('Input.Multiple').capitalize()"
            name="multiple_votes"
            :loading="isLoading"
            :readonly="isLoading"
            id="multiple_votes"
            required
          ></v-switch>
        </v-col>
        
        <v-col cols="12">
          <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
            {{ item ?  $t('Core.Edit') : $t('Core.Create') }}
          </v-btn>
        </v-col>
      </v-row>
  </v-form>
</template>

<script>
  import {Survey} from "@/models/services/Survey";

  export default {
    name: "CampaignForm",
    props: ['item'],
    data: () => ({
      from_date: null,
      until: null,
      results_at: null,
      form: new Survey()
    }),
    created: function () {
      if ( this.item ) {
        this.form = new Survey( this.item )
      }
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            let form = this.item ? this.form.update( this.item.id ) : this.form.store();
              form.then( response => {
                if ( !this.item ) {
                  this.from_date = null;
                  this.until = null;
                }
                this.notifyOnSuccess( response.data )
              })
                .then(() => this.$bus.$emit('onRefreshTable'))
                .then(() => this.onCloseFSD())
              .catch( error => {
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })
          }
        })
      },
      formatDate: function (data) {
        return this.moment(data).isValid() ? this.moment(data).format( 'YYYY-MM-DD HH:mm:ss' )  : null
      }
    },
    watch: {
      from_date: function ( date ) {
          if ( date ) {
            let parseDate = this.formatDate( date );
            if ( parseDate ) {
              this.form.available_from = parseDate
            } else {
              this.form.available_from = null;
              this.from_date = null;
            }
          }
      },
      until: function ( date ) {
        if ( date ) {
          let parseDate = this.formatDate( date );
          if ( parseDate ) {
            this.form.available_until = parseDate
          } else {
            this.form.available_until = null;
            this.until = null;
          }
        }
      },
      results_at: function ( date ) {
        let parseDate = this.formatDate( date );
        if ( parseDate ) {
          this.form.results_at = parseDate
        } else {
          this.form.results_at = null;
        }
      },
      item: function ( data ) {
        if ( data ) {
          this.form = new Survey( data );
          this.from_date = data.available_from;
          this.until = data.available_until;
          this.results_at = data.results_at;
        } else {
          this.form = new Survey();
          this.$validator.reset();
          this.from_date = null;
          this.until = null;
          this.results_at = null;
        }
      }
    }
  }
</script>

<style scoped>

</style>