<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <v-col cols="12" lg="12" sm="12">
        {{ $t('Dashboard.Recommendations') }}
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-select
          v-model.number="form.campaign_id"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-ballot"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="campaign_id"
          name="campaign_id"
          :error-messages="errors.collect( 'campaign_id' )"
          :label="$t('Input.Campaign').capitalize()"
          :items="records"
          item-text="name"
          item-value="id"
          required
        ></v-select>
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-autocomplete
          v-model.number="form.security_question_id"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-help-circle"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="security_question_id"
          name="security_question_id"
          :error-messages="errors.collect( 'security_question_id' )"
          :label="$t('Input.Question').capitalize()"
          :search-input.sync="search_question"
          :items="question_records"
          item-text="question"
          item-value="id"
          required
        ></v-autocomplete>
      </v-col>

      <v-col cols="12" lg="6" sm="12">

        <v-file-input v-model="form.excel" show-size accept=".xls,.xlsx"
                      v-validate="form.validations.excel_file_required"
                      id="excel"
                      name="excel"
                      :loading="isLoading"
                      :readonly="isLoading"
                      required
                      :hint="`${$t('Input.File').capitalize()}: .xls .xlsx`"
                      :error-messages="errors.collect( 'excel' )"
                      :label="$t('Input.File').capitalize()">

        </v-file-input>
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-btn text block color="primary" target="_blank" :href="excel_file">
          <v-icon left>mdi-description</v-icon>
          {{ $t('Core.ExampleFile') }}
        </v-btn>
      </v-col>


      <v-col cols="12">
        <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
          {{ $t('Core.Create') }}
        </v-btn>
      </v-col>

    </v-row>
  </v-form>
</template>

<script>
  import {SecurityQuestion} from "@/models/services/SecurityQuestion";
  import {Campaign} from "@/models/services/Campaign";
  import {Voter} from "@/models/services/Voter";

  export default {
    name: "VoteFormExcel",
    data: () => ({
      excel_file: `${process.env.VUE_APP_API_URL_DEV}/public/files/PLANTILLA_VOTACIONES.xlsx`,
      form: new Voter(),
      search: null,
      search_question: null,
      question_records: [],
      records: [],
      loading: false,
    }),
    created: function () {
      this.getRecords();
      this.getQuestionRecords();
    },
    methods: {
      getRecords: _.debounce( function () {
        this.loading = true;
        (new Campaign()).onlyActive()
          .then( (response) => {
            this.records = response.data;
          })
          .catch((error) => this.notifyOnError( error.message ))
          .finally(() => (this.loading = false))
      }, 700),
      getQuestionRecords: _.debounce( function () {
        const query = this.search_question;
        this.loading = true;
        (new SecurityQuestion()).index({ params: { per_page: 10, order: [true], column: ['created_at'], query: query, page: 1 } })
          .then( (response) => this.question_records = response.data.data )
          .catch((error) => this.notifyOnError( error.message ))
          .finally(() => (this.loading = false))
      }, 700),
      onSubmit () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ){
            this.form.storeWithFile()
              .then((response) => this.notifyOnSuccess( response.data ))
              .then(() => this.show = true)
              .then(() => this.onCloseFSD())
              .then(() => this.$bus.$emit('onRefreshTable'))
              .catch( error => {
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })

          } else {
            this.notifyOnError( this.$t('Core.CompleteTheForm') )
          }
        })
      }
    },
    watch: {
      search_question (val) {
        val && val.length > 3 && !this.form.security_question_id && this.getQuestionRecords()
      },
    },
  }
</script>

<style scoped>

</style>