<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>

      <v-col cols="12" lg="6" sm="12">
        <v-select
          v-model.number="form.campaign_id"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-ballot"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="campaign_id"
          name="campaign_id"
          :error-messages="errors.collect( 'campaign_id' )"
          :label="$t('Input.Campaign').capitalize()"
          :items="records"
          item-text="name"
          item-value="id"
          required
        ></v-select>
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-autocomplete
          v-model.number="form.security_question_id"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-help-circle"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="security_question_id"
          name="security_question_id"
          :error-messages="errors.collect( 'security_question_id' )"
          :label="$t('Input.Question').capitalize()"
          :search-input.sync="search_question"
          :items="question_records"
          item-text="question"
          item-value="id"
          required
        ></v-autocomplete>
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          name="name"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="name"
          required
        />
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.document"
          clearable
          v-validate="form.validations.input_document_required"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'document' )"
          :label="$t('Input.Document').capitalize()"
          name="document"
          :counter="form.validations.input_document_required.max"
          :maxlength="form.validations.input_document_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="document"
          required
        />
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.security_answer"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'security_answer' )"
          :label="$t('Input.Answer').capitalize()"
          name="security_answer"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="security_answer"
          required
        />
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.sport"
          clearable
          v-validate="form.validations.input_text"
          prepend-icon="mdi-soccer"
          :error-messages="errors.collect( 'sport' )"
          :label="$t('Input.Sport').capitalize()"
          name="sport"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="sport"
          required
        />
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          type="email"
          v-model="form.email"
          clearable
          v-validate="form.validations.input_email_required"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'email' )"
          :label="$t('Input.Email').capitalize()"
          name="email"
          :counter="form.validations.input_email_required.max"
          :maxlength="form.validations.input_email_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="email"
          required
        />
      </v-col>

      <v-col cols="12">
        <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="primary">
          {{ $t('Core.Create') }}
        </v-btn>
      </v-col>

    </v-row>
  </v-form>
</template>

<script>
  import {SecurityQuestion} from "@/models/services/SecurityQuestion";
  import {Campaign} from "@/models/services/Campaign";
  import {Voter} from "@/models/services/Voter";

  export default {
    name: "VoteForm",
    props: ['item'],
    data: () => ({
      form: new Voter(),
      search: null,
      search_question: null,
      question_records: [],
      records: [],
      loading: false,
    }),
    created: function () {
      this.getRecords();
      this.getQuestionRecords();
    },
    methods: {
      getRecords: _.debounce( function () {
        this.loading = true;
        (new Campaign()).onlyActive()
          .then( (response) => {
            this.records = response.data;
          })
          .catch((error) => this.notifyOnError( error.message ))
          .finally(() => (this.loading = false))
      }, 700),
      getQuestionRecords: _.debounce( function () {
        const query = this.search_question;
        this.loading = true;
        (new SecurityQuestion()).index({ params: { per_page: 10, order: [true], column: ['created_at'], query: query, page: 1 } })
          .then( (response) => this.question_records = response.data.data )
          .catch((error) => this.notifyOnError( error.message ))
          .finally(() => (this.loading = false))
      }, 700),
      onSubmit () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ){

            let form = this.item ? this.form.update( this.item.id ) : this.form.store();

            form
              .then((response) => this.notifyOnSuccess( response.data ))
              .then(() => this.$bus.$emit('onRefreshTable'))
              .then(() => this.onCloseFSD())
              .then(() => this.$validator.reset())
              .catch( error => {
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })

          } else {
            this.notifyOnError( this.$t('Core.CompleteTheForm') )
          }
        })
      }
    },
    watch: {
      search_question (val) {
        val && val.length > 3 && !this.form.security_question_id && this.getQuestionRecords()
      },
      item: function ( data ) {
        if ( data ) {
          this.form = new Voter( data );
        } else {
          this.form = new Voter();
          this.$validator.reset();
        }
      }
    },
  }
</script>

<style scoped>

</style>