<template>
    <v-footer :absolute="$route.meta.absoluteFooter" height="82" class="font-weight-medium footer" :dark="$route.meta.isInset" color="transparent">
        <v-flex text-center xs12>
            &copy;
            {{ (new Date()).getFullYear() }}
            <a href="javascript:;">{{ text }}</a>, {{ $t('Footer.MadeWith') }} <v-icon  size="17">mdi-heart</v-icon> {{ $t('Footer.ForABetterWeb') }}
        </v-flex>
    </v-footer>
</template>

<script>
    export default {
        name: 'Footer',

        data: () => ({
            text: process.env.VUE_APP_FOOTER,
        }),
    }
</script>
