<template>
  <svg class="logo-IDRD" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1731.72 1062.61">
    <title>Logo IDRD</title>
    <g id="white">
      <path d="M206,561.28c0-47.5-39-86.22-87-86.22H14.51V750.33H128.23c47.93,0,87-38.7,87-86.28a86,86,0,0,0-22.34-57.49A83.85,83.85,0,0,0,206,561.28M84.53,535H119c14.88,0,27,11.81,27,26.3s-12.08,26.31-27,26.31H84.53Zm43.7,155.43H84.53V637.69h43.7c14.86,0,27,11.92,27,26.36s-12.1,26.36-27,26.36"/>
      <path d="M365.11,470c-76.66,0-139,64.65-139,143.88,0,79.54,62.36,144,139,144s139-64.46,139-144c0-79.23-62.32-143.88-139-143.88m0,213.15c-35.38,0-64.19-31-64.19-69.27,0-38.05,28.81-69.05,64.19-69.05s64.23,31,64.23,69.05c0,38.28-28.83,69.27-64.23,69.27"/>
      <path d="M675.18,656.26H707.8v15.06a77.34,77.34,0,0,1-41,11.77c-40.6,0-73.64-31-73.64-69.25,0-38.05,33-69.05,73.64-69.05a75.72,75.72,0,0,1,51.28,19.59l7.26,6.66,50.52-55.17-7.27-6.63A150.1,150.1,0,0,0,666.81,470C585,470,518.37,534.61,518.37,613.84c0,79.54,66.62,144,148.44,144a151.58,151.58,0,0,0,41-5.58v.57h74.83V581.56H675.18Z"/>
      <polygon points="1166.46 555.93 1166.46 752.85 1255.17 752.85 1255.17 555.93 1338.87 555.93 1338.87 471.25 1082.39 471.25 1082.39 555.93 1166.46 555.93"/>
      <polygon points="1731.72 870.8 1561.98 419.38 1409.57 419.38 1284.83 752.28 1377.22 752.28 1485.59 478.39 1639.35 870.8 1731.72 870.8"/>
      <path d="M1060.82,546l-.12-.28c-23.51-45-69.54-75.77-122.41-75.77-76.67,0-139,64.65-139,143.88,0,79.54,62.31,144,139,144s139-64.46,139-144A146.81,146.81,0,0,0,1060.82,546M938.29,683.11c-35.39,0-64.18-31-64.18-69.27,0-38.05,28.79-69.05,64.18-69.05s64.22,31,64.22,69.05c0,38.28-28.86,69.27-64.22,69.27"/>
      <polygon points="1600.81 273.1 1684.04 239.02 1573.27 199.4 1502.36 9.6 1428.76 149.36 1278.62 118.52 1384.58 233.27 1332.88 372.13 1519.37 305.16 1655.46 419.39 1600.81 273.1"/>
      <polygon points="1290.52 280.59 1324.63 258.67 1283.8 250.01 1272.1 209.31 1255.84 244.03 1194.01 230.89 1242.35 280.75 1227.53 321.01 1270.95 293.09 1304.58 320.31 1290.52 280.59"/>
      <polygon points="1658.85 74.4 1694.47 51.52 1651.86 42.47 1639.62 0 1618.97 35.45 1558.09 22.51 1608.56 74.57 1593.1 116.61 1638.43 87.44 1673.54 115.85 1658.85 74.4"/>
      <rect x="4.54" y="804.71" width="16.77" height="97.61"/>
      <path d="M53.89,902.32H37.53V832.2H53.34v4.68l-.27,4.4h.27Q59,830.56,71.9,830.55q8.8,0,13.75,5.85t4.95,17.25v48.67H74.1V856.54q0-10.45-7.42-10.45-5.78,0-9.35,5.77a23.11,23.11,0,0,0-3.44,12.24Z"/>
      <path d="M100.22,896.27,106.55,884q7.56,5.91,14.16,5.92a7.91,7.91,0,0,0,5.5-1.86,6.26,6.26,0,0,0,2.06-4.88,7.59,7.59,0,0,0-1.92-5,15.35,15.35,0,0,0-4.75-3.71,68.42,68.42,0,0,1-6.11-3.58c-2.2-1.42-4.25-2.86-6.12-4.33a17,17,0,0,1-4.74-6.18,20.56,20.56,0,0,1-1.93-9.08q0-9.62,6.12-15.19t16.43-5.57a28.89,28.89,0,0,1,17.32,5.23l-4.95,13.06a20.92,20.92,0,0,0-12.1-4.26,7.84,7.84,0,0,0-5.29,1.71,6.11,6.11,0,0,0-2,4.88,7.19,7.19,0,0,0,1.93,4.82,15.6,15.6,0,0,0,4.74,3.64q2.82,1.44,6.12,3.44a63.69,63.69,0,0,1,6.12,4.19,17.06,17.06,0,0,1,4.74,6.19,20.65,20.65,0,0,1,1.93,9.07q0,9.5-6,15.47t-16.57,6a31.18,31.18,0,0,1-21-7.7"/>
      <path d="M157.28,876.61v-30h-7.15V833.17h7.56V813.09h15.95v20.08h11.69v13.47H173.64v28q0,7.43,2.55,10.25t7.49,2.82a14.62,14.62,0,0,0,2.61-.14v15a28.82,28.82,0,0,1-16.91-2.2q-12.1-5.77-12.1-23.78"/>
      <path  d="M213.24,820.38h-16.5V804.71h16.5Zm0,81.94H196.87V832.2h16.37Z"/>
      <path d="M230.42,876.61v-30h-7.15V833.17h7.56V813.09h15.95v20.08h11.69v13.47H246.78v28q0,7.43,2.55,10.25t7.49,2.82a14.62,14.62,0,0,0,2.61-.14v15a28.82,28.82,0,0,1-16.91-2.2q-12.11-5.77-12.1-23.78"/>
      <path d="M269.46,880.87V832.2H286V878q0,10.46,7.42,10.45c3.58,0,6.56-1.87,8.94-5.64a23,23,0,0,0,3.44-12.23V832.2h16.36v70.12H306.31v-4.67l.27-4.41h-.27q-6,10.72-18,10.73-8.94,0-13.89-5.85t-5-17.25"/>
      <path d="M339.31,876.61v-30h-7.15V833.17h7.56V813.09h15.95v20.08h11.68v13.47H355.67v28q0,7.43,2.54,10.25c1.7,1.88,4.19,2.82,7.49,2.82a14.68,14.68,0,0,0,2.62-.14v15a28.85,28.85,0,0,1-16.92-2.2q-12.09-5.77-12.09-23.78"/>
      <path d="M383.85,893.8q-8.39-10.18-8.39-26.54t8.39-26.4A27.38,27.38,0,0,1,406,830.55q13.62,0,22,10.31,8.38,10,8.39,26.4T428,893.8a29,29,0,0,1-44.13,0M406,889.67q6.47,0,10.11-6t3.65-16.36q0-10.31-3.65-16.36t-10.11-6q-6.6,0-10.24,6t-3.64,16.36q0,10.31,3.64,16.36t10.24,6"/>
      <path d="M503.46,902.32H476.37V804.71h27.09q18.29,0,28.73,12.92t10.59,35.74q0,23-10.59,36t-28.73,12.92m-10.31-82.63v67.64h9.62q10.86,0,16.78-8.79t5.91-25.17q0-16.08-6-24.88a19.06,19.06,0,0,0-16.7-8.8Z"/>
      <path  d="M571.38,820.38h-16.5V804.71h16.5Zm0,81.94H555V832.2h16.36Z"/>
      <path d="M581.55,896.27,587.87,884q7.56,5.91,14.16,5.92a7.9,7.9,0,0,0,5.5-1.86,6.23,6.23,0,0,0,2.06-4.88,7.59,7.59,0,0,0-1.92-5,15.35,15.35,0,0,0-4.75-3.71,69.86,69.86,0,0,1-6.11-3.58q-3.3-2.13-6.12-4.33a17,17,0,0,1-4.74-6.18,20.56,20.56,0,0,1-1.93-9.08q0-9.62,6.12-15.19t16.43-5.57a28.89,28.89,0,0,1,17.32,5.23l-4.95,13.06a20.89,20.89,0,0,0-12.09-4.26,7.87,7.87,0,0,0-5.3,1.71,6.1,6.1,0,0,0-2,4.88,7.18,7.18,0,0,0,1.92,4.82,15.65,15.65,0,0,0,4.75,3.64c1.87,1,3.92,2.11,6.11,3.44a63.69,63.69,0,0,1,6.12,4.19,17.19,17.19,0,0,1,4.75,6.19,20.65,20.65,0,0,1,1.92,9.07q0,9.5-6,15.47t-16.57,6a31.15,31.15,0,0,1-21-7.7"/>
      <path d="M638.61,876.61v-30h-7.15V833.17H639V813.09h16v20.08h11.68v13.47H655v28q0,7.43,2.54,10.25t7.49,2.82a14.62,14.62,0,0,0,2.61-.14v15a28.82,28.82,0,0,1-16.91-2.2q-12.09-5.77-12.09-23.78"/>
      <path d="M694.56,902.32H678.2V832.2H694v10.45l-.27,4.81H694a24.11,24.11,0,0,1,6.46-11.41q5.09-4.8,10.45-4.81a13.54,13.54,0,0,1,2.61.27v16.92a18.21,18.21,0,0,0-3.57-.28q-7.71,0-11.55,7.56a38.25,38.25,0,0,0-3.85,17.6Z"/>
      <path  d="M739.52,820.38H723V804.71h16.5Zm0,81.94H723.15V832.2h16.37Z"/>
      <path d="M756.7,876.61v-30h-7.15V833.17h7.56V813.09h15.95v20.08h11.69v13.47H773.06v28q0,7.43,2.55,10.25t7.49,2.82a14.62,14.62,0,0,0,2.61-.14v15a28.85,28.85,0,0,1-16.92-2.2q-12.09-5.77-12.09-23.78"/>
      <path d="M792,882.25a24.23,24.23,0,0,1,1.93-10,19,19,0,0,1,4.88-6.88,23.79,23.79,0,0,1,7.15-4.12,37.78,37.78,0,0,1,8.11-2.13,59.31,59.31,0,0,1,8.32-.55h2.47v-1.51q0-12.65-9.76-12.65-7.15,0-14.85,4.81l-4.4-12.51a29.49,29.49,0,0,1,9.49-4.4,41.63,41.63,0,0,1,11.82-1.79q11.68,0,17.94,7.22t6.26,20.69v43.86H826.82v-4.54l.27-5.22h-.27a23.44,23.44,0,0,1-7.16,7.83,17.19,17.19,0,0,1-22.54-2.68Q792,892,792,882.25M807.16,881a10.73,10.73,0,0,0,1.92,6.67,6.18,6.18,0,0,0,5.22,2.54,8.6,8.6,0,0,0,7.84-4.81,21.27,21.27,0,0,0,2.75-10.73v-5.22h-2.47q-15.27,0-15.26,11.55"/>
      <path d="M855.41,880.46V804.7h16.5V878q0,5.78,1.1,7.77c.73,1.33,2.11,2,4.12,2a11.13,11.13,0,0,0,2.2-.14v15a23.59,23.59,0,0,1-5.08.41,20.83,20.83,0,0,1-12.65-3.71q-6.18-4.66-6.19-18.83"/>
      <path d="M24.88,962q10.73,0,14.71,7.29h.28c-.18-2-.28-3.57-.28-4.67V936.13h16.5v97.61H40.56v-4.67l.41-4.54h-.28q-4.53,10.86-16.91,10.86-11.27,0-17.59-10T0,998.55q0-16.92,6.53-26.74A20.8,20.8,0,0,1,24.88,962m-8.25,36.71q0,22.41,11.69,22.41,5.5,0,8.66-5.63t3.17-16.37q0-10.17-3-16.36t-8.59-6.18q-12,0-12,22.13"/>
      <path d="M67.5,998q0-15.81,7.29-26t20.49-10q12.51,0,18.7,9.08t6.18,23.09c0,.1-.09,2.61-.28,7.57H84.14c.36,6.32,1.93,11.11,4.67,14.36A13.23,13.23,0,0,0,99.4,1021a22.51,22.51,0,0,0,15.95-6.19l4.26,12.51q-8.52,8.12-22.14,8.11-14.7,0-22.27-10.45T67.5,998m16.37-7.29h20.48q0-15.54-9.35-15.54T83.87,990.71"/>
      <path d="M177.35,1033.74H160.58V936.13H188.9a27.76,27.76,0,0,1,12.79,3,25,25,0,0,1,10.72,10.11,30.8,30.8,0,0,1,4,15.88,32.53,32.53,0,0,1-4,16,27,27,0,0,1-10.31,10.79v.28a33.64,33.64,0,0,1,2.88,5.23l16.23,36.29H202.79l-14.85-36.43H177.35Zm0-82.63v31.35h8.94a11.8,11.8,0,0,0,9.28-4.4q3.78-4.39,3.78-11.55,0-9.07-5.23-13.06a13.56,13.56,0,0,0-7.56-2.34Z"/>
      <path d="M226.84,998q0-15.81,7.29-26t20.49-10q12.51,0,18.7,9.08t6.18,23.09c0,.1-.09,2.61-.27,7.57H243.48c.36,6.32,1.93,11.11,4.67,14.36a13.24,13.24,0,0,0,10.59,4.89,22.51,22.51,0,0,0,15.95-6.19l4.26,12.51q-8.52,8.12-22.13,8.11-14.72,0-22.28-10.45T226.84,998m16.37-7.29h20.48q0-15.54-9.35-15.54t-11.13,15.54"/>
      <path d="M320.33,962q11.69,0,18.84,6.74l-5.78,12.51a16.62,16.62,0,0,0-12.23-5A14.23,14.23,0,0,0,309,982.46c-3,4.13-4.47,9.48-4.47,16.09s1.47,12,4.4,16.22a14.23,14.23,0,0,0,12.38,6.32,20.8,20.8,0,0,0,15-6.32l4.4,12.79q-7.83,7.83-21.45,7.83-14.43,0-23-10.31t-8.38-26.26q0-15.81,8.52-26.4Q305.07,962,320.33,962"/>
      <path d="M366.8,1033.74H350.44V963.62h15.81v10.45l-.27,4.81h.27a24.11,24.11,0,0,1,6.46-11.41q5.09-4.8,10.45-4.81a13.46,13.46,0,0,1,2.61.27v16.92a18.14,18.14,0,0,0-3.57-.28q-7.69,0-11.55,7.56a38.25,38.25,0,0,0-3.85,17.6Z"/>
      <path d="M392.1,998q0-15.81,7.29-26t20.48-10q12.51,0,18.7,9.08t6.18,23.09c0,.1-.09,2.61-.27,7.57H408.73q.56,9.48,4.68,14.36A13.23,13.23,0,0,0,424,1021a22.49,22.49,0,0,0,15.94-6.19l4.27,12.51q-8.54,8.12-22.14,8.11-14.71,0-22.27-10.45-7.71-10.59-7.7-26.94m16.36-7.29h20.48q0-15.54-9.34-15.54-9.5,0-11.14,15.54"/>
      <path d="M452.32,1013.67a24.39,24.39,0,0,1,1.92-10,19.14,19.14,0,0,1,4.88-6.88,23.79,23.79,0,0,1,7.15-4.12,38.53,38.53,0,0,1,8.11-2.13,61,61,0,0,1,8.32-.55h2.47v-1.51q0-12.64-9.76-12.65-7.16,0-14.84,4.81l-4.4-12.51a29.53,29.53,0,0,1,9.48-4.4A41.7,41.7,0,0,1,477.48,962q11.67,0,17.94,7.22t6.25,20.69v43.86H487.1v-4.54l.27-5.22h-.27a23.65,23.65,0,0,1-7.15,7.84,17.22,17.22,0,0,1-22.55-2.69q-5.08-5.7-5.08-15.46m15.12-1.24a10.8,10.8,0,0,0,1.92,6.67,6.2,6.2,0,0,0,5.23,2.54q5.09,0,7.83-4.81a21.15,21.15,0,0,0,2.75-10.72v-5.23H482.7q-15.26,0-15.26,11.55"/>
      <path d="M544.84,962q11.68,0,18.84,6.74l-5.78,12.51a16.62,16.62,0,0,0-12.23-5,14.23,14.23,0,0,0-12.17,6.19c-3,4.13-4.47,9.48-4.47,16.09s1.46,12,4.4,16.22a14.22,14.22,0,0,0,12.37,6.32,20.8,20.8,0,0,0,15-6.32l4.4,12.79q-7.85,7.83-21.45,7.83-14.43,0-23-10.31t-8.39-26.26q0-15.81,8.53-26.4Q529.58,962,544.84,962"/>
      <path  d="M591.31,951.8h-16.5V936.13h16.5Zm0,81.94H575V963.62h16.36Z"/>
      <path d="M611.1,1025.22q-8.39-10.17-8.38-26.54t8.38-26.39A27.39,27.39,0,0,1,633.24,962q13.62,0,22,10.32,8.38,10,8.39,26.39t-8.39,26.54a29,29,0,0,1-44.14,0m22.14-4.13q6.46,0,10.11-6.05T647,998.68q0-10.3-3.64-16.36t-10.11-6.05q-6.6,0-10.24,6.05t-3.65,16.36q0,10.32,3.65,16.36t10.24,6.05m5.5-66.26H625.82L634.2,936h16.5Z"/>
      <path d="M691.4,1033.74H675V963.62h15.82v4.68l-.28,4.4h.28Q696.49,962,709.41,962q8.79,0,13.74,5.85t5,17.25v48.67H711.61V988q0-10.44-7.43-10.45-5.77,0-9.35,5.78a23,23,0,0,0-3.43,12.23Z"/>
      <path d="M764.4,1058.9l4.54-12.51a10.74,10.74,0,0,0,6.46,2.34,7.13,7.13,0,0,0,5.08-2.55,18.25,18.25,0,0,0,4-7.21l1.51-5.64-23.23-69.71h17.6l10.58,40.29,1.38,9.48h.55q.4-3.84,1.37-9.21l9.22-40.56h17.18l-22.55,79.88q-2.75,9.21-8.59,14.16a19.79,19.79,0,0,1-13.13,4.95,22.45,22.45,0,0,1-10.59-2.75Z"/>
      <path d="M885.52,1033.74H858.43V936.13h27.09q18.29,0,28.73,12.92t10.59,35.75q0,23-10.59,36-10.44,12.92-28.73,12.92m-10.31-82.63v67.64h9.62q10.86,0,16.78-8.79t5.91-25.16q0-16.09-6-24.89a19.08,19.08,0,0,0-16.71-8.8Z"/>
      <path d="M933.78,998q0-15.81,7.28-26t20.49-10q12.51,0,18.7,9.08t6.18,23.09c0,.1-.09,2.61-.27,7.57H950.41q.55,9.48,4.68,14.36a13.21,13.21,0,0,0,10.58,4.89,22.51,22.51,0,0,0,16-6.19l4.26,12.51q-8.52,8.12-22.13,8.11-14.71,0-22.27-10.45-7.71-10.59-7.7-26.94m16.36-7.29h20.48q0-15.54-9.35-15.54t-11.13,15.54"/>
      <path d="M1014.61,1061.24H998.25V963.62h14.85v4l-.27,4.81h.27Q1017.78,962,1030,962q11.41,0,17.81,9.84t6.39,26.6q0,16.9-6.74,26.94t-18,10q-10.72,0-14.86-8h-.27q.27,3.3.27,5.77Zm-.41-62.56q0,22.41,11.55,22.41,5.77,0,8.87-5.77t3.09-16.36q0-10.73-3-16.57c-2-3.89-4.88-5.84-8.73-5.84q-11.84,0-11.83,22.13"/>
      <path d="M1070.85,1025.22q-8.4-10.17-8.39-26.54t8.39-26.4A27.36,27.36,0,0,1,1093,962a27,27,0,0,1,22,10.31q8.38,10.05,8.38,26.4t-8.38,26.54a27.4,27.4,0,0,1-22,10.17q-13.61,0-22.13-10.17m22.13-4.13q6.46,0,10.1-6.05t3.65-16.36q0-10.3-3.65-16.36t-10.1-6.05q-6.6,0-10.24,6.05t-3.65,16.36q0,10.32,3.65,16.36t10.24,6.05"/>
      <path d="M1151.13,1033.74h-16.36V963.62h15.81v10.45l-.27,4.81h.27a24,24,0,0,1,6.47-11.41q5.09-4.8,10.44-4.81a13.64,13.64,0,0,1,2.62.27v16.92a18.32,18.32,0,0,0-3.58-.28q-7.69,0-11.55,7.56a38.38,38.38,0,0,0-3.85,17.6Z"/>
      <path d="M1182.07,1008v-30h-7.15V964.59h7.56V944.51h16v20.08h11.68v13.47h-11.68v28.05q0,7.41,2.54,10.24t7.5,2.82a14.62,14.62,0,0,0,2.61-.14v15a30,30,0,0,1-4.81.41,29.12,29.12,0,0,1-12.11-2.61q-12.09-5.77-12.09-23.79"/>
      <path d="M1218.36,998q0-15.81,7.29-26t20.49-10q12.51,0,18.69,9.08t6.19,23.09c0,.1-.09,2.61-.28,7.57H1235q.54,9.48,4.67,14.36a13.23,13.23,0,0,0,10.59,4.89,22.51,22.51,0,0,0,16-6.19l4.26,12.51q-8.54,8.12-22.14,8.11-14.7,0-22.27-10.45t-7.7-26.94m16.36-7.29h20.49q0-15.54-9.35-15.54t-11.14,15.54"/>
    </g>
  </svg>
</template>

<script>
  export default {
    name: "IDRD"
  }
</script>

<style scoped lang="css">
  .logo-IDRD {
    fill: currentColor;
  }
  path {
    stroke: currentColor;
  }
  rect {
    stroke: currentColor;
  }
  polygon {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 4px;
  }
  circle {
    stroke: currentColor;
  }
</style>