<template>
  <svg class="logo_bogota" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 282.55 79.25">
    <g id="Capa_2" data-name="Capa 2">
      <g id="Capa_1-2" data-name="Capa 1">
        <path class="cls-1"
              d="M144.83,50.66A7.83,7.83,0,0,0,137,42.88h-9.44V67.73h10.27a7.76,7.76,0,0,0,5.83-13,7.56,7.56,0,0,0,1.19-4.09m-11-2.37H137A2.38,2.38,0,1,1,137,53h-3.12Zm3.95,14h-3.95V57.56h3.95a2.38,2.38,0,1,1,0,4.76"/>
        <path class="cls-1"
              d="M159.19,42.42a13,13,0,1,0,12.55,13,12.8,12.8,0,0,0-12.55-13m0,19.24a6.26,6.26,0,1,1,5.8-6.25,6,6,0,0,1-5.8,6.25"/>
        <path class="cls-1"
              d="M187.18,59.24h2.94V60.6a7,7,0,0,1-3.7,1.06,6.26,6.26,0,1,1,0-12.49,6.82,6.82,0,0,1,4.63,1.77l.66.61,4.56-5-.66-.59a13.54,13.54,0,0,0-9.19-3.55,13,13,0,1,0,0,26,13.54,13.54,0,0,0,3.7-.51V68h6.76V52.49h-9.7Z"/>
        <polygon class="cls-1"
                 points="231.52 50.18 231.52 67.95 239.53 67.95 239.53 50.18 247.09 50.18 247.09 42.54 223.94 42.54 223.94 50.18 231.52 50.18"/>
        <polygon class="cls-1"
                 points="282.55 78.6 267.23 37.85 253.47 37.85 242.21 67.91 250.55 67.91 260.33 43.18 274.21 78.6 282.55 78.6"/>
        <path class="cls-1"
              d="M222,49.29v0a12.52,12.52,0,0,0-11-6.84,13,13,0,1,0,12.55,13A13.24,13.24,0,0,0,222,49.29M210.93,61.66a6.26,6.26,0,1,1,5.8-6.25,6,6,0,0,1-5.8,6.25"/>
        <polygon class="cls-1"
                 points="270.73 24.65 278.24 21.58 268.25 18 261.84 0.87 255.2 13.48 241.65 10.7 251.21 21.05 246.55 33.59 263.38 27.55 275.66 37.85 270.73 24.65"/>
        <polygon class="cls-1"
                 points="242.72 25.33 245.8 23.35 242.12 22.57 241.06 18.89 239.59 22.03 234.01 20.84 238.37 25.34 237.04 28.98 240.96 26.46 243.99 28.91 242.72 25.33"/>
        <polygon class="cls-1"
                 points="275.97 6.72 279.19 4.65 275.34 3.83 274.23 0 272.37 3.2 266.88 2.03 271.43 6.73 270.03 10.53 274.13 7.9 277.3 10.46 275.97 6.72"/>
        <rect class="cls-1" x="102.82" y="0.27" width="1.45" height="78.99"/>
        <path class="cls-1" d="M4.26,65.58,3.33,63.1l-.91,2.48Zm2.5,2.68H5.28L4.7,66.73H2l-.56,1.53H0l2.62-6.74H4.07Z"/>
        <polygon class="cls-1" points="7.13 68.26 7.13 61.58 8.49 61.58 8.49 67.12 11.87 67.12 11.87 68.26 7.13 68.26"/>
        <path class="cls-1"
              d="M16.76,65.77l1.32.42a3,3,0,0,1-1,1.65,2.86,2.86,0,0,1-1.79.53,2.92,2.92,0,0,1-2.21-.91A3.54,3.54,0,0,1,12.21,65a3.67,3.67,0,0,1,.87-2.61,3,3,0,0,1,2.28-.93,2.82,2.82,0,0,1,2,.73,2.73,2.73,0,0,1,.69,1.24l-1.35.33a1.44,1.44,0,0,0-.5-.83,1.38,1.38,0,0,0-.92-.31,1.54,1.54,0,0,0-1.22.54,2.64,2.64,0,0,0-.47,1.74,2.82,2.82,0,0,0,.46,1.82,1.51,1.51,0,0,0,1.2.54,1.36,1.36,0,0,0,.93-.35,2,2,0,0,0,.56-1.09"/>
        <path class="cls-1"
              d="M22.42,65.58,21.5,63.1l-.92,2.48Zm2.52,2.68H23.45l-.58-1.53h-2.7l-.56,1.53H18.16l2.63-6.74h1.45Z"/>
        <polygon class="cls-1"
                 points="25.3 68.26 25.3 61.58 26.66 61.58 26.66 67.12 30.04 67.12 30.04 68.26 25.3 68.26"/>
        <path class="cls-1"
              d="M32,62.67v4.45h1a3.23,3.23,0,0,0,.82-.07,1.19,1.19,0,0,0,.55-.27,1.46,1.46,0,0,0,.36-.66,4.37,4.37,0,0,0,.14-1.23,4,4,0,0,0-.14-1.19,1.62,1.62,0,0,0-.38-.66,1.51,1.51,0,0,0-.63-.32,8.78,8.78,0,0,0-1.13,0Zm-1.36-1.15H33.1a4.64,4.64,0,0,1,1.28.13,2.21,2.21,0,0,1,1,.62A2.91,2.91,0,0,1,36,63.36,4.88,4.88,0,0,1,36.26,65a4.68,4.68,0,0,1-.2,1.44,2.9,2.9,0,0,1-.73,1.19,2.35,2.35,0,0,1-.95.54,4.36,4.36,0,0,1-1.21.14H30.61Z"/>
        <path class="cls-1" d="M37,61.52h1.36v6.74H37Zm.34-.62L38,59.53H39.4L38.14,60.9Z"/>
        <path class="cls-1"
              d="M42.82,65.58l-.93-2.48L41,65.58Zm2.5,2.68H43.84l-.58-1.53h-2.7L40,68.26H38.56l2.62-6.74h1.45Z"/>
        <polygon class="cls-1"
                 points="47.5 68.26 47.5 61.52 49.54 61.52 50.76 66.12 51.97 61.52 54.01 61.52 54.01 68.26 52.75 68.26 52.74 62.95 51.4 68.26 50.09 68.26 48.77 62.95 48.76 68.26 47.5 68.26"/>
        <path class="cls-1"
              d="M58.54,65.58l-.93-2.48-.91,2.48Zm2.51,2.68H59.57L59,66.73h-2.7l-.56,1.53H54.28l2.62-6.74h1.45Z"/>
        <polygon class="cls-1"
                 points="62.28 68.26 62.28 65.42 59.81 61.52 61.41 61.52 63 64.19 64.55 61.52 66.12 61.52 63.64 65.43 63.64 68.26 62.28 68.26"/>
        <path class="cls-1"
              d="M67.52,64.89a2.52,2.52,0,0,0,.53,1.73,1.82,1.82,0,0,0,2.68,0,2.52,2.52,0,0,0,.52-1.75,2.49,2.49,0,0,0-.51-1.73,1.72,1.72,0,0,0-1.35-.57,1.75,1.75,0,0,0-1.35.58,2.5,2.5,0,0,0-.52,1.74m-1.4,0a4.35,4.35,0,0,1,.3-1.72,3.13,3.13,0,0,1,.63-.92,2.64,2.64,0,0,1,.87-.62,3.88,3.88,0,0,1,1.46-.26,3.19,3.19,0,0,1,2.38.92,4.15,4.15,0,0,1,0,5.12,3.13,3.13,0,0,1-2.38.92A3.19,3.19,0,0,1,67,67.46a3.48,3.48,0,0,1-.88-2.53"/>
        <path class="cls-1"
              d="M74.69,64.37h1a5.62,5.62,0,0,0,1.22-.08A.66.66,0,0,0,77.3,64a.87.87,0,0,0,.14-.5.77.77,0,0,0-.19-.55.74.74,0,0,0-.5-.26c-.11,0-.44,0-1,0H74.69Zm-1.36,3.89V61.52h2.86a4.92,4.92,0,0,1,1.57.18,1.47,1.47,0,0,1,.78.65,1.91,1.91,0,0,1,.3,1.07,1.85,1.85,0,0,1-.44,1.25,2.22,2.22,0,0,1-1.33.62,3.34,3.34,0,0,1,.73.56,7.68,7.68,0,0,1,.76,1.1l.83,1.31H77.76l-1-1.47c-.35-.52-.59-.85-.71-1a1.16,1.16,0,0,0-.41-.28,2.8,2.8,0,0,0-.69-.07h-.28v2.81Z"/>
        <rect class="cls-1" x="65.33" y="77.89" width="1.27" height="1.27"/>
        <path class="cls-1"
              d="M5.66,73.64V78h1A3.9,3.9,0,0,0,7.47,78,1.25,1.25,0,0,0,8,77.68,1.58,1.58,0,0,0,8.36,77a4.26,4.26,0,0,0,.14-1.21,3.94,3.94,0,0,0-.14-1.18A1.73,1.73,0,0,0,8,74a1.35,1.35,0,0,0-.62-.31,6.49,6.49,0,0,0-1.1-.06ZM4.32,72.51H6.76A4.89,4.89,0,0,1,8,72.64a2.3,2.3,0,0,1,1,.61,2.76,2.76,0,0,1,.63,1.08,4.69,4.69,0,0,1,.22,1.56,4.48,4.48,0,0,1-.2,1.41A3,3,0,0,1,9,78.47,2.36,2.36,0,0,1,8,79a4.18,4.18,0,0,1-1.18.14H4.32Z"/>
        <polygon class="cls-1"
                 points="10.62 79.14 10.62 72.51 15.53 72.51 15.53 73.64 11.96 73.64 11.96 75.1 15.28 75.1 15.28 76.23 11.96 76.23 11.96 78.01 15.66 78.01 15.66 79.14 10.62 79.14"/>
        <path class="cls-1"
              d="M19.93,76.25V78h1.24a8.27,8.27,0,0,0,.92,0,.85.85,0,0,0,.48-.27.79.79,0,0,0,.19-.56.93.93,0,0,0-.14-.51.88.88,0,0,0-.42-.3A4.86,4.86,0,0,0,21,76.25Zm0-2.64v1.53h.88c.51,0,.84,0,1,0a.84.84,0,0,0,.53-.23.72.72,0,0,0,.2-.52.68.68,0,0,0-.67-.73c-.13,0-.52,0-1.15,0Zm-1.34-1.1h2.65a8,8,0,0,1,1.17.07,1.63,1.63,0,0,1,.69.28,1.76,1.76,0,0,1,.51.54,1.59,1.59,0,0,1,.2.78,1.51,1.51,0,0,1-.25.85,1.54,1.54,0,0,1-.67.59,1.72,1.72,0,0,1,.92.59,1.61,1.61,0,0,1,.33,1,1.92,1.92,0,0,1-.21.87,1.77,1.77,0,0,1-.57.69,2,2,0,0,1-.9.32c-.22,0-.77,0-1.62,0H18.59Z"/>
        <path class="cls-1"
              d="M26,75.82a2.44,2.44,0,0,0,.52,1.7,1.67,1.67,0,0,0,1.32.58,1.7,1.7,0,0,0,1.31-.57,2.54,2.54,0,0,0,.51-1.73,2.49,2.49,0,0,0-.5-1.69,1.65,1.65,0,0,0-1.32-.56,1.72,1.72,0,0,0-1.34.57,2.5,2.5,0,0,0-.5,1.7m-1.38.05a4.43,4.43,0,0,1,.29-1.7,3.16,3.16,0,0,1,.63-.91,2.56,2.56,0,0,1,.85-.59,3.54,3.54,0,0,1,1.43-.27,3.11,3.11,0,0,1,2.34.91,4.05,4.05,0,0,1,0,5,3.07,3.07,0,0,1-2.33.91,3.11,3.11,0,0,1-2.35-.9,3.42,3.42,0,0,1-.87-2.48"/>
        <path class="cls-1"
              d="M34.77,76.72V75.59h2.88v2.63a3.64,3.64,0,0,1-1.22.72,4.34,4.34,0,0,1-1.61.31A3.49,3.49,0,0,1,33,78.81a2.68,2.68,0,0,1-1.16-1.24,4,4,0,0,1-.39-1.76A3.76,3.76,0,0,1,31.9,74a2.9,2.9,0,0,1,1.26-1.24,3.46,3.46,0,0,1,1.59-.33,3.23,3.23,0,0,1,1.93.52,2.36,2.36,0,0,1,.89,1.43l-1.33.25a1.46,1.46,0,0,0-.53-.77,1.56,1.56,0,0,0-1-.28,1.79,1.79,0,0,0-1.39.55,2.33,2.33,0,0,0-.52,1.65,2.57,2.57,0,0,0,.52,1.76,1.73,1.73,0,0,0,1.37.59,2.33,2.33,0,0,0,.85-.16,2.92,2.92,0,0,0,.72-.4v-.82Z"/>
        <path class="cls-1"
              d="M39.61,75.82a2.49,2.49,0,0,0,.51,1.7,1.69,1.69,0,0,0,1.32.58,1.72,1.72,0,0,0,1.32-.57,2.54,2.54,0,0,0,.51-1.73,2.49,2.49,0,0,0-.49-1.69,1.86,1.86,0,0,0-2.67,0,2.45,2.45,0,0,0-.5,1.7m-1.38.05a4.08,4.08,0,0,1,.3-1.7,3.09,3.09,0,0,1,.61-.91,2.81,2.81,0,0,1,.86-.59,3.58,3.58,0,0,1,1.43-.27,3.18,3.18,0,0,1,2.35.91,3.56,3.56,0,0,1,.87,2.53,3.5,3.5,0,0,1-.87,2.5,3.07,3.07,0,0,1-2.33.91,3.1,3.1,0,0,1-2.35-.9,3.38,3.38,0,0,1-.87-2.48"/>
        <polygon class="cls-1"
                 points="46.81 79.14 46.81 73.64 44.84 73.64 44.84 72.51 50.11 72.51 50.11 73.64 48.15 73.64 48.15 79.14 46.81 79.14"/>
        <path class="cls-1"
              d="M52.71,71.91l.61-1.35h1.42l-1.23,1.35Zm1.38,4.6-.92-2.45-.89,2.45Zm2.46,2.63H55.09l-.58-1.51H51.87l-.55,1.51H49.9l2.58-6.63H53.9Z"/>
        <path class="cls-1"
              d="M60.38,73.64V78h1a3.84,3.84,0,0,0,.81-.06,1.24,1.24,0,0,0,.55-.27,1.58,1.58,0,0,0,.35-.64,4.32,4.32,0,0,0,.13-1.21,4,4,0,0,0-.13-1.18A1.62,1.62,0,0,0,62.7,74a1.36,1.36,0,0,0-.61-.31,6.49,6.49,0,0,0-1.1-.06ZM59,72.51h2.45a4.94,4.94,0,0,1,1.26.13,2.3,2.3,0,0,1,1,.61,3,3,0,0,1,.64,1.08,5,5,0,0,1,.21,1.56,4.48,4.48,0,0,1-.2,1.41,3,3,0,0,1-.72,1.17,2.25,2.25,0,0,1-.93.53,4.26,4.26,0,0,1-1.19.14H59Z"/>
        <path class="cls-1"
              d="M71.77,76.69l1.29.41a3,3,0,0,1-1,1.62,2.86,2.86,0,0,1-1.77.53,2.82,2.82,0,0,1-2.16-.9,3.44,3.44,0,0,1-.86-2.47,3.62,3.62,0,0,1,.86-2.56,2.93,2.93,0,0,1,2.24-.92,2.72,2.72,0,0,1,2,.73,2.56,2.56,0,0,1,.68,1.22l-1.32.31a1.39,1.39,0,0,0-.5-.81,1.38,1.38,0,0,0-.9-.3,1.49,1.49,0,0,0-1.2.53,2.55,2.55,0,0,0-.46,1.71,2.7,2.7,0,0,0,.46,1.78,1.42,1.42,0,0,0,1.17.53,1.29,1.29,0,0,0,.91-.34,1.85,1.85,0,0,0,.56-1.07"/>
        <rect class="cls-1" x="73.81" y="77.9" width="1.27" height="1.27"/>
        <path class="cls-1"
              d="M30.56,36.2c.72-.26,1.65-.78,1.14-1.72,0,0-1.16,1.21-2.05,1.14,1.24-.83,1.73-2.22,1.08-3.24a2.63,2.63,0,0,0-3.61-.4,2.54,2.54,0,0,0-1.21,3.37c.63,1,2.09,1.2,3.43.46a3.69,3.69,0,0,1-2,1.22s.74,1.44,2.39-.47c2.89,2,2.25,4.57,2.49,5.71l1.39.06c-.18-.84-.19-4.21-3-6.13m-1.15-.68c-.55.35-1.39.12-2.11-.93s-.66-2.21-.12-2.49,1.56.22,2.23,1.27.54,1.86,0,2.15"/>
        <path class="cls-1"
              d="M52,32c-1.33-.82-3-.65-3.62.4a2.43,2.43,0,0,0,1.08,3.23c-.9.08-2.05-1.13-2.05-1.13-.51.93.42,1.46,1.14,1.72-2.82,1.92-2.83,5.29-3,6.13l1.39-.06c.24-1.15-.4-3.69,2.5-5.71,1.64,1.91,2.38.47,2.38.47a3.67,3.67,0,0,1-2-1.22,2.52,2.52,0,0,0,3.42-.46A2.54,2.54,0,0,0,52,32m-.19,2.61c-.72,1-1.57,1.28-2.1.93s-.73-1.16,0-2.15,1.68-1.57,2.22-1.27.54,1.45-.12,2.49"/>
        <path class="cls-1"
              d="M41.54,30.49c-1-.76.12-1.09.39-.84a4,4,0,0,0,4.7.64A5,5,0,0,1,44,27.73a5.58,5.58,0,0,0,6.39-.29c-2.41.41-4.28-1.86-4.28-1.86A7.24,7.24,0,0,0,52.47,24c-1.38.11-4.81-1.34-4.81-1.34,5.48-.17,6-4.07,6-4.07-1.5,1-5.55.52-5.55.52,5.74-2,5.31-6.74,5.31-6.74-1.21,1.8-6.75,3.55-6.75,3.55A3.69,3.69,0,0,0,44,19.24a1.34,1.34,0,0,1-1.32,1.17c-1.48,0-1.46-2.14-1.46-3.14,0-1.52-.05-3.25-1.14-3.25H37.89c-.39,0-1.07,0-1.34.29-.57.65-.48,2.37-.23,2a2.51,2.51,0,0,1,1.39,0c.69.2.18,2.37.18,2.85a1.3,1.3,0,0,1-1.33,1.22,1.36,1.36,0,0,1-1.33-1.17,3.7,3.7,0,0,0-2.65-3.36s-5.66-1.75-6.87-3.55c0,0-.42,4.76,5.37,6.86,0,0-4.1.35-5.61-.64.06,0,.78,4.07,6.27,4.24,0,0-3.62,1.22-4.94,1.05a7,7,0,0,0,6.45,2.09,6.09,6.09,0,0,1-4.53,1.51,5.61,5.61,0,0,0,6.4.41,4.74,4.74,0,0,1-2.54,2.44,4.06,4.06,0,0,0,4.76-.64c.33-.36,1.36.06.33.84-1.38,1.06-3.35,1.31-4.18,3.06l1,.19c-1.14,1.16-2.66,2.79-2.82,2.83,0,0-.36-.52-1.51.06-.6.29-.9,1-.48,1.33,0,0-.18.93.9.88,0,0,.43.75,1.33.17s-.06-.4-.18-.63.06-.12.06-.12c.42-.07,1-.53.6-.93a38,38,0,0,1,3.43-2.22l.19.94a4,4,0,0,1,2.1-1.4A5.77,5.77,0,0,0,37,39.3s.23-.75,1.44-.87c0,0-1.69,2,1,6,2.71-4,1.14-6,1.14-6a1.73,1.73,0,0,1,1.51.87,5.88,5.88,0,0,0-1.21-4.68A3.79,3.79,0,0,1,43,36.05l.19-1a39.34,39.34,0,0,1,3.43,2.25c-.37.4.24.86.6.93,0,0,.12-.07.06.12s-1,0-.18.63a.89.89,0,0,0,1.33-.17c1.08,0,.9-.88.9-.88.42-.29.12-1-.54-1.33-1.14-.58-1.51-.06-1.51-.06s-1.63-1.67-2.75-2.83l1-.19c-.73-1.68-2.68-2-4-3.06m-.7-17,1.21-1.86-1.87.7-.67-1.68-.72,1.68-1.92-.7,1.26,1.86Zm-2.77,1.75a.56.56,0,0,1,.6-.59.55.55,0,0,1,.54.59.53.53,0,0,1-.54.51.54.54,0,0,1-.6-.51"/>
        <path class="cls-1" d="M20,12c.54.07,1.14-.52,1.21-1.62s-.36-2.09-.91-2.15S19,9,19,10.18,19.39,11.93,20,12Z"/>
        <path class="cls-1"
              d="M21.57,27.27c-.05-1.16-.72-2-1.32-2s-1,1-.9,2.16.66,1.68,1.2,1.62S21.63,28.38,21.57,27.27Z"/>
        <path class="cls-1"
              d="M34.15,7.74c1.14-.06,2.05-.53,2.11-1.11s-1-1.1-2.17-1.1-1.75.64-1.75,1.16S32.94,7.8,34.15,7.74Z"/>
        <path class="cls-1" d="M59.38,12c.54-.05,1.08-.69,1-1.8s-.72-2-1.32-2-1,1-1,2.15S58.77,12.05,59.38,12Z"/>
        <path class="cls-1"
              d="M37.07,48.9c-1.2-.17-2.22.12-2.35.64s.66,1.28,1.81,1.51,1.93-.17,2-.75S38.22,49.14,37.07,48.9Z"/>
        <path class="cls-1" d="M46.93,6.69c0-.52-.6-1.1-1.75-1.16S43,6.11,43,6.63s1,1,2.1,1.11S47,7.28,46.93,6.69Z"/>
        <path class="cls-1"
              d="M22.52,43.21c-.67-.94-1.63-1.4-2.12-1.11s-.48,1.34.18,2.27,1.46,1.16,1.94.87S23.12,44.14,22.52,43.21Z"/>
        <path class="cls-1"
              d="M60.06,27.45c.07-1.17-.42-2.1-1-2.16s-1.27.82-1.32,2,.48,1.74,1,1.8S60,28.55,60.06,27.45Z"/>
        <path class="cls-1"
              d="M59,42.1c-.48-.29-1.45.17-2.11,1.11s-.54,1.74,0,2,1.27.06,1.93-.87S59.44,42.39,59,42.1Z"/>
        <path class="cls-1"
              d="M39.53.32a25.62,25.62,0,0,1-23.69,0V42.72A9.42,9.42,0,0,0,25.43,52c5.13,0,9.69.71,14.1,3.53C43.94,52.8,48.46,52,53.59,52a9.46,9.46,0,0,0,9.63-9.32V.27A25.68,25.68,0,0,1,39.53.32ZM58.59,6.93S58.71,6,58.9,6s.48.87.48.87c.36-.35,1.08.06,1.08.06l-.06.17a.73.73,0,0,0-1,.64c0,.17-.78.24-.78.06a.83.83,0,0,0-1.08-.58l-.06-.12S58.11,6.58,58.59,6.93Zm.49,1.22A2.45,2.45,0,0,1,61.9,10a2.33,2.33,0,0,1-2.21,2.18A3.74,3.74,0,0,0,61.85,12s.16,1.35-1.91.91c.09,1.09-.61,1.89-.87,3a2.38,2.38,0,0,1,.61-.56,3,3,0,0,1,2-.35,2.18,2.18,0,0,1-1,1.46,2.72,2.72,0,0,1-1.73.43,4.55,4.55,0,0,0,.52,1.77l-1,.76a5.83,5.83,0,0,1,.12-4.59A3.29,3.29,0,0,0,59.18,13c-.66.24-2,.57-2.15-.56a3.78,3.78,0,0,0,2.15-.23A2.48,2.48,0,0,1,56.6,10.3,2.33,2.33,0,0,1,59.08,8.15Zm1.59,16-.07.18a.81.81,0,0,0-1.08.58c0,.17-.78.11-.78-.06a.72.72,0,0,0-1-.64L57.72,24s.72-.4,1.07-.06c0,0,.31-.92.49-.87s.3.93.3.93C60.06,23.66,60.67,24.13,60.67,24.13Zm-15.55-20a2.21,2.21,0,0,1,2,2.36,3.19,3.19,0,0,0,.06-2.13s1.39,0,.85,1.88c1.08,0,1.84.73,2.9,1.07a1.91,1.91,0,0,1-.49-.63,2.34,2.34,0,0,1-.24-1.91,2,2,0,0,1,1.44,1,2.42,2.42,0,0,1,.3,1.67,4.79,4.79,0,0,0,1.87-.33l.73,1a6.73,6.73,0,0,1-4.77-.53A4.42,4.42,0,0,0,48,7c.16.63.36,2-.75,2,0,0,.37-1.47-.12-2.14a2.32,2.32,0,0,1-2.17,2.37,2.28,2.28,0,0,1-2-2.56A2.34,2.34,0,0,1,45.12,4.14ZM41.69,6.29c-.37-.41.11-1,.11-1L42,5.3c-.3.52.3,1,.6,1s.18.69,0,.69a.85.85,0,0,0-.73,1h-.17s-.42-.64-.07-1c0,0-1-.17-1-.35S41.69,6.29,41.69,6.29Zm-5,0c.31,0,.91-.47.6-1l.18-.06s.49.64.13,1c0,0,1,.17,1,.34s-1,.35-1,.35c.36.41-.06,1-.06,1h-.18a.84.84,0,0,0-.73-1C36.5,7,36.5,6.29,36.68,6.29Zm-11.21.87a4.82,4.82,0,0,0,1.87.33,2.48,2.48,0,0,1,.3-1.67,2,2,0,0,1,1.45-1,2.34,2.34,0,0,1-.25,1.91,1.89,1.89,0,0,1-.48.63c1.05-.34,1.81-1,2.89-1.07-.53-1.93.85-1.88.85-1.88a3.19,3.19,0,0,0,.06,2.13,2.22,2.22,0,0,1,2-2.36,2.33,2.33,0,0,1,2.17,2.49,2.26,2.26,0,0,1-2,2.56,2.32,2.32,0,0,1-2.17-2.37C31.67,7.49,32,9,32,9c-1.11,0-.91-1.38-.75-2a4.37,4.37,0,0,0-1.78.67,6.71,6.71,0,0,1-4.76.53ZM20,6.87s.3-.93.48-.87.3.93.3.93c.48-.35,1.09.17,1.09.17l-.06.12a.82.82,0,0,0-1.08.58c-.06.17-.79.11-.79-.06a.74.74,0,0,0-1-.64l-.06-.17S19.63,6.52,20,6.87Zm.3,1.28a2.32,2.32,0,0,1,2.47,2.15,2.47,2.47,0,0,1-2.58,1.86,3.81,3.81,0,0,0,2.16.23c-.18,1.13-1.5.8-2.16.56a3.24,3.24,0,0,0,.54,1.83,6.1,6.1,0,0,1,.12,4.59l-1-.76a4.41,4.41,0,0,0,.48-1.77,2.67,2.67,0,0,1-1.69-.43,2,2,0,0,1-1-1.46,3,3,0,0,1,2,.35,2.34,2.34,0,0,1,.54.49c-.28-1-.93-1.84-.83-2.89-2,.42-1.88-.92-1.88-.92a3.74,3.74,0,0,0,2.16.15A2.34,2.34,0,0,1,17.46,10,2.47,2.47,0,0,1,20.29,8.15ZM21.63,24l-.06.18a.72.72,0,0,0-1,.64c0,.17-.72.23-.78.06a.82.82,0,0,0-1.09-.58l-.06-.18s.6-.47,1.08-.12c0,0,.13-.93.3-.93s.49.88.49.88C20.91,23.61,21.63,24,21.63,24Zm-4.46,6.75A2.29,2.29,0,0,1,19,31.4a1.57,1.57,0,0,1,.63,1,3.83,3.83,0,0,1,.22-.56c.48-1,.58-1.43.52-1.82-.66.24-2,.56-2.15-.56,0,0,1.58.25,2.23-.28a2.44,2.44,0,0,1-2.66-1.81,2.42,2.42,0,0,1,2.48-2.21c1.44-.06,2.71.75,2.83,1.86a2.3,2.3,0,0,1-2.32,2.14A3.56,3.56,0,0,0,23,29.07s.16,1.34-1.89.91c.18,1.82-1.85,2.84-.46,5.72l-1,.75A5.91,5.91,0,0,1,19.46,33a2.46,2.46,0,0,1-1.74-.64A1.66,1.66,0,0,1,17.17,30.76Zm1.42,11.16-.11-.11s.3-.76.9-.64c0,0-.42-.87-.24-1s.84.58.84.58c.19-.52,1-.52,1-.52l.06.17a.79.79,0,0,0-.55,1.11c.12.12-.54.52-.6.4A.82.82,0,0,0,18.59,41.92Zm8,8.67a4.38,4.38,0,0,0-.69-1.68,3.06,3.06,0,0,1-1.6.63,2.16,2.16,0,0,1-1.75-.64,2.53,2.53,0,0,1,1.81-.81,2.58,2.58,0,0,1,.8.06c-.87-.67-1.9-.92-2.51-1.84-1.39,1.5-2.09.33-2.09.33a3.32,3.32,0,0,0,1.9-1.23,2.36,2.36,0,0,1-3.22-.34A2.35,2.35,0,0,1,20.34,42c1.21-.75,2.71-.63,3.32.29a2.18,2.18,0,0,1-.94,3c.83.08,2-1,2-1,.54,1-.73,1.46-1.38,1.65.2.36.53.63,1.56,1.14a6.32,6.32,0,0,1,3,3.6Zm7.63-.81c-.36-.07-1,.29-.9.86h-.18s-.31-.69.18-1c0,0-1-.41-.91-.58s1-.12,1-.12c-.3-.52.3-1,.3-1l.18.12a.76.76,0,0,0,.42,1.11C34.54,49.14,34.36,49.83,34.24,49.78Zm11.15,1.56a4.5,4.5,0,0,0-1.74-.7A2.33,2.33,0,0,1,43,52.16a2.28,2.28,0,0,1-1.69.76A3.12,3.12,0,0,1,42,51.05a2.3,2.3,0,0,1,.63-.44c-1.11.13-2,.63-3.12.43.12,2-1.25,1.58-1.25,1.58a3.28,3.28,0,0,0,.45-2.07,2.26,2.26,0,0,1-2.5,1.9,2.43,2.43,0,0,1-1.57-2.91,2.39,2.39,0,0,1,2.59-2.09,2.32,2.32,0,0,1,1.55,2.73c.61-.53.57-2,.57-2,1.13.31.63,1.5.31,2.07a3.57,3.57,0,0,0,1.92-.2,6.79,6.79,0,0,1,4.82.46Zm-5.9-4.52c-3-1.9-5.9-2.28-9.4-2.28a6.06,6.06,0,0,1-6.16-6.16l0-28.55c3.79,2,12.14.67,15.78-1.23,3.69,1.92,12,3.24,15.79,1.23l0,28.55a6.46,6.46,0,0,1-6.61,6.16C45.36,44.54,42.5,44.94,39.49,46.82Zm20.62-1.75a2.43,2.43,0,0,1-3.2.4,3.47,3.47,0,0,0,1.87,1.17s-.69,1.17-2.07-.33c-.63.91-1.65,1.17-2.53,1.84a2.85,2.85,0,0,1,2.61.75,2.2,2.2,0,0,1-1.74.64,2.82,2.82,0,0,1-1.6-.63,4.45,4.45,0,0,0-.69,1.68l-1.27,0a6.32,6.32,0,0,1,3-3.6c1-.51,1.36-.78,1.56-1.14-.66-.19-1.92-.69-1.38-1.65,0,0,1.09,1,1.92,1a2.21,2.21,0,0,1-.89-3c.6-.93,2.11-1,3.32-.29A2.35,2.35,0,0,1,60.11,45.07Zm.6-3.15a.75.75,0,0,0-1.2,0c-.07.12-.73-.28-.67-.4a.76.76,0,0,0-.48-1.11l.06-.17s.78,0,1,.52c0,0,.66-.69.84-.58s-.24,1-.24,1c.59-.12.9.64.9.64Zm.92-9.59a2.39,2.39,0,0,1-1.72.64,5.74,5.74,0,0,1-.27,3.48l-1-.75c1.44-2.89-.58-3.91-.45-5.72-2.06.44-1.84-.91-1.84-.91a3.32,3.32,0,0,0,2.19.11A2.29,2.29,0,0,1,56.27,27c.12-1.11,1.38-1.92,2.83-1.87a2.42,2.42,0,0,1,2.47,2.22,2.42,2.42,0,0,1-2.65,1.81c.65.53,2.23.28,2.23.28-.19,1.12-1.5.8-2.16.56-.06.39,0,.79.53,1.82a5.55,5.55,0,0,1,.24.56,1.79,1.79,0,0,1,.61-1,2.33,2.33,0,0,1,1.86-.64A1.89,1.89,0,0,1,61.63,32.33Z"/>
        <path class="cls-1"
              d="M26.75,30.81s-.72-.75-.9-.69.18,1.1.18,1.1c-.6-.11-.9.7-.9.7l.12.11a.86.86,0,0,1,1.32,0c.12.18.79-.23.73-.4s-.06-1.11.54-1.16v-.24S26.94,30.23,26.75,30.81Z"/>
        <path class="cls-1"
              d="M33.26,40.29a2.33,2.33,0,0,0,1.81-.87,2.48,2.48,0,0,0,.67-2,2.68,2.68,0,0,0-1.81.82A2.87,2.87,0,0,0,33.26,40.29Z"/>
        <path class="cls-1"
              d="M53.82,32l.12-.11s-.29-.81-.9-.7c0,0,.37-1,.18-1.1s-.9.69-.9.69c-.19-.58-1.09-.58-1.09-.58v.24c.6.05.73.87.54,1.16s.61.58.73.4A.86.86,0,0,1,53.82,32Z"/>
        <path class="cls-1"
              d="M43.34,37.44a2.43,2.43,0,0,0,.66,2,2.33,2.33,0,0,0,1.81.87,2.87,2.87,0,0,0-.67-2A2.7,2.7,0,0,0,43.34,37.44Z"/>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {
    name: "Logo"
  }
</script>

<style scoped>
  .cls-1 {
    fill: #fff
  }
</style>